/* define some variables  */
:root{
    --bg-color:#fff;
    --primary-color:rgb(255,93,0);
    --secodry-color:rgb(4,179,255);
}
/* form style start */
#reg-form{
    margin: 7% auto ;
    margin-bottom: 5%;
    border: 3px solid var(--primary-color);
    border-radius: 11px;
    padding: 5px 15px;
}
@media (min-width:768px){
    #reg-form{
    width: 700px;
    }
}
@media (max-width:768px){
    #reg-form{
        margin: 7% 10px;
    }
}
#reg-form .form-control{
    margin-bottom: 10px;
    border: none;
    outline: none;
    border-bottom: 3px solid rgb(150, 150, 150);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0);
    position: relative;

}
#reg-form .form-control:focus{
    border-bottom: 3px solid rgba(219, 99, 29, 0.925);
    box-shadow: none;
}
.lbl{
    padding:0 5px;
    font-size: 16px;
    position: relative;
    z-index: 0;
    height: 12px;
    top: 28px;
    left: 8px; 
    color: gray;
}
.acc{
    font-size: 12px;
}
a{
    color: rgba(219, 99, 29, 0.925);
}
#reg-btn{
    width: 100%;
    background-color: var(--primary-color);
    color: wheat;
    border: none;
    
}
#reg-btn{
    box-shadow:none;
}
#sp-hr{
    height: 1.3px;
    margin-bottom: 0;
    position: relative;
}
.vr-div{
    width: 1.3px;
    background-color: grey;
}
#or-span{
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding: 0;
    font-size: 20px;
    height: 15px;
    transform: translateY(-14.25px);
    background-color: var(--bg-color);
}
#or-span-sm{
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 0;
    font-size: 15px;
    height: 15px;
    width: 20px;
    transform: translateY(-14.25px);
    background-color: var(--bg-color);
}

/* media button start */
  
a.l-btn {
    font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: inline-block;
    font-size: 14px;
    padding: 13px 30px 15px 44px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,20,.4);
    text-decoration: none;
    line-height: 1;
    position: relative;
    border-radius: 5px;
    margin: auto;
    display: block;
    width: 85%;
    margin: auto;
    margin-bottom: 8px;
}
.connect:before {
    display: inline-block;
    position: relative;
    height: 23px;
    background-repeat: no-repeat;
    background-position: 0px 3px;
    text-indent: -9999px;
    text-align: center;
    width: 29px;
    line-height: 23px;
    margin: -8px 7px -7px -30px;
    padding: 2 25px 0 0;
}
/* customize icon and colo for every media btn start */
.fb:before{
    background-image: url("../img/icons/fb.png");
    content: "f";
}

a.fb{
    background: #3A5A97;
}
.tw:before{
    background-image: url("../img/icons/twitter.png");
    content: "t";
}
a.tw{
    background-color: #00acee;
}
.gi:before{
    background-image: url("../img/icons/github.png");
    content: "gi";
}
a.gi{
    background-color: white;
    color: #000;
    border: 1.5px solid black;
}
.go:before{
    background-image: url("../img/icons/google.png");
    content: "go";
}
a.go{
    background-color: white;
    color: gray;
    border: 1.5px solid gray;
}
/* customize icon and colo for every media btn end */
/* media buttons end */
/* form style end */

/* nav bar style start */
.navbar{
    background-color: rgb(56, 56, 56);
}
.navbar-brand{
    color: rgb(214, 206, 204);
}
.navbar-brand:hover{
    color: rgb(199,77,7);
}
.active{
    background-color: var(--primary-color);
    border-radius: 17%;
}
@media(max-width:768px){
    .active{
        background-color: transparent;
    
    }
    
    
}
.nav-link{
    color: white;
}
.active .nav-link:hover{
    color: grey;
}

.nav-link:hover{
    color: rgb(199,77,7);
}
.forget-pass{
    margin: 6px auto;
    text-align: center;
    display: block;
    font-size: 13px;

}
.form-title{
    margin: auto;
    color:var(--primary-color);
    text-align: center;
}

/* navbar style start */
