/* define some variables  */
/* navbar start */
:root{
    /* dark */
    --bg-color:rgb(54, 54, 54);
    --primary-color:rgb(255,93,0);
    --secodry-color:rgb(0, 179, 116);
    --tSecodry-color:rgb(1, 124, 81);
    --titles-colors:rgb(179, 179, 179);
    --categories-color:rgb(245, 245, 245);
    --navbar-color: rgb(73, 68, 64);
    --editor-color: rgb(73, 68, 64);
    --third-color:#3daebf;
    --secondry-editor-color:rgb(1, 73, 48);
    /* light */
    /* --bg-color:#fff;
    --primary-color:rgb(255,93,0);
    --secodry-color:rgb(0, 179, 116);
    --titles-colors:rgb(43, 43, 43);
    --categories-color:rgb(78,78,78); 
    --navbar-color: rgb(56, 56, 56);
    --third-color:#3daebf;
    
    */

}
body{
    background-color: var(--bg-color);    
}
/* navbar start */
.navbar{
    background-color: var( --navbar-color);
    
}
.navbar-brand{
    color: rgb(214, 206, 204);
}
.navbar-brand:hover{
    color: rgb(199,77,7) !important;
}
.search-nav-form{
    margin: 0;
    width: 75%;
}
.search-nav-form .form-control{
    width: 100%;
}

.has-search .form-control {
    padding-left: 2.375rem;
}
.has-search{width: 100%;}
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.search-input:focus{
    box-shadow: 1.2px 1.2px 5px rgb(199, 77, 7),-1.2px -1.2px 5px rgb(199, 77, 7);
    border: none;
}
.search-input{
    border: 2px solid var(--secodry-color);
    background-color:var(--navbar-color) ;
    color: var(--titles-colors);
}
.search-input:focus{
    background-color:var(--navbar-color) ;
    color: var(--titles-colors);

}
.avatar-img{
    width: 35px;
    height: 35px;
    border-radius: 5px;
}
.points-sp{
    color: rgb(214, 214, 214);
    font-size: 15px;
    margin-left: 7px;
}
.cus-nav-item{
    display: flex;
    align-items: center;
}
.badge{
    /* display: inline; */
    float: left;
}
.circular-badge{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    float: left;

}
.badge-num-span{
    margin-left: 5px;
}
.gold-badge{
    color: gold;
    background-color: gold;
}
.gold-badge-span{
    color: gold;
}
.silver-badge{
    color: silver;
    background-color: silver;
}
.silver-badge-span{
    color: silver;
}
.bronze-badge{
    color:#cd7f32;
    background-color: #cd7f32;
}
.bronze-badge-span{
    color: #cd7f32;
}
/* navbr  end */
/* custom scroll start */
.custom-scrollbar{
    overflow: auto;
}
.custom-scrollbar::-webkit-scrollbar{
    width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb{
    background-color: var(--bg-color);
}
.custom-scrollbar::-webkit-scrollbar-track{
    background-color: var(--secodry-color);
    border-radius: 4px;
}
/*  custom scroll end */
/* content start */
/* categories column start */
.categores-title{
    color: var(--titles-colors);
}
.categores-list{
    list-style: none;
    padding-left: 10px;
    
}
.cateogry-item{
    font-size: 15px;
    color: var(--categories-color);
    font-weight: 600;
    height: 40px;
    padding-left: 7px;
    padding-top: 5px;
    display: block;
    text-decoration: none;   
    white-space: nowrap;    
}
@media (min-width:768px) and (max-width:900px){
    .cateogry-item{
        font-size: 12.5px;
    }    
}
.cateogry-item:hover,.cateogry-item:visited{
    color: var(--categories-color);

}
.cateogry-active{
    /* border-right: 4px solid var(--primary-color); */
    background-color: rgba(221, 221, 221,.15);
}
.cateogry-act-border,.cateogry-border{
    height: 40px;
    width: 3px;
    background-color: var(--primary-color);
    position: relative;
    left: 0;
    top: -40px;
    float: right;
}
.cateogry-border{
    width: 0;
    height: 0;
}
.left-column, .right-column{
    /* padding-top: 30px; */
    position: fixed;
    top: 70px;
    height: 100%;
}
.left-column{
    left: 0;
}
.right-column{
    right: 0;
}
.left-column-w-b{
    border-right: 1.5px solid gray;

}
/* categories column end */

.left-bottom-column{
    border-top: .5px solid gray;
    margin-top: 45px;
}
/* center column start */
.center-column{
    padding: 30px 5px;
    padding-bottom:0 ;
    border-left: 1.5px solid gray;
    border-right: 1.5px solid gray;
    overflow-x: hidden;
}

.center-title ,.title{
    color: var(--titles-colors);
    float: left;
}
/* center column ene */
/* center column (index) start */
.suggest-btn{
    float: right;
}
.primary-button{
    background-color: var(--primary-color);
    border: none;
}
.primary-button:hover{
    /* color: var(--secodry-color); */
    background-color: var(--primary-color);
}
.secondry-button,
.secondry-button:active,
.secondry-button:focus,
.secondry-button:hover{
    background-color: var(--secodry-color);
    border: none;
    color: white;

}
.my-btn-group{
    margin-top:10px;
    float:right;
}
.btn-outline-primary{
    border-color: var(--secodry-color);
    color: var(--secodry-color);
}
.btn-outline-primary:hover{
    color: var(--primary-color);
    background-color: var(--bg-color);
    border-color: var(--primary-color);

}
/* center column (index) end */
/* right column  start */

.tags-div{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: var(--bg-color);
    border-radius: 0 0 4px 4px;
}
.card-header{
    background-color: var(--bg-color);
    border-bottom: beige solid 2px;
    border-radius: 4px 4px 0 0;
    border-top: none;
}
.tags-card{
    border-radius: 4px;
    border-top:  beige solid 1.5px !important;
}
.btn-tag{
    padding: 3px 6px;
    margin: 0 8px 8px 0;
}
.btn-tag:hover{
    background-color: var(--primary-color);
    border-color: transparent;

    color: white;
}
.btn-tag:active,.btn-tag:hover{
    background-color: var(--primary-color);
    color: white;
    border-color:transparent;
}
.card-header{
    color: var(--titles-colors);
}
/* right column  end */

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none !important;
}
.primary-button:active,.primary-button:focus{
    background-color: var(--primary-color);
}
.btn-outline-primary:focus,.btn-outline-primary:active{
    background-color: var(--bg-color);
    color: var(--primary-color);
    border-color: var(--primary-color);
}
/* questions list in (index) */
.question-item{
    margin-top: 20px;
    border-bottom: 1.5px solid var(--titles-colors);
    padding-bottom: 10px;
}
.questions-list > div:first-child{
    border-top: 1.5px solid var(--titles-colors);
    padding: 20px;
}
.questions-list > div:last-child{
    padding-bottom: 0;
}
.nums-que{
    text-align: center;
    height: 60px;
    border-radius: 8px;
    margin: 0 auto;
    padding: 0;
    width: 94px;
}
.answers-num-div{
    border:1px solid #57af76;
    /* width: 90px; */
}
.votes-num-span,.answers-num-span{
    display: block;
    width: 100%;
    font-size: 22px;
    text-align: center;
}
.answers-word,.votes-word{
    font-weight: bold;
}
.answers-word, .answers-num-span{
    color:#57af76 ;
}
.votes-num-div,.left-bottom-column,.right-bottom-column{
    color: var(--titles-colors);
}
.added-by-div{
    padding-top: 20px;
    padding-left: 8px;
    font-size:12px;
    color: var(--titles-colors); 
}
.by-user-name{
    text-decoration: none;
    color: var(--secodry-color);
}
.by-user-name:hover{
    color: var(--primary-color);
}
.by-user-name:visited{
    color: var(--secodry-color);

}
.question-title{
    color: var(--secodry-color);
    font-size: 15px;
    font-weight: bold;
    text-overflow: ellipsis;
    height: 90px;
    overflow: hidden;
}
.question-tags{
    float: left;   
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 50%;
    padding: 10px;
    height: 80px;  
}

.question-date{
    display: block;
    float: right;
    font-size: 15px;
    color: var(--titles-colors);
    padding-top:15px ;
    /* width: 100%; */
}
/* xl */
@media (max-width:1200px){
    .center-column{
    padding: 30px 15px;
    padding-bottom: 0%;
    }
}
/* md */
@media (max-width:768px){
    .center-column{
        border: none;
    }
    .cus-nav-item{
        margin-top: 10px;
    }
    /* index */
    .question-tags{
        width: 100%;
    }
}
/* qeustions page start */
.question-dev-parent{
    width: 100%;
    border:1.5px solid var(--titles-colors);
    border-radius: 5px;
}
.questions-gird-toolbar{
    border-bottom:1.5px solid var(--titles-colors);
    padding: 10px 5px;
    min-height: 60px;
}
.sort-by-word{
    color: var(--categories-color);
 }
.selected-span,.custom-select-item{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
 
.custom-select .btn-select{
    background-color: var(--secodry-color);
    color: whitesmoke;
    width: 100%;
    text-align: start;
    padding: 8px 5px;
    height: 40px;
    border: none;
    border-radius: 4px;
}
.custom-select .btn-select-act{
    border-radius: 4px 4px 0 0;

}
.custom-select{
    position: relative;
}
.select-arrow{
    position: absolute;
    top: 13px;
    right: 5px;
}
.custom-select .custom-select-list{
    list-style: none;
    background-color: var(--secodry-color);
    color: whitesmoke;
    padding: 0;
    position: absolute;
    width: 100%;
    display: block;
    visibility: hidden;
    z-index: 10;
    border-radius: 0 0 4px 4px;

}
.custom-select-item{
    padding: 5px;
    cursor: pointer;
}
.custom-select-item:hover{
    background-color: var(--tSecodry-color);

}
@media (min-width:1200px) and (max-width:1360px){
    .selected-span,.custom-select-item{
        font-size: 13.5px;
    }      
}
@media (max-width:992px) {
    .selected-span,.custom-select-item{
        font-size: 15px;
    }   
    .select-arrow{
        font-size: 14px;
    }   
}
@media (max-width:530px) {
    .selected-span,.custom-select-item{
        font-size: 12px;
    }
    .select-arrow{
        padding-top:5px ;
        font-size: 11px;
    }   
}
@media (max-width:400px) {
    .selected-span,.custom-select-item{
        font-size: 9px;
    }
    .select-arrow{
        padding-top:5px ;
        font-size: 11px;
    }   
}
.grid-indcator{
    float: right;
}
@media (max-width:768px){
    .grid-indcator{
        margin-top: 10px;
    }
}
.act-grid-incator{
    font-weight: bold;
    color: var(--third-color);
    border-color: var(--third-color);
    border-width: 2px;
}
/* qeustions page end */
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    height: 70px;
    overflow: hidden;
}
.grid-questions{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.question-item-grid{
    width: 270px;
    padding: 5px;
    border: 1.1px solid var(--titles-colors);
    border-radius: 6px;
    margin: 10px;
    transform: scale(0);
 
}
.item-grid-ani-100{
    animation-name: que-grid-scale  ;
    animation-duration: .1s;
    animation-fill-mode: forwards;
    
}
.item-grid-ani-50{
    animation-name: que-grid-scale  ;
    animation-duration: .05s;
    animation-fill-mode: forwards;
    
}
.question-item-grid .answers-num-span,
.question-item-grid .votes-num-span,
.question-item-grid .votes-word,
.question-item-grid .answers-word{
    font-size: 12px;
}
.question-item-grid .nums-que{
    width: 55px;
    height: 45px;
}
.question-item-grid .question-tags{
    width:100% ;
    height: 40px;
    padding: 0px;
    flex-wrap: nowrap;
    overflow: auto;
}
.question-item-grid .question-tags::-webkit-scrollbar{
    height: 5px;
}
.question-item-grid .added-by-div{
    float: left;
}
.question-item-grid .btn-tag{
    height: 27px;
    padding: 0 3px;
}

  @keyframes que-grid-scale {
      from{
          /* visibility:visible; */
          transform: scale(0);
      }
      to{
        transform: scale(1);

      }
  }

  /* define some variables  */
:root{

    /* dark */
    --bg-color:rgb(54, 54, 54);
    --primary-color:rgb(255,93,0);
    --secodry-color:rgb(0, 179, 116);
    --titles-colors:rgb(179, 179, 179);
    --categories-color:rgb(245, 245, 245);
    --navbar-color: rgb(73, 68, 64);
    /* light */
    /* --bg-color:#fff;
    --primary-color:rgb(255,93,0);
    --secodry-color:rgb(0, 179, 116);
    --titles-colors:rgb(43, 43, 43);
    --categories-color:rgb(78,78,78); 
    --navbar-color: rgb(56, 56, 56);
    
    */}
body{
    background-color: var(--bg-color);
}
/* form style start */
#reg-form{
    margin: 7% auto ;
    margin-bottom: 5%;
    border: 3px solid var(--primary-color);
    border-radius: 11px;
    padding: 5px 15px;
}
@media (min-width:768px){
    #reg-form{
    width: 700px;
    }
}
@media (max-width:768px){
    #reg-form{
        margin: 7% auto;
    }
}
.form-parent{
    padding: 0 10px;
}
#reg-form .form-control{
    margin-bottom: 10px;
    border: none;
    outline: none;
    border-bottom: 3px solid rgb(150, 150, 150);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0);
    position: relative;

}
#reg-form .form-control:focus{
    border-bottom: 3px solid var(--secodry-color);
    box-shadow: none;
}
.lbl{
    padding:0 5px;
    font-size: 16px;
    position: relative;
    z-index: 0;
    height: 12px;
    top: 28px;
    left: 8px; 
    color: gray;
}
.lbl-color-set{
    color: var(--secodry-color);
}
.acc{
    font-size: 12px;
    color: var(--titles-colors);
}
.acc a{
    color: var(--secodry-color);
}
#reg-btn{
    width: 100%;
    background-color: var(--primary-color);
    color: wheat;
    border: none;
    
}
#reg-btn{
    box-shadow:none;
}
#sp-hr{
    height: 1.3px;
    margin-bottom: 0;
    position: relative;
}
.vr-div{
    width: 1.3px;
    background-color: grey;
}
#or-span{
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding: 0;
    font-size: 20px;
    height: 15px;
    transform: translateY(-14.25px);
    background-color: var(--bg-color);
    color: var(--titles-colors);
}
#or-span-sm{
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 0;
    font-size: 15px;
    height: 15px;
    width: 20px;
    transform: translateY(-14.25px);
    background-color: var(--bg-color);
    color: var(--titles-colors);

}

/* media button start */
  
a.l-btn {
    font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: inline-block;
    font-size: 14px;
    padding: 13px 30px 15px 44px;
    color: #fff;
    /* text-shadow: 0 -1px 0 rgba(0,0,20,.4); */
    text-decoration: none;
    line-height: 1;
    position: relative;
    border-radius: 5px;
    margin: auto;
    display: block;
    width: 85%;
    margin: auto;
    margin-bottom: 8px;
}
.connect:before {
    display: inline-block;
    position: relative;
    height: 23px;
    background-repeat: no-repeat;
    background-position: 0px 3px;
    text-indent: -9999px;
    text-align: center;
    width: 29px;
    line-height: 23px;
    margin: -8px 7px -7px -30px;
    padding: 2 25px 0 0;
}
/* customize icon and colo for every media btn start */
.fb:before{
    background-image: url("../img/icons/facebook.svg");
    content: "f";
    background-size: 20px;
}

a.fb{
    background: #3A5A97;
}
.tw:before{
    background-image: url("../img/icons/twitter.svg");
    content: "t";
    background-size: 20px;

}
a.tw{
    background-color: #00acee;
}
.gi:before{
    background-image: url("../img/icons/github-dark.svg");
    content: "gi";
    background-size: 20px;

}
a.gi{
    background-color: var(--bg-color);
    color: var(--titles-colors);
    border: 1.5px solid var(--titles-colors);
}
.go:before{
    background-image: url("../img/icons/google.svg");
    content: "go";
    background-size: 20px;

}
a.go{
    background-color: var(--bg-color);
    color: var(--titles-colors);
    border: 1.5px solid var(--titles-colors);
}
/* customize icon and colo for every media btn end */
/* media buttons end */
/* form style end */

/* nav bar style start */
.navbar{
    background-color: var(--navbar-color);
}
.navbar-brand{
    color: rgb(214, 206, 204);
}
.navbar-brand:hover{
    color: rgb(199,77,7) !important;
}
.navbar .custom-nav-active{
    background-color: var(--primary-color);
    border-radius: 17%;
}
@media(max-width:768px){
    .custom-nav-active{
        background-color: transparent;
    
    }
    
    
}
.nav-link{
    color: white !important;
}

.active .nav-link:hover{
    color:rgb(56, 56, 56) !important;
}
.nav-link:hover{
    color: rgb(199,77,7) !important;
}
.forget-pass{
    margin: 6px auto;
    text-align: center;
    display: block;
    font-size: 13px;

}
.form-title{
    margin: auto;
    color:var(--primary-color);
    text-align: center;
}
.form-msg{
    color: var(--titles-colors);
}
/* complete register */
.animeted-tags-grid .btn-tag{
    transform: scale(0);
}


.TMCommandBar{
    padding: 8px;
    background-color: var(--primary-color);
    border: 3px solid var(--tSecodry-color);
    border-bottom: 3.5px solid var(--tSecodry-color);
    border-radius: 7px 7px 0 0;
    flex-wrap: wrap;
    height: auto;
    min-height: 24px;
}
.TMCommandButton,
.TMCommandButton_Active,
.TMCommandButton_Inctive{
    fill: var(--secondry-editor-color);
    background-color: var(--primary-color);

}
.TMCommandDivider{
    border-left: 1px solid var(--secondry-editor-color);
    border-right: 1px solid var(--secondry-editor-color);

}
.TinyMDE{
    background-color: var(--editor-color);
    color: var(--titles-colors);
    border: 3px solid var(--tSecodry-color);
    border-top: none;
    /* border-radius: 0 0 7px 7px; */
    box-sizing: border-box;
    min-height: 247px;
    border-bottom: none;
}
.TMMark{
    color: var(--titles-colors);

}
.editor-partnt{
    height: 250px;
    border-radius: 0 0 7px 7px;
    border-bottom: 3px solid var(--tSecodry-color);

}
.editor-partnt::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
}

.que-input,.custom-input{
    background-color: var(--editor-color);
    color: var(--titles-colors);
    border: 2px solid var(--tSecodry-color);
}

.que-input:focus,.custom-input:focus{
    box-shadow: .3px .3px 5px var(--primary-color),-0.3px -0.3px 5px var(--primary-color);
    border-color: transparent;
    
    background-color: var(--editor-color);
    color: var(--titles-colors);
}

.que-title-input{
    margin-bottom: 15px;
}
.que-tags-input{
    margin-top: 15px;
    margin-bottom:3px;
}
.tags-list{
    position: absolute;
    list-style: none;
    padding: 4px 0px;
    background-color: var(--editor-color);
    min-height: 40px;
    max-height:100px ;
    color: var(--titles-colors);
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    display: none;
    min-width: 200px;
}
.tags-list::-webkit-scrollbar-thumb{
    background-color: var(--editor-color);
}
.tags-list-item{
    
    padding: 0 10px;
    border-bottom: 2px solid var(--titles-colors);
}
.tags-list-item:hover,
.current-list-tag{
    background-color: var(--primary-color);
    color: white;
    border-bottom-color: var(--secodry-color);
}
.add-que-continer{
    padding: 0 5px;
}
.tags-card-in-add{
    margin-top:  20px;
    margin-bottom:10px ;
}
.add-que-button{
    
    float: right;
}
.add-ans-button{
    float: right;
    margin-top: 10px;
}
.que-title{
    color: var(--secodry-color);
}
.que-data-title{
    color: var(--titles-colors);
}
.que-data{
    color: var(--categories-color);
    padding-right: 10px;
}
.icons-col{
    padding: 0;
}
.sort-icon{
    display: block;
    color: var(--primary-color);
    font-size: 5vw;
    margin: auto;
    text-align: center;
}
.question-div,
.answer-div{
    margin-bottom: 10px;
    border-bottom: 2px solid var(--titles-colors);
    padding-bottom: 10px;
}
.votes-number-span{
    font-size: 1.5vw;
    color: var(--secodry-color);
    margin: auto;
    text-align: center;
    display: block;
}

.bookmark-icon{
    font-size: 3vw;
    color: var(--secodry-color);
    padding: 13px 0;
    display: block;
    text-align: center;
}
@media(min-width:950px )and (max-width:1200px){
    .sort-icon{
        font-size: 6vw;
    }
    .votes-number-span{
        font-size: 2.5vw;
    }
    .bookmark-icon{
    font-size: 4vw;
    }
}
@media(max-width:950px){
    .sort-icon{
        font-size: 7vw;
    }
    .votes-number-span{
        font-size: 2.8vw;
    }
    .bookmark-icon{
    font-size: 4vw;
    }

}

.sort-icon-up{
    margin-bottom: -3vh;
}
.sort-icon-down{
    margin-top: -3vh;
}

.question-content{
    color: var(--titles-colors);
}
.question-content{
    margin-bottom: 10px;
}
.question-content code{
    background-color: var(--titles-colors);
    color: var(--navbar-color);
    padding: 4px;
}

.added-by-div-q{
    background-color: var(--navbar-color);
    border: 3px solid var(--primary-color);
    border-radius: 7px;
    padding: 10px;   
    float: right;
    margin-right: 20px;
}
.questtion-add-date{
    color: var(--titles-colors);
    margin: 0 10px;
}
.comments-div{
    margin: auto;
    margin-top: 20px;
    width: 90%;
}
.comments-list{
    list-style: none;
}
.comment-content{
    color: var(--titles-colors);
    display: inline;
    /* width:90%; */
}
.sperat-div{
    
    color: var(--titles-colors);
    display: inline;
}
.comments-div .by-user-name{
    margin: 0 7px;
    white-space: nowrap;
}
.comments-div .questtion-add-date{
    white-space: nowrap;
} 
.comment-item{
    padding-bottom: 10px;
    border-bottom: 1px solid var(--titles-colors);
}
.ans-added-by-div{
    margin-right: 20px;
    float: right;
}
.added-by-parent{
    width: 100%;
}
.added-by-div .badge-num-span{
    font-size: 14px;
}
.added-by-div .circular-badge{
    margin-top: 2px;
    height: 12px;
    width: 12px;
}
.added-by-div .by-user-name{
    white-space: nowrap;
}
.sort-by-toolbar{
    margin-top: 7px;
}

.custom-link{
    font-size: 15px;
    text-decoration: none;
    background-color: var(--bg-color);
}
.custom-link-sm{
    font-size: 13px;
}
.primary-link{
    color: var(--primary-color);

}

.primary-link:hover,.primary-link:visited{
    color: var(--primary-color);
    
}
.secondry-link{
    color: var(--secodry-color);

}

.secondry-link:hover,.secondry-link:visited{
    color: var(--secodry-color);
    
}
.link-break{
    display: inline;
    color:var(--titles-colors);
}
.suggest-cate-btn{
    background-color: var(--secodry-color);
}
.suggest-cate-btn{
     margin: 0 10px;
}
@media (max-width:1045px){
    .suggest-cate-btn{
        margin: 10px;
   }
}
.suggest-msg-inp{
    margin: 10px 0;
    height: 250px;
    text-align: top;
}
.category-select-toolbar{
    display: inline-block;
    width: 20%;
}
@media (max-width:991px){
    .category-select-toolbar{
        width: 23%;
    }
}
.question-date-sm{
    font-size: 12px;
}
.question-date-nf{
    float: none;
}
.question-date time {
    display: block;
    color: var(--secodry-color);
}
.inline-date{
    display: inline !important;
}
/* .search-div-toolbar{
    display: inline;
    width: 40%;
} */
.filter-toolbar-btn-group button{
    font-size: 13px;
    min-height: 40px;
}
@media (max-width:768px){
    .filter-toolbar-btn-group{
        margin-top: 12px;
    }
}
.flex-ceneter{
    width: 100%;
    display: flex;
    justify-content: center;
}

.tree-line{
    width: 85%;
    height: 105px;
    border-left: 1.7px solid var(--titles-colors);
    border-bottom: 1.7px solid var(--titles-colors);
    border-bottom-left-radius: 13px;
    margin: 0;
}
.nums-ans{
    width: 80%;
    padding-top: 23px;
}
.question-answer-txt{
    color: var(--titles-colors);
    font-size: 15px;
    padding-top: 15px;
    height: 100px;
    -webkit-line-clamp: 4;
    
}
.tree-line-col{
    padding: 0;
    padding-left: 45px;
    
}
@media(max-width:490px){
    .tree-line-col{
        padding-left: 15px;
    }

}
@media(max-width:490px){
    .tree-line-col{
        padding-left: 4px;
    }   
}
.primary-button-radius{
    border-radius: 15px;
}
.ans-que-item{
    margin-top: 20px;
    border-bottom: 1.5px solid var(--titles-colors);
    padding-bottom: 10px;

}
.questions-ans-list > div:last-child{
    border-bottom: 1.5px solid var(--titles-colors);
    padding-bottom: 10px;

}
.select-toolbar-sm{
    width: 23%;
}
.margin-toolbar-row{
     margin-top: 10px;
}
@media (max-width:992px){
    .grid-indcator-lg-m{
        margin-top: 10px;
    }
}
.question-options-bottom{
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    padding-top: 6px;
    border-top: 1px solid var(--titles-colors);
}
.primary-button-sm{
    font-size: 12px;
}
.question-item-grid-opts{
    padding: 5px 0;
}
.question-item-grid-pd{
    padding: 5px;
    padding-bottom: 0;
}
.que-left-col{
    padding: 0 15px;
}
.ans-opts-spans{
    margin: 0 15px;
}
.link-button{
    padding: 0;
    display: inline;
    background-color: transparent;
    border: none;
}
.custom-dialog{
    background-color: var(--navbar-color);
    color: var(--titles-colors);
}
.close-dialog-ico{
    color: var(--titles-colors);
    font-size: 23px;
}
.custom-radio{
    background-color: var(--bg-color);
}
.custom-radio:checked{
    box-shadow: none;
    border: none;
}
.primary-radio:checked{
    background-color: var(--primary-color);
    
}
.answers-num-span-grid{
    margin: 0 7px;
    margin-top: 5px;
    font-size: 14px;
    border: 1px solid var(--titles-colors);
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    padding: 3px;

}
.question-options-bottom-wb{
    border: none;
    border-bottom: 2.5px solid var(--titles-colors);
    padding-bottom: 14px;
}