{% load contentUtilities %}
<div class="await-list">
    {% for que in questions %}
    <div class="await-item await-item-ans">
        <div class="row  question-item ">
            <div class="col-2">
                <div class="row">
                    <div class="col-5 votes-num-div nums-que">
                        <span class="votes-num-span">{{que.post.getVotes}}</span>
                        <span class="votes-word">votes</span>

                    </div>
                    <div class="col-5 answers-num-div nums-que">
                        <span class="answers-num-span">5</span>
                        <span class="answers-word">answers</span>
                    </div>
                </div>
                <div class="added-by-div">add by <a class="by-user-name" href="{% url 'profiles:profile-page' userID=que.post.author.id %}">{{que.post.author.username}}</a>
                </div>
                <!-- <span class="answers-num-span-grid">00 Answers</span> -->

            </div>
            <div class="col-10">
                <a href="{% url 'content:question-page' questionID=que.id %}" class="question-title line-clamp">
                    {{que.title}}
                </a>
                <div class="bottom-of-question">
                    <div class="question-tags custom-scrollbar">
                        {% for tag in que.tags.all %}
                        {% tagLink tag %}
                        {% endfor %}
                    </div>
             
                    <div class="question-date">last answer added in 0000/00/00 </div>

                </div>

            </div>
        </div>


    </div>
    {% endfor %}
    

</div>