{% load contentUtilities %}
{% load questions %}
{% load i18n %}

<div class="question-div" id="answer-{{ans.id}}">
    <div class="row">

        {% if request.user.is_authenticated and not request.user.is_anonymous %}
        <div class="col-1 icons-col">

            {% with ans.post|getVote:request.user as V %}

            <i class="fas fa-sort-up sort-icon sort-icon-up
                    {% if V == 'up' %}
                    sort-icon-act
                    {% endif %}
                    " data-post-id="{{ans.post.id}}"></i>
            <span class="votes-number-span">{{ans.post.getVotes}}</span>
            <i class="fas fa-sort-down sort-icon sort-icon-down
                    {% if V == 'down' %}
                    sort-icon-act
                    {% endif %}
                
                    " data-post-id="{{ans.post.id}}"></i>
      
            {% endwith %}
        </div>
        {% endif %}


        <div class="
                                    {% if request.user.is_authenticated and not request.user.is_anonymous  %}
                
                col-11
                {% else %}
                col-12
                {% endif %}
    ">
          <div class="post-content-container">
          
                <div class="post-content">
                    {{ans.post.text|safe}}
                </div>
        
                {% if request.user.profile.isSuperAdmin %}

                <a target="_blank" href="{% url 'dashboard:edit-answer-page' answerID=ans.id %}" class="btn edit-post-btn"><i class="fas fa-pen"></i></a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 post-l-col">

                <div class="ans-opts-spans">

                    <a href="{% url 'content:suggest-post-edit' postID=ans.post.id %}" class="custom-link custom-link-sm primary-link que-opt que-opt-sug">
                        {% translate 'Suggest Edit' %}</a>
                    {% if not request.user == ans.post.author %}
                    <button class="custom-link custom-link-sm primary-link btn que-opt  flo-que-btn" data-user-id="{{ans.post.author.id}}">
                        {% if request.user in ans.post.author.profile.followers.all %}
                        {% translate 'Unfollow' %}
                        {% else %}
                        {% translate 'Follow' %}
                        {% endif %}                            
                    </button>
                    {% endif %}

                    <!-- Button trigger modal -->
                    <button type="button" class="link-button report-btn primary-link que-opt" data-report-on="{{ans.post.id}}" data-type="A" data-bs-toggle="modal"
                        data-bs-target="#A-reportModal">
                        {% translate 'Report' %}
                    </button>
                    
                        <button type="button" data-target=".a-sh-{{ans.id}}" class="link-button share-btn primary-link que-opt">
                        {% translate 'Share' %}
                    </button>
                
                </div>

            </div>
            <div class="col-md-4 post-r-col">
                <div class="authors-dvs">
                    <div class="added-by-div-q que-added-by-div">
                        <div class="questtion-add-date">
                            {% translate 'Added in' %} <time>{{ans.formatedDate}}</time>
                        </div>
                        {% authodPostData ans.post.author %}
    
                    </div>
                    {% if ans.post.isEdited %}
                    <div class="added-by-div-q que-added-by-div">
                        <div class="questtion-add-date">
                            {% translate 'Edited in' %} <time>{{ans.post.lastEditDate}}</time>
                        </div>
                        {% authodPostData ans.post.getLastEditAuthor %}
    
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="comments-div">
                <ul class="comments-list">
                   
                    {% for comment in ans.post.comments.all|slice:':3' %}
                    {% commentItem comment request.user.profile.isSuperAdmin %}
                    {% endfor %}
                    {% if ans.post.comments.all.count > 3 %}
                    <li>
                        <p class="all-comment-span" data-post-id="{{ans.post.id}}">{% translate 'All comment' %}</p>
                    </li>
                    {% endif %}

                    
                </ul>
                
                
                <p class="add-comment-span">{% translate 'Add comment' %}</p>
                <div class="add-comment-div">
                    <input type="text" class="form-control que-input add-comm-inp" placeholder="{% translate 'Add Comment...' %}">
                    <button class="btn btn-secondary btn-sm secondry-button add-comm-btn" data-post-id="{{ans.post.id}}">
                        {% translate 'Add comment' %}</button>
                </div>
                
            </div>
        </div>
    </div>

</div>

        
<div class="share-btns ans a-sh-{{ans.id}}" id="share-btns">
    <div class="lnk-p">
        <input type="text" readonly class="share-lnk" value="{{path}}#answer-{{ans.id}}">
        <i class="far fa-copy copy-lnk"></i>
    </div>
    <!-- Twitter -->
    <a href="https://twitter.com/share?url={{path}}#answer-{{ans.id}}" target="_blank" class="share-btn twitter">
        <i class="fab fa-twitter"></i>
    </a>

    <!-- Facebook -->
    <a href="https://www.facebook.com/sharer/sharer.php?u={{path}}#answer-{{ans.id}}" target="_blank"
        class="share-btn facebook">
        <i class="fab fa-facebook-f"></i>
    </a>

    <!-- LinkedIn -->
    <a href="https://www.linkedin.com/shareArticle?url={{path}}#answer-{{ans.id}}#answer-{{ans.id}}" target="_blank"
        class="share-btn linkedin">
        <i class="fab fa-linkedin-in"></i>
    </a>

    <!-- Email -->
    <a href="mailto:?subject=HMTL%20Share%20Buttons&body={{path}}#answer-{{ans.id}} target="_blank"
        class="share-btn email">
        <i class="fa fa-envelope"></i>
    </a>
</div>
