{% load profileLib %}

<div>

<!-- <img class="avatar-img" src="{% url 'profiles:image-profile' userID=author.profile.id %}" alt="avatar"> -->
<img class="avatar-img" src="{% smImgProfile author %}" alt="avatar">
<a class="by-user-name" href="{% url 'profiles:profile-page' userID=author.id %}">{{author.username}}</a>
<span class="points-sp">{{author.profile.rep}}</span>
</div>
<div class="badges">
{% if author.profile.goldBadgesCount %}
<div class="badge ">
    <div class=" circular-badge gold-badge"></div>
    <span class="badge-num-span gold-badge-span">{{author.profile.goldBadgesCount}}</span>
</div>
{% endif %}

{% if author.profile.silverBadgesCount %}
<div class="badge ">
    <div class=" circular-badge silver-badge"></div>
    <span class=" badge-num-span silver-badge-span">{{author.profile.silverBadgesCount}}</span>
</div>
{% endif %}
{% if author.profile.bronzeBadgesCount %}
<div class="badge ">
    <div class=" circular-badge bronze-badge"></div>
    <span class="badge-num-span bronze-badge-span">{{author.profile.bronzeBadgesCount}}</span>
</div>
{% endif %}

</div>
