<div>

<img class="avatar-img" src="{{author.profile.image.url}}" alt="avatar">
<a class="by-user-name" href="{% url 'profiles:profile-page' userID=author.id %}">{{author.username}}</a>
<span class="points-sp">6,145</span>
</div>
<div class="badges">
<div class="badge ">
    <div class=" circular-badge gold-badge"></div>
    <span class="badge-num-span gold-badge-span">25</span>
</div>
<div class="badge ">
    <div class=" circular-badge silver-badge"></div>
    <span class=" badge-num-span silver-badge-span">210</span>
</div>
<div class="badge ">
    <div class=" circular-badge bronze-badge"></div>
    <span class="badge-num-span bronze-badge-span">101</span>
</div>
</div>
