<li class="comment-item" id="comment-{{comment.id}}">
    <p class="comment-content">{{comment.text}}</p>
    <div class="sperat-div">|</div>
    <a class="by-user-name" href="{% url 'profiles:profile-page' userID=comment.author.id %}">{{comment.author.username}}</a>
    <div class="sperat-div">|</div>
    <time class="comment-add-date">{{comment.getFormatedDate}}</time>
    {% if isSuperAdmin %}
    <a target="_blank" href="{% url 'dashboard:edit-comment' commentID=comment.id %}" class="btn edit-comm-btn"><i class="fas fa-pen"></i></a>
    {% endif %}

</li>