{% load contentUtilities %}

{% load i18n %}

<div class="question-div">
    <div class="row">

        {% if request.user.is_authenticated and not request.user.is_anonymous %}
        <div class="col-1 icons-col">

            {% with question.post|getVote:request.user as V %}

            <i class="fas fa-sort-up sort-icon sort-icon-up
            {% if V == 'up' %}
            sort-icon-act
            {% endif %}
            " data-post-id="{{question.post.id}}"></i>
            <span class="votes-number-span">{{question.post.getVotes}}</span>
            <i class="fas fa-sort-down sort-icon sort-icon-down
            {% if V == 'down' %}
            sort-icon-act
            {% endif %}
          
            " data-post-id="{{question.post.id}}"></i>
            <i class="far fa-bookmark bookmark-icon fav-que-btn
            {% if question in request.user.profile.favQuestions.all %}
            faved-que
            {% endif %}
            " data-que-id="{{question.id}}"></i>
            <span class="bookmark-span
            {% if question in request.user.profile.favQuestions.all %}
            faved-que
            {% endif %}
            ">{{question.favCount}}</span>
            {% endwith %}
        </div>
        {% endif %}
        <div class="
        {% if request.user.is_authenticated and not request.user.is_anonymous  %}
        
        col-11
        {% else %}
        col-12
        {% endif %}
        
        ">
            <div class="post-content-container {% if request.user.profile.isSuperAdmin %}admin-v{% endif %}">
                <div class="post-content">
                    {{question.post.text|safe}}
                </div>
                {% if request.user.profile.isSuperAdmin %}
                <a target="_blank" href="{% url 'dashboard:edit-question-page' questionID=question.id %}" class="btn edit-post-btn"><i class="fas fa-pen"></i></a>
                {% endif %}
            </div>
        </div>
        <!-- <div class="col-12" style="background-color: white; ">hello world hello world hello world hello world hello world hello world </div> -->
        <div class="bottom-que-row">
            <div class="tags-div ">
                {% for tag in question.tags.all %}
                {% tagLink tag %}
                {% endfor %}
            </div>
            <div class="post-l-col">
                    <div class="que-opts-spans">
                        <a href="{% url 'content:suggest-post-edit' postID=question.post.id %}" class="custom-link custom-link-sm primary-link que-opt que-opt-sug">
                            {% translate 'Suggest Edit' %}</a>
                        {% if not request.user == question.post.author %}
                        <button class="custom-link custom-link-sm primary-link btn que-opt  flo-que-btn" data-user-id="{{question.post.author.id}}">
                            {% if request.user in question.post.author.profile.followers.all %}
                            {% translate 'Unfollow' %}
                            {% else %}
                            {% translate 'Follow' %}
                            {% endif %}                            
                        </button>
                        {% endif %}                            
                        <!-- Button trigger modal -->
                        <button type="button" class="link-button report-btn primary-link que-opt" data-report-on="{{question.post.id}}" data-type="Q" data-bs-toggle="modal"
                            data-bs-target="#Q-reportModal">
                            {% translate 'Report' %}
                        </button>

                        <button type="button" data-target=".q-sh-{{question.id}}" class="link-button share-btn primary-link que-opt">
                        {% translate 'Share' %}
                    </button>
                        
                    </div>
                </div>
            <div class="post-r-col">
                <div class="authors-dvs">
                    <div class="added-by-div-q que-added-by-div">
                        <div class="questtion-add-date">
                            {% translate 'Added in' %} <time>{{question.formatedDate}}</time>
                        </div>
                        {% authodPostData question.post.author %}

                    </div>
                    {% if question.post.isEdited %}
                    <div class="added-by-div-q que-added-by-div">
                        <div class="questtion-add-date">
                            {% translate 'Edited in' %} <time>{{question.post.lastEditDate}}</time>
                        </div>
                        {% authodPostData question.post.getLastEditAuthor %}

                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="comments-div">
            <ul class="comments-list">
                {% for comment in question.post.comments.all|slice:':3' %}
                {% commentItem comment request.user.profile.isSuperAdmin %}
                {% endfor %}
                {% if question.post.comments.all.count > 3 %}
                <li>
                    <p class="all-comment-span" data-post-id="{{question.post.id}}">{% translate 'All comment' %}</p>
                </li>
                {% endif %}
            </ul>
            {#% if request.user.is_authenticated and not request.user.is_anonymous %#}

            <p class="add-comment-span">{% translate 'Add comment' %}</p>
            <div class="add-comment-div">
                <input type="text" class="form-control que-input add-comm-inp" placeholder="{% translate 'Add Comment...' %}" maxlength="300">
                <button class="btn btn-secondary btn-sm secondry-button add-comm-btn" data-post-id="{{question.post.id}}">
                    {% translate 'Add comment' %}</button>
            </div>
            {#% endif %#}

        </div>
    </div>
</div>


<div class="share-btns q-sh-{{question.id}}" id="share-btns">
    <div class="lnk-p">
        <input type="text" readonly class="share-lnk" value="{{path}}">
        <i class="far fa-copy copy-lnk"></i>
    </div>
    <!-- Twitter -->
    <a href="https://twitter.com/share?url={{path}}" target="_blank" class="share-btn twitter">
        <i class="fab fa-twitter"></i>
    </a>

    <!-- Facebook -->
    <a href="https://www.facebook.com/sharer/sharer.php?u={{path}}" target="_blank"
        class="share-btn facebook">
        <i class="fab fa-facebook-f"></i>
    </a>

    <!-- LinkedIn -->
    <a href="https://www.linkedin.com/shareArticle?url={{path}}" target="_blank"
        class="share-btn linkedin">
        <i class="fab fa-linkedin-in"></i>
    </a>

    <!-- Email -->
    <a href="mailto:?subject=HMTL%20Share%20Buttons&body={{path}}" target="_blank"
        class="share-btn email">
        <i class="fa fa-envelope"></i>
    </a>
</div>