{% extends 'utilities/_base.html' %}
{% load i18n %}
{% block title %}{% translate 'Add Question' %}{% endblock %}

{% block content %}
<div class="pd-container" >


    <h2 class="center-title" style="float:none;">{% translate 'Add Quetion' %}</h2>

    <form id="post-form" method="POST" >
        {% csrf_token %}
    
          
        <div class="categoriis-lists">

            <div class="custom-select category-select-toolbar" data-cur-val="1">
                <button class="btn btn-primary btn-select">
                    <span class="selected-span">
                        {% if category.getLvl == 1 %}
                        {{category.name}}
                        {% elif category.getLvl > 1 %}
                        {{category.getFirstParent.name}}

                        {% elif not category %}
                        {{categories.first.name}}
                        {% endif %}
                    </span>
                    <i class="fas fa-caret-down select-arrow"></i>

                </button>
                <ul class="custom-select-list custom-scrollbar">
                    {% for cate in categories %}
                    <li class="custom-select-item" data-cate-id="{{cate.id}}" data-sub='{{cate.subs}}'>
                        {{cate.name}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="custom-select category-select-toolbar" {% if category.getLvl >= 1 %}
                style='visibility: visible;'
                {% endif %}
                >
                <button class="btn btn-primary btn-select">
                    <span class="selected-span">

                        {% if category.getLvl == 2 %}
                        {{category.name}}
                        {% elif category.getLvl > 2 %}
                        {{category.getSecondParent.name}}
                        {% else %}
                        {% translate 'Select Category' %}
                        {% endif %}

                    </span>
                    <i class="fas fa-caret-down select-arrow"></i>

                </button>
                <ul class="custom-select-list custom-scrollbar">
                    {% if category %}
                    {% for subCate in category.getFirstParent.subCategoies %}
                    <li class="custom-select-item" data-cate-id="{{subCate.id}}"
                        data-sub='{{subCate.subs}}'>
                        {{subCate.name}}
                    </li>
                    {% empty %}
                    {% if category.getLvl == 1 %}

                    {% for subCate in category.subCategoies %}
                    <li class="custom-select-item" data-cate-id="{{subCate.id}}"
                        data-sub='{{subCate.subs}}'>
                        {{subCate.name}}
                    </li>
                    {% endfor %}
                    {% endif %}

                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <div class="custom-select category-select-toolbar" data-cur-val="1" {% if category.getLvl >= 2 %}
                style='visibility: visible;'
                {% endif %}>
                <button class="btn btn-primary btn-select">
                    <span class="selected-span">

                        {% if category.getLvl == 3 %}
                        {{category.name}}
                        {% elif category.getLvl > 3 %}
                        {{category.getThirdParent.name}}
                        {% else %}
                        {% translate 'Select Category' %}
                        {% endif %}

                    </span>
                    <i class="fas fa-caret-down select-arrow"></i>

                </button>
                <ul class="custom-select-list custom-scrollbar">
                    {% if category %}
                    {% for subCate in category.getSecondParent.subCategoies %}
                    <li class="custom-select-item" data-cate-id="{{subCate.id}}"
                        data-sub='{{subCate.subs}}'>
                        {{subCate.name}}
                    </li>
                    {% empty %}
                    {% if category.getLvl == 2 %}

                    {% for subCate in category.subCategoies %}
                    <li class="custom-select-item" data-cate-id="{{subCate.id}}"
                        data-sub='{{subCate.subs}}'>
                        {{subCate.name}}
                    </li>
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                    {% endif %}

                </ul>
            </div>
            <div class="custom-select category-select-toolbar" data-cur-val="1" {% if category.getLvl >= 3 %}
                style='visibility: visible;'
                {% endif %}>
                <button class="btn btn-primary btn-select">
                    <span class="selected-span">

                        {% if category.getLvl == 4 %}
                        {{category.name}}
                        {% else %}
                        {% translate 'Select Category' %}
                        {% endif %}

                    </span>
                    <i class="fas fa-caret-down select-arrow"></i>

                </button>
                <ul class="custom-select-list custom-scrollbar">
                    {% if category %}
                    {% for subCate in category.getThirdParent.subCategoies %}
                    <li class="custom-select-item" data-cate-id="{{subCate.id}}"
                        data-sub='{{subCate.sub}}'>
                        {{subCate.name}}
                    </li>
                    {% empty %}
                    {% if category.getLvl == 3 %}
                    {% for subCate in category.subCategoies %}
                    <li class="custom-select-item" data-cate-id="{{subCate.id}}"
                        data-sub='{{subCate.subs}}'>
                        {{subCate.name}}
                    </li>
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                    {% endif %}

                </ul>
            </div>
            <input type="hidden" class="add-que-h-inp" name="category-id" id="category-id" value="{% if not category %}{{categories.first.id}}{% else %}{{category.id}}{% endif %}">

        </div>
    <input type="text" class="form-control que-input que-title-input" placeholder="{% translate 'Question Title...' %}" name="post-title"  id="que-title" value="{{questionTitle}}" maxlength="99">
    <p class="error-p-s" style="position: static;">
        {% for msg in messages %}
            {% if 'title' in msg.extra_tags %}
                {{msg}}
            {% endif %}
        {% endfor %}
    </p>
    <div class="editor-partnt custom-scrollbar">
        <div id="editor" class="custom-scrollbar" data-init-val="{{questionBody}}"></div>
    </div>
    <p class="error-p-s">
        {% for msg in messages %}
            {% if 'body' in msg.tags %}
                {{msg}}
            {% endif %}
        {% endfor %}
    </p>
   
    <input type="hidden" name="post-body" id="post-body">
    <div class="add-tag-to-que-div">
        <input id="que-tags-input" data-tags-div="#tags-div-ol" type="text"
            class="form-control que-input que-tags-input" placeholder="{% translate 'Add Tags' %}" autocomplete="off">
        <ul class="tags-list custom-scrollbar" data-tags-div="#tags-div-ol">
            {% for tag in tags %}
            <li class="tags-list-item" data-tag-id="{{tag.id}}">{{tag.name}} </li>
            {% endfor %}
             
        </ul>


        <div class="cus-card tags-card add-tags-q">
            <h5 class="cus-card-header">{% translate 'Tags' %}</h5>
            <div class="cus-card-body tags-div" id="tags-div-ol">
                {% for tag in selectedTags %}
                
                <button type="button" class="btn btn-outline-info btn-tag btn-tag-removeable" data-tag-id="{{tag.id}}">
                    {{tag.name}}
                    <div class="btn remove-tag-btn">
                        <i class="fas fa-times"></i>
                    </div>
                </button>

                {% endfor %}
            </div>
            <p class="error-p-s">
                {% for msg in messages %}
                    {% if 'tags' in msg.extra_tags %}
                        {{msg}}
                    {% endif %}
                {% endfor %}
            </p>
          
            <input type="hidden" class="add-que-h-inp" name="tags" id="tags-input" value="[
            {% for tag in selectedTags %}
            {{tag.id}}{% if not forloop.last %},{% endif %}
            {% endfor %}
            ]" >

        </div>

    </div>
    <button class="btn btn-primary btn-sm primary-button add-que-button add-post-btn">
        {% translate 'Add Question' %}
    </button>
    </form>
    <div class="question-dev-parent" style="margin-top: 75px;" id="similar-ques">

        <div class="questions-gird-toolbar">
            <div class="row">
                <div class="col-4">
                    <span class="sort-by-word" style="font-size: 25px;">{% translate 'Similar Questions' %}</span>

                </div>
                

            </div>
        </div>

        <div class="questions-list">
            

        </div>
        <button class="btn see-more-btn see-more-btn-add-que" data-category-id="{% if categoryID %}{{categoryID}}{% endif %}">{% translate 'See more' %}</button>
            <div class="loading-circle">
                <div class="primary-circle">
                    <div class="secondary-circle"></div>
                    <div class="background-circle"></div>
                </div>
        
            </div>
            
        <!-- center column end  -->
        <!-- right column start  -->

    </div>
</div>
{% endblock %}