{% extends 'utilities/_base.html' %}
{% load i18n %}

{% block title %}{% translate 'Tags' %}{% endblock %}
{% load contentUtilities %}
{% block content %}
<div class="column-no-border">
    {% if category %}
<h2 class="center-title ml-12" style="float:none;">{{category.name}}</h2>
{% endif %}
    <div class="tags-dev-parent ml-10">
        <div class="questions-gird-toolbar">

            <div class="categoriis-lists filter one-click-filter">

                <div class="custom-select category-select-toolbar" data-cur-val="1">
                    <button class="btn btn-primary btn-select">
                        <span class="selected-span">
                            {% if category.getLvl == 1 %}
                            {{category.name}}
                            {% elif category.getLvl > 1 %}
                            {{category.getFirstParent.name}}

                            {% elif not category %}
                            {{categories.first.name}}
                            {% endif %}
                        </span>
                        <i class="fas fa-caret-down select-arrow"></i>

                    </button>
                    <ul class="custom-select-list custom-scrollbar">
                        {% for cate in categories %}
                        <li class="custom-select-item" data-cate-id="{{cate.id}}" data-sub='{{cate.subs}}'>
                            {{cate.name}}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="custom-select category-select-toolbar" {% if category.getLvl >= 1 %}
                    style='visibility: visible;'
                    {% endif %}
                    >
                    <button class="btn btn-primary btn-select">
                        <span class="selected-span">

                            {% if category.getLvl == 2 %}
                            {{category.name}}
                            {% elif category.getLvl > 2 %}
                            {{category.getSecondParent.name}}
                            {% else %}
                            {% translate 'Select Category' %}
                            
                            {% endif %}

                        </span>
                        <i class="fas fa-caret-down select-arrow"></i>

                    </button>
                    <ul class="custom-select-list custom-scrollbar">
                        {% if category %}
                        {% for subCate in category.getFirstParent.subCategoies %}
                        <li class="custom-select-item" data-cate-id="{{subCate.id}}" data-sub='{{subCate.subs}}'>
                            {{subCate.name}}
                        </li>
                        {% empty %}
                        {% if category.getLvl == 1 %}

                        {% for subCate in category.subCategoies %}
                        <li class="custom-select-item" data-cate-id="{{subCate.id}}" data-sub='{{subCate.subs}}'>
                            {{subCate.name}}
                        </li>
                        {% endfor %}
                        {% endif %}

                        {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                <div class="custom-select category-select-toolbar" data-cur-val="1" {% if category.getLvl >= 2 %}
                    style='visibility: visible;'
                    {% endif %}>
                    <button class="btn btn-primary btn-select">
                        <span class="selected-span">

                            {% if category.getLvl == 3 %}
                            {{category.name}}
                            {% elif category.getLvl > 3 %}
                            {{category.getThirdParent.name}}
                            {% else %}
                            {% translate 'Select Category' %}
                            {% endif %}

                        </span>
                        <i class="fas fa-caret-down select-arrow"></i>

                    </button>
                    <ul class="custom-select-list custom-scrollbar">
                        {% if category %}
                        {% for subCate in category.getSecondParent.subCategoies %}
                        <li class="custom-select-item" data-cate-id="{{subCate.id}}" data-sub='{{subCate.subs}}'>
                            {{subCate.name}}
                        </li>
                        {% empty %}
                        {% if category.getLvl == 2 %}

                        {% for subCate in category.subCategoies %}
                        <li class="custom-select-item" data-cate-id="{{subCate.id}}" data-sub='{{subCate.subs}}'>
                            {{subCate.name}}
                        </li>
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                        {% endif %}

                    </ul>
                </div>
                <div class="custom-select category-select-toolbar" data-cur-val="1" {% if category.getLvl >= 3 %}
                    style='visibility: visible;'
                    {% endif %}>
                    <button class="btn btn-primary btn-select">
                        <span class="selected-span">

                            {% if category.getLvl == 4 %}
                            {{category.name}}
                            {% else %}
                            {% translate 'Select Category' %}
                            {% endif %}

                        </span>
                        <i class="fas fa-caret-down select-arrow"></i>

                    </button>
                    <ul class="custom-select-list custom-scrollbar">
                        {% if category %}
                        {% for subCate in category.getThirdParent.subCategoies %}
                        <li class="custom-select-item" data-cate-id="{{subCate.id}}" data-sub='{{subCate.sub}}'>
                            {{subCate.name}}
                        </li>
                        {% empty %}
                        {% if category.getLvl == 3 %}
                        {% for subCate in category.subCategoies %}
                        <li class="custom-select-item" data-cate-id="{{subCate.id}}" data-sub='{{subCate.subs}}'>
                            {{subCate.name}}
                        </li>
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                        {% endif %}

                    </ul>
                </div>
                <input type="hidden" class="add-que-h-inp" name="category" id="category-id"
                    value="{% if not category %}{{categories.first.id}}{% else %}{{category.id}}{% endif %}">

            </div>
            <a href="{% url 'feedback:suggest-tag' %}" class="custom-link secondry-link">{% translate 'Suggest Tag' %}</a>
            <div class="row">

                <div class="col-5 col-sm-4 col-md-3">

                    <div class="custom-select filter one-click-filter">
                        <button class="btn btn-primary btn-select">
                            <span class="selected-span">
                                  {% if queFilter == 'L' %}
                                    {% translate 'Least Questions' %}
                                    {% else %}
                                    {% translate 'Most Questions' %}
                                    {% endif %}

                            </span>
                            
                            <i class="fas fa-caret-down select-arrow"></i>

                        </button>
                        <ul class="custom-select-list custom-scrollbar">
                            <li data-value="M" class="custom-select-item">
                                    {% translate 'Most Questions' %}
                            </li>
                            <li data-value="L" class="custom-select-item">
                                    {% translate 'Least Questions' %}
                            </li>
                        </ul>
                        <input type="hidden" name="questions" id="que-filter" value="{% if queFilter == 'L' %}L{% else %}M{% endif %}">
                    </div>
                </div>
                <div class="col-5 col-sm-4 col-md-3">

                    <div class="custom-select filter one-click-filter">
                        <button class="btn btn-primary btn-select">
                            <span class="selected-span">
                                  {% if ansFilter == 'L' %}
                                    {% translate 'Least Answers' %}
                                    {% else %}
                                    {% translate 'Most Answers' %}
                                    {% endif %}

                            </span>
                            <i class="fas fa-caret-down select-arrow"></i>

                        </button>
                        <ul class="custom-select-list custom-scrollbar">
                            <li data-value="M" class="custom-select-item">
                                    {% translate 'Most Answers' %}
                            </li>
                            <li data-value="L" class="custom-select-item">
                                {% translate 'Least Answers' %}
                            </li>
                        </ul>
                        <input type="hidden" name="answers" id="ans-filter" value="{% if ansFilter == 'L' %}L{% else %}M{% endif %}">
                    </div>
                </div>
            </div>
        </div>

        <div class="cate-tags-list">
            {% with request.user.profile.tags.all as usersTags %}
            {% for tag in tags %}
                {% tagItem tag %}
            {% endfor %}
            {% endwith %}
        </div>
        <!-- center column end  -->
        <button class="btn see-more-btn see-more-btn-tags" data-category-id="{% if categoryID %}{{categoryID}}{% endif %}">{% translate 'See more' %}</button>
        <div class="loading-circle">
            <div class="primary-circle">
                <div class="secondary-circle"></div>
                <div class="background-circle"></div>
            </div>
    
        </div>
        
    </div>
</div>
{% include 'utilities/_loginModal.html' %}
{% endblock %}