{% extends 'utilities/_base.html' %}
{% load i18n %}

{% block title %}{% translate 'Categories' %}{% endblock %}
{% load contentUtilities %}
{% block content %}
<div class="column-no-border">

    {% if category %}
<h2 class="center-title ml-12" style="float:none;">{{category.name}}</h2>
{% endif %}
    <div class="tags-dev-parent ">
        <div class="questions-gird-toolbar">

            <div class="categoriis-lists filter one-click-filter">

                <div class="custom-select category-select-toolbar" data-cur-val="1">
                    <button class="btn btn-primary btn-select">
                        <span class="selected-span">
                            {% if category.getLvl == 1 %}
                            {{category.name}}
                            {% elif category.getLvl > 1 %}
                            {{category.getFirstParent.name}}

                            {% elif not category %}
                            {{categories.first.name}}
                            {% endif %}
                        </span>
                        <i class="fas fa-caret-down select-arrow"></i>

                    </button>
                    <ul class="custom-select-list custom-scrollbar">
                        {% for cate in categories %}
                        <li class="custom-select-item" data-cate-id="{{cate.id}}" data-sub='{{cate.subs}}'>
                            {{cate.name}}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="custom-select category-select-toolbar" {% if category.getLvl >= 1 %}
                    style='visibility: visible;'
                    {% endif %}
                    >
                    <button class="btn btn-primary btn-select">
                        <span class="selected-span">

                            {% if category.getLvl == 2 %}
                            {{category.name}}
                            {% elif category.getLvl > 2 %}
                            {{category.getSecondParent.name}}
                            {% else %}
                            {% translate 'Select Category' %}
                            {% endif %}

                        </span>
                        <i class="fas fa-caret-down select-arrow"></i>

                    </button>
                    <ul class="custom-select-list custom-scrollbar">
                        {% if category %}
                        {% for subCate in category.getFirstParent.subCategoies %}
                        <li class="custom-select-item" data-cate-id="{{subCate.id}}" data-sub='{{subCate.subs}}'>
                            {{subCate.name}}
                        </li>
                        {% empty %}
                        {% if category.getLvl == 1 %}

                        {% for subCate in category.subCategoies %}
                        <li class="custom-select-item" data-cate-id="{{subCate.id}}" data-sub='{{subCate.subs}}'>
                            {{subCate.name}}
                        </li>
                        {% endfor %}
                        {% endif %}

                        {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                <div class="custom-select category-select-toolbar" data-cur-val="1" {% if category.getLvl >= 2 %}
                    style='visibility: visible;'
                    {% endif %}>
                    <button class="btn btn-primary btn-select">
                        <span class="selected-span">

                            {% if category.getLvl == 3 %}
                            {{category.name}}
                            {% elif category.getLvl > 3 %}
                            {{category.getThirdParent.name}}
                            {% else %}
                            {% translate 'Select Category' %}
                            {% endif %}

                        </span>
                        <i class="fas fa-caret-down select-arrow"></i>

                    </button>
                    <ul class="custom-select-list custom-scrollbar">
                        {% if category %}
                        {% for subCate in category.getSecondParent.subCategoies %}
                        <li class="custom-select-item" data-cate-id="{{subCate.id}}" data-sub='{{subCate.subs}}'>
                            {{subCate.name}}
                        </li>
                        {% empty %}
                        {% if category.getLvl == 2 %}

                        {% for subCate in category.subCategoies %}
                        <li class="custom-select-item" data-cate-id="{{subCate.id}}" data-sub='{{subCate.subs}}'>
                            {{subCate.name}}
                        </li>
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                        {% endif %}

                    </ul>
                </div>
                <div class="custom-select category-select-toolbar" data-cur-val="1" {% if category.getLvl >= 3 %}
                    style='visibility: visible;'
                    {% endif %}>
                    <button class="btn btn-primary btn-select">
                        <span class="selected-span">

                            {% if category.getLvl == 4 %}
                            {{category.name}}
                            {% else %}
                            {% translate 'Select Category' %}
                            {% endif %}

                        </span>
                        <i class="fas fa-caret-down select-arrow"></i>

                    </button>
                    <ul class="custom-select-list custom-scrollbar">
                        {% if category %}
                        {% for subCate in category.getThirdParent.subCategoies %}
                        <li class="custom-select-item" data-cate-id="{{subCate.id}}" data-sub='{{subCate.sub}}'>
                            {{subCate.name}}
                        </li>
                        {% empty %}
                        {% if category.getLvl == 3 %}
                        {% for subCate in category.subCategoies %}
                        <li class="custom-select-item" data-cate-id="{{subCate.id}}" data-sub='{{subCate.subs}}'>
                            {{subCate.name}}
                        </li>
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                        {% endif %}

                    </ul>
                </div>
                <input type="hidden" class="add-que-h-inp" name="category" id="category-id"
                    value="{% if not category %}{{categories.first.id}}{% else %}{{category.id}}{% endif %}">

            </div>
            <a href="{% url 'feedback:suggest-category' %}" class="custom-link secondry-link">{% translate 'Suggest Cateogry' %}</a>
            <div class="row">

                <div class="col-5 col-sm-4 col-md-3">

                    <div class="custom-select filter one-click-filter">
                        <button class="btn btn-primary btn-select">
                            <span class="selected-span">
                                {% if order == 'O' %}
                                    {% translate 'Oldest' %}
                                {% else %}
                                    {% translate 'Newest' %}
                                {% endif %}

                            </span>
                            
                            <i class="fas fa-caret-down select-arrow"></i>

                        </button>
                        <ul class="custom-select-list custom-scrollbar">
                            <li data-value="N" class="custom-select-item">
                                    {% translate 'Newest' %}
                            </li>
                            <li data-value="O" class="custom-select-item">
                                {% translate 'Oldest' %}
                            </li>
                        </ul>
                        <input type="hidden" name="order" value="{% if queFilter == 'O' %}O{% else %}N{% endif %}">
                    </div>
                </div>
                <div class="col-5 col-sm-4 col-md-3">

                    <div class="custom-select filter one-click-filter">
                        <button class="btn btn-primary btn-select">
                            <span class="selected-span">
                                  {% if tagsFilter == 'L' %}
                                        {% translate 'Least Tags' %}
                                    {% else %}
                                          {% translate 'Most Tags' %}
                                    {% endif %}

                            </span>
                            <i class="fas fa-caret-down select-arrow"></i>

                        </button>
                        <ul class="custom-select-list custom-scrollbar">
                            <li data-value="M" class="custom-select-item">
                                {% translate 'Most Tags' %}
                            </li>
                            <li data-value="L" class="custom-select-item">
                                {% translate 'Least Tags' %}
                            </li>
                        </ul>
                        <input type="hidden" name="tags" value="{% if tagsFilter == 'L' %}L{% else %}M{% endif %}">
                    </div>
                </div>
            </div>
        </div>


        <div class="cates-list">
          {% for cate in catgoriesList %}
            <div class="row cate-list-item">
                <div class="col-3 cate-col">
                    <a href="{% url 'content:index-with-cate' categoryID=cate.id %}" class="btn btn-outline-info btn-cate">{{cate.name}}</a>
                     
                </div>
                <div class="col">
                    <p class="cate-sumr  line-clamp-3">
                        {{cate.description}}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- center column end  -->

    </div>
</div>
{% include 'utilities/_loginModal.html' %}
{% endblock %}