{% extends 'utilities/_base.html' %}
{% load questions %}
{% block titile %}Index{% endblock %}

{% block content %} 
    <h2 class="center-title">Lastst Questions</h2>

    <a href="{% url 'content:add-question' %}" class="btn btn-primary btn-sm primary-button suggest-btn">
        Suggest Question
    </a>
    <div style="clear:both"></div>
    {% for msg in messages %}
    <p class="success-p-s">
        {{msg}}
    </p>
    {% endfor %}
        <div class="row filters-row">
        <div class="col-4 col-sm-3 col-lg-2">
            <div class="custom-select filter one-click-filter">
                <button class="btn btn-primary btn-select">
                    <span class="selected-span">All</span>
                    <i class="fas fa-caret-down select-arrow"></i>

                </button>
                <ul class="custom-select-list custom-scrollbar">
                    <li data-value="M" class="custom-select-item">
                            My Tags
                    </li>
                    <li data-value="A" class="custom-select-item">
                            All
                    </li>
                </ul>
                <input type="hidden" id="tag-filter" name="tags">
            </div>
        </div>
        <div class="col-4 col-sm-3 col-lg-2">
            
            <div class="custom-select filter one-click-filter">
                <button class="btn btn-primary btn-select">
                    <span class="selected-span">Most Votes</span>
                    <i class="fas fa-caret-down select-arrow"></i>

                </button>
                <ul class="custom-select-list custom-scrollbar">
                    <li data-value="M" class="custom-select-item">
                            Most Votes
                    </li>
                    <li data-value="L" class="custom-select-item">
                            Least Votes
                    </li>
                </ul>
                <input type="hidden" id="votes-filter" name="votes">
            </div>
        </div>
        <div class="col-4 col-sm-3 col-lg-2 ">
            
            <div class="custom-select filter one-click-filter">
                <button class="btn btn-primary btn-select">
                    <span class="selected-span">Most Views</span>
                    <i class="fas fa-caret-down select-arrow"></i>

                </button>
                <ul class="custom-select-list custom-scrollbar">
                    <li data-value="M" class="custom-select-item">
                            Most Views
                    </li>
                    <li data-value="L" class="custom-select-item">
                            Least Viwes
                    </li>
                </ul>
                <input type="hidden" id="views-filter" name="views">
            </div>
        </div>
        <div class="col-4 col-sm-3 col-lg-2">
            
            <div class="custom-select ans-fil filter one-click-filter">
                <button class="btn btn-primary btn-select">
                    <span class="selected-span">Most Answers</span>
                    <i class="fas fa-caret-down select-arrow"></i>

                </button>
                <ul class="custom-select-list custom-scrollbar">
                    <li data-value="M" class="custom-select-item">
                            Most Answers
                    </li>
                    <li data-value="L" class="custom-select-item">
                            Least Answers
                    </li>
                </ul>
                <input type="hidden" id="answers-filter" name="answers">
            </div>
        </div>

    </div>
    <div class="btn-group my-btn-group" style="margin-bottom: 12px;" role="group"
            aria-label="Basic outlined example">
            <a href="#" class="btn btn-outline-primary btn-group-item btn-option-item active">All time</a>
            <a href="#" class="btn btn-outline-primary btn-group-item btn-option-item">Today</a>
            <a href="#" class="btn btn-outline-primary btn-group-item btn-option-item">This week</a>
            <a href="#" class="btn btn-outline-primary btn-group-item btn-option-item">This month</a>
        </div>
    <div style="clear:both"></div>
    <!-- queststion start -->
    <div class="questions-list">
        {% for question in questions %} 
            {% questionItem question %}
        {% endfor %}
       
        
    </div>
    <!-- questions end -->
{% endblock %}