{% extends 'utilities/_base.html' %}
{% load questions %}
{% block titile %}Index{% endblock %}

{% block content %} 
    <h2 class="center-title">Lastst Questions</h2>

    <a href="{% url 'content:add-question' %}" class="btn btn-primary btn-sm primary-button suggest-btn">
        Suggest Question
    </a>
    <div style="clear:both"></div>
    {% for msg in messages %}
    <p class="success-p-s">
        {{msg}}
    </p>
    {% endfor %}
        <div class="row filters-row">
        <div class="col-4 col-sm-3 col-lg-2">
            <div class="custom-select filter one-click-filter">
                <button class="btn btn-primary btn-select">
                    <span class="selected-span">
                        {% if tagsFilter == 'M' %}
                        My Tags
                        {% else %}
                        All
                        {% endif %}
                    </span>
                    <i class="fas fa-caret-down select-arrow"></i>

                </button>
                <ul class="custom-select-list custom-scrollbar">
                    <li data-value="M" class="custom-select-item">
                            My Tags
                    </li>
                    <li data-value="A" class="custom-select-item">
                            All
                    </li>
                </ul>
                <input type="hidden" id="tag-filter" name="tags" value="{% if tagsFilter == 'M' %}M{% else %}A{% endif %}">
            </div>
        </div>
        <div class="col-4 col-sm-3 col-lg-2">
            
            <div class="custom-select filter one-click-filter">
                <button class="btn btn-primary btn-select">
                    <span class="selected-span">
                        {% if votesFilter == 'L' %}
                        Least Votes
                        {% else %}
                        Most Votes
                        {% endif %}
                    
                    </span>
                    <i class="fas fa-caret-down select-arrow"></i>

                </button>
                <ul class="custom-select-list custom-scrollbar">
                    <li data-value="M" class="custom-select-item">
                            Most Votes
                    </li>
                    <li data-value="L" class="custom-select-item">
                            Least Votes
                    </li>
                </ul>
                <input type="hidden" id="votes-filter" name="votes" value="{% if votesFilter == 'L' %}L{% else %}M{% endif %}">
            </div>
        </div>
        <div class="col-4 col-sm-3 col-lg-2 ">
            
            <div class="custom-select filter one-click-filter">
                <button class="btn btn-primary btn-select">
                    <span class="selected-span">
                        {% if viewsFilter == 'L' %}
                        Least Views
                        {% else %}
                        Most Views
                        {% endif %}

                    </span>
                    <i class="fas fa-caret-down select-arrow"></i>

                </button>
                <ul class="custom-select-list custom-scrollbar">
                    <li data-value="M" class="custom-select-item">
                            Most Views
                    </li>
                    <li data-value="L" class="custom-select-item">
                            Least Viwes
                    </li>
                </ul>
                <input type="hidden" id="views-filter" name="views" value="{% if viewsFilter == 'L' %}L{% else %}M{% endif %}">
            </div>
        </div>
        <div class="col-4 col-sm-3 col-lg-2">
            
            <div class="custom-select ans-fil filter one-click-filter">
                <button class="btn btn-primary btn-select">
                    <span class="selected-span">
                        {% if answersFilter == 'L' %}
                        Least Answers
                        {% else %}
                        Most Answers
                        {% endif %}

                    </span>
                    <i class="fas fa-caret-down select-arrow"></i>

                </button>
                <ul class="custom-select-list custom-scrollbar">
                    <li data-value="M" class="custom-select-item">
                            Most Answers
                    </li>
                    <li data-value="L" class="custom-select-item">
                            Least Answers
                    </li>
                </ul>
                <input type="hidden" id="answers-filter" name="answers" value="{% if viewsFilter == 'L' %}L{% else %}M{% endif %}">
            </div>
        </div>

    </div>
    <div class="btn-group my-btn-group filter button-filter " style="margin-bottom: 12px;" role="group"
            aria-label="Basic outlined example">
            <button href="#" class="btn btn-outline-primary btn-group-item btn-option-item active" data-value="A">All time</button>
            <button href="#" class="btn btn-outline-primary btn-group-item btn-option-item" data-value="T">Today</button>
            <button href="#" class="btn btn-outline-primary btn-group-item btn-option-item" data-value="W">This week</button>
            <button href="#" class="btn btn-outline-primary btn-group-item btn-option-item" data-value="M">This month</button>
        <input type="hidden" name="time">
        </div>
    <div style="clear:both"></div>
    <!-- queststion start -->
    <div class="questions-list">
        {% for question in questions %} 
            {% questionItem question %}
        {% endfor %}
       
        
    </div>
    {% if pageCount > 1 %}
    <button class="btn see-more-btn see-more-btn-index" data-category-id="{% if categoryID %}{{categoryID}}{% endif %}">See more</button>
    <div class="loading-circle">
        <div class="primary-circle">
            <div class="secondary-circle"></div>
            <div class="background-circle"></div>
        </div>

    </div>
    {% endif %}
    <!-- questions end -->
{% endblock %}