{% extends 'utilities/_base.html' %}
{% load contentUtilities %}
{% load humanize %}
{% block title %}{{question.title}}{% endblock %}

{% block content %}
<div class="column-no-border">
    <h1 class="que-title center-title">{{question.title}}</h1>
    <div class="que-data-div">
        <span class="que-data-title">Asked:</span>
        <span class="que-data">{{question.getDuration}}</span>
        <span class="que-data-title">Active: </span>
        <span class="que-data">{{question.getLastActDuration}}</span>
        <span class="que-data-title">Viwes: </span>
        <span class="que-data">{{question.views|intcomma}}</span>
    </div>
    <div class="question-div">
        <div class="row">

            {% if request.user.is_authenticated and not request.user.is_anonymous %}
            <div class="col-1 icons-col">

                {% with question.post|getVote:request.user as V %}

                <i class="fas fa-sort-up sort-icon sort-icon-up
                {% if V == 'up' %}
                sort-icon-act
                {% endif %}
                " data-post-id="{{question.post.id}}"></i>
                <span class="votes-number-span">{{question.post.getVotes}}</span>
                <i class="fas fa-sort-down sort-icon sort-icon-down
                {% if V == 'down' %}
                sort-icon-act
                {% endif %}
              
                " data-post-id="{{question.post.id}}"></i>
                <i class="far fa-bookmark bookmark-icon"></i>
                {% endwith %}
            </div>
            {% endif %}
            <div class="
            {% if request.user.is_authenticated and not request.user.is_anonymous  %}
            
            col-11
            {% else %}
            col-12
            {% endif %}
            
            ">
                <div class="post-content">
                    {{question.post.text|safe}}
                </div>
            </div>
            <div class="row">
                <div class=" col-4 col-sm-6 col-md-8">
                    <div class="que-left-col">
                        <div class="tags-div ">
                            {% for tag in question.tags.all %}
                            {% tagLink tag %}
                            {% endfor %}
                        </div>
                        <div class="que-opts-spans">
                            <a href="#" class="custom-link custom-link-sm primary-link que-opt que-opt-sug">Suggest
                                Edit</a>
                            <div class="link-break">|</div>
                            <a href="#" class="custom-link custom-link-sm primary-link que-opt">Follow</a>
                            <div class="link-break">|</div>
                            <!-- Button trigger modal -->
                            <button type="button" class="link-button" data-bs-toggle="modal"
                                data-bs-target="#reportModal">
                                <a href="#" class="custom-link custom-link-sm primary-link que-opt">Report</a>
                            </button>



                        </div>
                        <div class="share-btns" id="share-btns">
                            <!-- Twitter -->
                            <a href="https://twitter.com/share?url={}" target="_blank" class="share-btn twitter">
                                <i class="fab fa-twitter"></i>
                            </a>

                            <!-- Facebook -->
                            <a href="https://www.facebook.com/sharer/sharer.php?u={}" target="_blank"
                                class="share-btn facebook">
                                <i class="fab fa-facebook-f"></i>
                            </a>

                            <!-- LinkedIn -->
                            <a href="https://www.linkedin.com/shareArticle?url={}" target="_blank"
                                class="share-btn linkedin">
                                <i class="fab fa-linkedin-in"></i>
                            </a>

                            <!-- Email -->
                            <a href="mailto:?subject=HMTL%20Share%20Buttons&body={}" target="_blank"
                                class="share-btn email">
                                <i class="fa fa-envelope"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class=" col-8 col-sm-6 col-md-4">

                    <div class="added-by-div-q que-added-by-div">
                        <div class="questtion-add-date">
                            Added in <time>{{question.formatedDate}}</time>
                        </div>
                        {% authodPostData question.post.author %}

                    </div>
                </div>
            </div>
            <div class="comments-div">
                <ul class="comments-list">
                    {% for comment in question.post.comments.all|slice:':3' %}
                    {% commentItem comment %}
                    {% endfor %}
                    {% if question.post.comments.all.count > 3 %}
                    <li>
                        <p class="all-comment-span" data-post-id="{{question.post.id}}">All comment</p>
                    </li>
                    {% endif %}
                </ul>
                {% if request.user.is_authenticated and not request.user.is_anonymous %}

                <p class="add-comment-span">Add comment</p>
                <div class="add-comment-div">
                    <input type="text" class="form-control que-input" placeholder="Add Comment..." maxlength="300">
                    <button class="btn btn-secondary btn-sm secondry-button add-comm-btn" data-post-id="{{question.post.id}}">Add
                        comment</button>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
    <h3 class="title">{{question.getAcceptedAnswers.count}} Answers</h3>
    <div style="clear: both;"></div>
    <div class="answers-list">
        {% if request.user.profile.isModerator %}

        {% for ans in question.answers.all %}
        {% if ans.isAccepted %}
        <div class="question-div">
            <div class="row">

                {% if request.user.is_authenticated and not request.user.is_anonymous %}
                <div class="col-1 icons-col">

                    {% with ans.post|getVote:request.user as V %}

                    <i class="fas fa-sort-up sort-icon sort-icon-up
                            {% if V == 'up' %}
                            sort-icon-act
                            {% endif %}
                            " data-post-id="{{ans.post.id}}"></i>
                    <span class="votes-number-span">{{ans.post.getVotes}}</span>
                    <i class="fas fa-sort-down sort-icon sort-icon-down
                            {% if V == 'down' %}
                            sort-icon-act
                            {% endif %}
                        
                            " data-post-id="{{ans.post.id}}"></i>
                    <i class="far fa-bookmark bookmark-icon"></i>
                    {% endwith %}
                </div>
                {% endif %}


                <div class="
                                            {% if request.user.is_authenticated and not request.user.is_anonymous  %}
                        
                        col-11
                        {% else %}
                        col-12
                        {% endif %}
            ">
                    <div class="post-content">
                        {{ans.post.text|safe}}
                    </div>
                </div>
                <div class="row">
                    <div class=" col-4 col-sm-6 col-md-8">

                        <div class="ans-opts-spans">

                            <a href="#" class="custom-link custom-link-sm primary-link que-opt que-opt-sug">Suggest
                                Edit</a>
                            <div class="link-break">|</div>
                            <a href="#" class="custom-link custom-link-sm primary-link que-opt">Follow</a>
                            <div class="link-break">|</div>

                            <!-- Button trigger modal -->
                            <button type="button" class="link-button" data-bs-toggle="modal"
                                data-bs-target="#reportModal">
                                <a href="#" class="custom-link custom-link-sm primary-link que-opt">Report</a>
                            </button>
                            <div class="share-btns" id="share-btns">
                                <!-- Twitter -->
                                <a href="https://twitter.com/share?url={}" target="_blank" class="share-btn twitter">
                                    <i class="fab fa-twitter"></i>
                                </a>

                                <!-- Facebook -->
                                <a href="https://www.facebook.com/sharer/sharer.php?u={}" target="_blank"
                                    class="share-btn facebook">
                                    <i class="fab fa-facebook-f"></i>
                                </a>

                                <!-- LinkedIn -->
                                <a href="https://www.linkedin.com/shareArticle?url={}" target="_blank"
                                    class="share-btn linkedin">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>

                                <!-- Email -->
                                <a href="mailto:?subject=HMTL%20Share%20Buttons&body={}" target="_blank"
                                    class="share-btn email">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </div>

                        </div>

                    </div>
                    <div class="col-8 col-sm-6 col-md-4">
                        <div class="added-by-div-q ans-added-by-div ">

                            <div class="questtion-add-date">
                                Added in <time>{{ans.formatedDate}}</time>
                            </div>

                            {% authodPostData ans.post.author %}
                            <!-- </div> -->
                        </div>
                    </div>
                    <div class="comments-div">
                        <ul class="comments-list">
                           
                            {% for comment in ans.post.comments.all|slice:':3' %}
                            {% commentItem comment %}
                            {% endfor %}
                            {% if ans.post.comments.all.count > 3 %}
                            <li>
                                <p class="all-comment-span" data-post-id="{{ans.post.id}}">All comment</p>
                            </li>
                            {% endif %}
        
                            
                        </ul>
                        {% if request.user.is_authenticated and not request.user.is_anonymous %}

                        <p class="add-comment-span">Add comment</p>
                        <div class="add-comment-div">
                            <input type="text" class="form-control que-input" placeholder="Add Comment...">
                            <button class="btn btn-secondary btn-sm secondry-button add-comm-btn" data-post-id="{{ans.post.id}}">Add
                                comment</button>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
        {% else %}

        <div class="answer-await">
            <div class="answer-div">
                <div class="row">

                    <div class="col-12">
                        <div class="post-content">
                            {{ans.post.text|safe}}


                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-4 col-sm-6 col-md-8">
                            <div class="que-left-col">

                                <div class="que-opts-spans">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="link-button" data-bs-toggle="modal"
                                        data-bs-target="#reportModal">
                                        <a href="#" class="custom-link custom-link-sm primary-link que-opt">Report</a>
                                    </button>



                                </div>
                            </div>
                        </div>
                        <div class=" col-8 col-sm-6 col-md-4">

                            <div class="added-by-div-q ans-added-by-div">
                                <div>
                                    <div class="questtion-add-date">
                                        Added in <time>{{ans.formatedDate}}</time>
                                    </div>
                                    {% authodPostData ans.post.author %}


                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="question-options-bottom question-options-bottom-wb">
                    {% if ans.isJustSuggested or ans.isRejected %}
                    <button class="btn btn-primary primary-button primary-button-sm primary-button-radius await-btn chang-ans-st-m-btn no-animate"
                    data-action="A" data-ans-id="{{ans.id}}"><i
                            class="fas fa-check"></i> Accept</button>
                    {% endif %}
                    {% if ans.isJustSuggested %}

                            <button
                        class="btn btn-primary primary-button primary-button-sm primary-button-radius  await-btn ignore-btn chang-ans-st-m-btn no-animate" data-action="R" data-ans-id="{{ans.id}}"><i
                            class="fas fa-times"></i> Ignore</button>
                        {% endif %}
              
                        </div>
            </div>
        </div>
        {% endif %}

        {% endfor %}
        {% else %}
        {% for ans in question.getAcceptedAnswers%}
        <div class="question-div">
            <div class="row">

                {% if request.user.is_authenticated and not request.user.is_anonymous %}
                <div class="col-1 icons-col">

                    {% with ans.post|getVote:request.user as V %}

                    <i class="fas fa-sort-up sort-icon sort-icon-up
                        {% if V == 'up' %}
                        sort-icon-act
                        {% endif %}
                        " data-post-id="{{ans.post.id}}"></i>
                    <span class="votes-number-span">{{ans.post.getVotes}}</span>
                    <i class="fas fa-sort-down sort-icon sort-icon-down
                        {% if V == 'down' %}
                        sort-icon-act
                        {% endif %}
                    
                        " data-post-id="{{ans.post.id}}"></i>
                    <i class="far fa-bookmark bookmark-icon"></i>
                    {% endwith %}
                </div>
                {% endif %}


                <div class="
                                        {% if request.user.is_authenticated and not request.user.is_anonymous  %}
                    
                    col-11
                    {% else %}
                    col-12
                    {% endif %}
        ">
                    <div class="post-content">
                        {{ans.post.text|safe}}
                    </div>
                </div>
                <div class="row">
                    <div class=" col-4 col-sm-6 col-md-8">

                        <div class="ans-opts-spans">

                            <a href="#" class="custom-link custom-link-sm primary-link que-opt que-opt-sug">Suggest
                                Edit</a>
                            <div class="link-break">|</div>
                            <a href="#" class="custom-link custom-link-sm primary-link que-opt">Follow</a>
                            <div class="link-break">|</div>

                            <!-- Button trigger modal -->
                            <button type="button" class="link-button" data-bs-toggle="modal"
                                data-bs-target="#reportModal">
                                <a href="#" class="custom-link custom-link-sm primary-link que-opt">Report</a>
                            </button>
                            <div class="share-btns" id="share-btns">
                                <!-- Twitter -->
                                <a href="https://twitter.com/share?url={}" target="_blank" class="share-btn twitter">
                                    <i class="fab fa-twitter"></i>
                                </a>

                                <!-- Facebook -->
                                <a href="https://www.facebook.com/sharer/sharer.php?u={}" target="_blank"
                                    class="share-btn facebook">
                                    <i class="fab fa-facebook-f"></i>
                                </a>

                                <!-- LinkedIn -->
                                <a href="https://www.linkedin.com/shareArticle?url={}" target="_blank"
                                    class="share-btn linkedin">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>

                                <!-- Email -->
                                <a href="mailto:?subject=HMTL%20Share%20Buttons&body={}" target="_blank"
                                    class="share-btn email">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </div>

                        </div>

                    </div>
                    <div class="col-8 col-sm-6 col-md-4">
                        <div class="added-by-div-q ans-added-by-div ">

                            <div class="questtion-add-date">
                                Added in <time>{{ans.formatedDate}}</time>
                            </div>

                            {% authodPostData ans.post.author %}
                            <!-- </div> -->
                        </div>
                    </div>
                    <div class="comments-div">
                        <ul class="comments-list">
                            {% for comment in ans.post.comments.all|slice:':3'%}
                            {% commentItem comment %}
                            {% endfor %}

                            {% if ans.post.comments.all.count > 3 %}
                            <li>
                                <p class="all-comment-span" data-post-id="{{ans.post.id}}">All comment</p>
                            </li>
                            {% endif %}
        
                        </ul>
                        {% if request.user.is_authenticated and not request.user.is_anonymous %}

                        <p class="add-comment-span">Add comment</p>
                        <div class="add-comment-div">
                            <input type="text" class="form-control que-input" placeholder="Add Comment...">
                            <button class="btn btn-secondary btn-sm secondry-button add-comm-btn" data-post-id="{{ans.post.id}}">Add
                                comment</button>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>

        {% endfor %}
        {% endif %}
    </div>
    {% for msg in messages %}
    <div id="mgss">
        <p class="success-p-s">
            {{msg}}
        </p>
    </div>
    {% endfor %}

    <div class="add-ans-continer">
        <h3 class="title"> Add Answer</h3>
        <div style="clear: both;"></div>
        <div class="editor-partnt ans-editor-partnt custom-scrollbar">
            <div id="editor"></div>
        </div>

        <form id="answer-form" action="{% url 'content:add-answer' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="que-id" value="{{question.id}}">
            <input type="hidden" name="ans-text" id="answer-body">
        </form>
    </div>
    <button type="button" class="btn btn-primary btn-sm primary-button add-ans-button">
        Add Answer
    </button>
</div>
{% endblock %}