{% extends 'utilities/_base.html' %}
{% load contentUtilities %}
{% load questions %}
{% load humanize %}
{% load reportModal %}
{% load i18n %}

{% block title %}{{question.title}}{% endblock %}

{% block content %}
<div class="column-no-border">
    {% question question request %}
    <!--  -->
    <h3 class="title">{{question.getPubliedAnswer.count}} {% translate 'Answers' %}</h3>
    <div style="clear: both;"></div>
    <div class="answers-list">
        {% if request.user.profile.isModerator %}

        {% for ans in question.answers.all %}
        {% if ans.isAccepted and ans.post.isPublished %}
        {% answer ans request %}
        {% elif ans.post.isPublished %}
        <div class="answer-await">
            <div class="answer-div">
                <div class="row">

                    <div class="col-12">
                        <div class="post-content">
                            {{ans.post.text|safe}}


                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-4 col-sm-6 col-md-8">
                            <div class="que-left-col">

                                <div class="que-opts-spans">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="link-button" data-bs-toggle="modal"
                                        data-bs-target="#reportModal">
                                        <a href="#" class="custom-link custom-link-sm primary-link que-opt">{% translate 'Report' %}</a>
                                    </button>



                                </div>
                            </div>
                        </div>
                        <div class=" col-8 col-sm-6 col-md-4">

                            <div class="added-by-div-q ans-added-by-div">
                                <div>
                                    <div class="questtion-add-date">
                                        {% translate 'Added in' %} <time>{{ans.formatedDate}}</time>
                                    </div>
                                    {% authodPostData ans.post.author %}


                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="question-options-bottom question-options-bottom-wb">
                    {% if ans.isJustSuggested or ans.isRejected %}
                    <button class="btn btn-primary primary-button primary-button-sm primary-button-radius await-btn chang-ans-st-m-btn no-animate"
                    data-action="A" data-ans-id="{{ans.id}}"><i
                            class="fas fa-check"></i> {% translate 'Accept' %}</button>
                    {% endif %}
                    {% if ans.isJustSuggested %}

                            <button
                        class="btn btn-primary primary-button primary-button-sm primary-button-radius  await-btn ignore-btn chang-ans-st-m-btn no-animate" data-action="R" data-ans-id="{{ans.id}}"><i
                            class="fas fa-times"></i> {% translate 'Ignore' %}</button>
                        {% endif %}
              
                        </div>
            </div>
        </div>
        {% endif %}

        {% endfor %}
        {% else %}
        {% for ans in question.getPubliedAnswer%}
        {% answer ans request %}
        

        {% endfor %}
        {% endif %}
    </div>
    {% for msg in messages %}
    <div id="mgss">
        <p class="success-p-s">
            {{msg}}
        </p>
    </div>
    {% endfor %}

    <div class="add-ans-continer">
        <h3 class="title"> {% translate 'Add Answer' %}</h3>
        <div style="clear: both;"></div>
        <div class="editor-partnt ans-editor-partnt custom-scrollbar">
            <div id="editor"></div>
        </div>

        <form id="answer-form" action="{% url 'content:add-answer' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="que-id" value="{{question.id}}">
            <input type="hidden" name="ans-text" id="answer-body">
        </form>
    </div>
    <button type="button" class="btn btn-primary btn-sm primary-button add-ans-button">
        {% translate 'Add Answer' %}
    </button>
</div>
{% reportModal 'Q' %}
{% reportModal 'A' %}
{% include 'utilities/_loginModal.html' %}
{% endblock %}