{% load i18n %}
<a class="side-link
{% if active  %}
active
{% endif %}
{{request.path}}
" href="{% url 'content:categories-page' %}"><i class="fas fa-align-justify"></i> 
    
{% if categoryName and active %}{{categoryName}}{% else %}{% translate 'categories' %}{% endif %}
<div class="higtlight-o"></div>
</a>
<ul class="categores-list">
    {% for cate in categories %}
    <li class="category-li">
        <a href="{% url 'content:index-with-cate' categoryID=cate.id %}" class="cateogry-item">

            {{cate.name}}
        </a>
        {% if cate.subCategoies %}
        <i class="fas fa-chevron-down down-icon"></i>
        {% endif %}
        <!-- <div class="cateogry-act-border"></div> -->
        <ul class="subcategories-list">
            {% for subCate in cate.toArray %}

            <li class="subcategory-item"> <a href="{% url 'content:index-with-cate' categoryID=subCate.id %}">{{subCate.name}}</a>
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}

</ul>