
{% for cate in categories %}
<li class="nav-item dropdown d-sm-none  ">
    <a href="{% url 'content:index-with-cate' categoryID=cate.id %}" class="nav-link dropdown-toggle cateogry-in-nav active" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">{{cate.name}}</a>
    <ul class="dropdown-menu dropdown-subs" aria-labelledby="navbarDropdown">
        {% for subCate in cate.toArray %}
        <li><a class="dropdown-item" href="{% url 'content:index-with-cate' categoryID=subCate.id %}">{{subCate.name}}</a></li>
        {% endfor %}
    </ul>
</li>
{% endfor %}
