
<footer class="main-foot">
    <div class="continer">
        <div class="row">
            <div class="col-3">
                <ul class="footer-links">
                    <li class="footer link-item">
                        <a  href="{% url 'misc:info-page' %}" class="custom-link footer-link">
                            About us
                        </a>
                    </li>
                    <li class="footer link-item">
                        <a href="{% url 'misc:contact-us' %}" class="custom-link footer-link">
                            Contact us
                        </a>
                    </li>
                    <li class="footer link-item">
                        <a class="custom-link footer-link">
                            Advertise with us
                        </a>
                    </li>
                    <li class="footer link-item">
                        <a class="custom-link footer-link" href="{% url 'misc:services-page' %}">
                            Services
                        </a>
                    </li>
                </ul>
                <div class="footer-break"></div>
           
            </div>
            <div class="col-9 cus-footer">
                {% load i18n %}
                {% get_current_language as LANGUAGE_CODE %}
                {% with lc=LANGUAGE_CODE|slice:':2'|upper %}
        
                {% include 'utilities/_customFooter'|add:lc|add:'.html' %}
                {% endwith %}
            
            </div>
    
        </div>

    </div>
</footer>