<footer class="main-foot">
    <div class="continer">
        <div class="row">
            <div class="col-3">
                <ul class="footer-links">
                    <li class="footer link-item">
                        <a class="custom-link footer-link">
                            About us
                        </a>
                    </li>
                    <li class="footer link-item">
                        <a class="custom-link footer-link">
                            Contact us
                        </a>
                    </li>
                    <li class="footer link-item">
                        <a class="custom-link footer-link">
                            Advertise with us
                        </a>
                    </li>
                    <li class="footer link-item">
                        <a class="custom-link footer-link" href="#">
                            Services
                        </a>
                    </li>
                </ul>
                <div class="footer-break"></div>
            </div>
        </div>
    </div>
</footer>