{% load categories %}
    <header class="header-nav">
        <!-- navbar start -->
        <nav class="navbar navbar-expand-sm navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand d-none d-sm-inline" href="{% url 'content:index' %}">
                        {% load i18n %}
                {% get_current_language as LANGUAGE_CODE %}
                {% with lc=LANGUAGE_CODE|slice:':2'|upper %}
        
                {% include 'utilities/_brand'|add:lc|add:'.html' %}
                {% endwith %}</a>
                <div class="d-flex search-nav-form">
                    <div class="form-group has-search">
                        <span class="fa fa-search form-control-feedback"></span>
                        <div class="loading-circle in-search">
                            <div class="primary-circle">
                                <div class="secondary-circle"></div>
                                <div class="background-circle"></div>
                            </div>
                    
                        </div>
                        <input type="text" class="form-control search-input" placeholder="Search">
                    </div>
                    <ul class="search-resaults">
                    

                    </ul>
                </div>
                <button class="navbar-toggler  " type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- search bar start -->
                  
                    <!-- search bar end -->
                    <ul class="navbar-nav ms-auto">
                        <!-- itemes on the right start -->
                        <li class="nav-item drop-down-nl d-none d-sm-block" >
                            <button class="btn drop-down-icon" id="drop-d-btn-nav">
                            <i class="far fa-caret-square-down "></i>

                            </button>
                            <ul class="nav-drop-down">
                                <li>
                                    <a href="{% url 'profiles:profile-page' userID=request.user.id %}" class="drop-link">
                                     <p>My Profile</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'profiles:user-questions' userID=request.user.id %}" class="drop-link">
                                     <p>My Questions</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'profiles:user-answers' userID=request.user.id %}" class="drop-link">
                                     <p>My Answes</p>
                                    </a>
                                </li>
                                {% if request.user.profile.isModerator %}
                                <li >
                                    <span class="drop-link n-sl-btn">Moderator <i class="fas fa-caret-down"></i></span>      
                                    <ul class="n-sub-list">
                                        <li>
                                            <a href="{% url 'moderators:suggested-questions-await' page=1 %}" class="drop-link">
                                                 <p>Questions</p></a>
                                        </li> <li>
                                            <a href="{% url 'moderators:suggested-answers-await' page=1 %}" class="drop-link">
                                                 <p>Answers</p></a>
                                        </li> <li>
                                            <a href="{% url 'moderators:suggested-edits-await' page=1 %}" class="drop-link">
                                                 <p>Edits</p></a>
                                        </li>
                                    </ul>
    
                                </li>
                                {% endif %}
                                <li>
                                    <a href="{% url 'authusers:logout' %}" class="drop-link">
                                        <i class="fas fa-sign-out-alt"></i> <p>logout</p></a>
                                </li>
                            
                            </ul>
                        </li>
                        <li class="nav-item cus-nav-item">
                            <img class="avatar-img" src="{{request.user.profile.image.url}}" alt="avatar">
                            <span class="points-sp">{{request.user.profile.rep}}</span>
                            <div class="badges">
                                {% if request.user.profile.goldBadgesCount %}

                                <div class="badge ">
                                    <div class=" circular-badge gold-badge"></div>
                                    <span class="badge-num-span gold-badge-span">{{request.user.profile.goldBadgesCount}}</span>
                                </div>
                                {% endif %}
                                {% if request.user.profile.silverBadgesCount %}
                                <div class="badge ">
                                    <div class=" circular-badge silver-badge"></div>
                                    <span class=" badge-num-span silver-badge-span">{{request.user.profile.silverBadgesCount}}</span>
                                </div>
                                {% endif %}
                                {% if request.user.profile.bronzeBadgesCount %}
                                <div class="badge ">
                                    <div class=" circular-badge bronze-badge"></div>
                                    <span class="badge-num-span bronze-badge-span">{{request.user.profile.bronzeBadgesCount}}</span>
                                </div>
                                {% endif %}

                            </div>

                        </li>
                        <!-- itemes on the right start -->
                        <!-- cateagors on sm start -->


                        <li class="nav-item dropdown d-sm-none  ">
                            <span class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">Moderator</span>
                            <ul class="dropdown-menu dropdown-subs" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'moderators:suggested-questions-await' page=1 %}">Questions</a></li>
                                <li><a class="dropdown-item" href="{% url 'moderators:suggested-answers-await' page=1 %}">Answers</a></li>
                                <li><a class="dropdown-item" href="{% url 'moderators:suggested-edits-await' page=1 %}">Edits</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown d-sm-none   ">
                            <a class="dropdown-item mob-nav-link" href="{% url 'profiles:profile-page' userID=request.user.id %}">My Profile</a>
                        </li>
                        <li class="nav-item dropdown d-sm-none   ">
                            <a class="dropdown-item mob-nav-link" href="{% url 'profiles:user-questions' userID=request.user.id %}">My Questions</a>
                        </li>
                        <li class="nav-item dropdown d-sm-none   ">
                            <a class="dropdown-item mob-nav-link" href="{% url 'profiles:user-answers' userID=request.user.id %}">My Answers</a>
                        </li>
                        
                        <li class="nav-item dropdown d-sm-none   ">
                            <a class="dropdown-item mob-nav-link" href="{% url 'content:categories-page' %}">All Categories</a>
                        </li>
                        
                        <li class="nav-item dropdown d-sm-none   ">
                            <a class="dropdown-item mob-nav-link" href="{% url 'content:tags-page' %}">All Tags</a>
                        </li>
                        {% categories_mob %}
                        <!-- cateagors on sm end -->

                    </ul>
                </div>

            </div>
        </nav>
    </header>