<div class="d-none d-md-block col-md-2 left-column">
    <h4 class="categores-title">categories</h4>
    <ul class="categores-list">
        <li class="category-li">
            <a href="#" class="cateogry-item cateogry-active">Cateogry 1</a>
            <i class="fas fa-chevron-down down-icon"></i>
            <div class="cateogry-act-border"></div>
            <ul class="subcategories-list">
                <li class="subcategory-item"> <a href="#">sub cateogry</a> </li>
                <li class="subcategory-item"> <a href="#">sub cateogry</a> </li>

                <li class="subcategory-item"> <a href="#">sub cateogry</a> </li>

            </ul>
        </li>
        <li class="category-li">
            <a href="#" class="cateogry-item">Cateogry 2</a>
            <i class="fas fa-chevron-down down-icon"></i>
            <div class="cateogry-border"></div>
            <ul class="subcategories-list">
                <li class="subcategory-item"> <a href="#">sub cateogry</a> </li>

                <li class="subcategory-item"> <a href="#">sub cateogry</a> </li>

                <li class="subcategory-item"> <a href="#">sub cateogry</a> </li>

            </ul>

        </li>
        <li class="category-li">
            <a href="#" class="cateogry-item">Cateogry 3</a>
            <i class="fas fa-chevron-down down-icon"></i>
            <div class="cateogry-border"></div>
            <ul class="subcategories-list">
                <li class="subcategory-item"> <a href="#">sub cateogry</a> </li>

                <li class="subcategory-item"> <a href="#">sub cateogry</a> </li>

                <li class="subcategory-item"> <a href="#">sub cateogry</a> </li>

            </ul>

        </li>
        <li class="category-li">
            <a href="#" class="cateogry-item">Cateogry 4</a>
            <i class="fas fa-chevron-down down-icon"></i>
            <div class="cateogry-border"></div>
            <ul class="subcategories-list">
                <li class="subcategory-item"> <a href="#">sub cateogry</a> </li>

                <li class="subcategory-item"> <a href="#">sub cateogry</a> </li>

                <li class="subcategory-item"> <a href="#">sub cateogry</a> </li>

            </ul>

        </li>
        <li class="category-li">
            <a href="#" class="cateogry-item">Cateogry 5</a>
            <i class="fas fa-chevron-down down-icon"></i>
            <div class="cateogry-border"></div>
            <ul class="subcategories-list">
                <li class="subcategory-item"> <a href="#">sub cateogry</a> </li>

                <li class="subcategory-item"> <a href="#">sub cateogry</a> </li>

                <li class="subcategory-item"> <a href="#">sub cateogry</a> </li>

            </ul>

        </li>

    </ul>

    <div class="left-bottom-column">
        <div class="cus-card ">
            <h5 class="cus-card-header">column title</h5>
            <div class="cus-card-body ">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque maxime dolorum incidunt
                    amet, repudiandae libero harum tempora nisi tempore in ipsam earum eos non sint,
                    aspernatur dolore laudantium corporis provident?</p>
            </div>
        </div>

    </div>
</div>