
    <div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog custom-dialog">
            <div class="modal-content custom-dialog">
                <div class="modal-header custom-dialog-header">
                    <h5 class="modal-title" id="exampleModalLabel">Report</h5>
                    <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times close-dialog-ico"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-check">
                        <input class="form-check-input custom-radio primary-radio" type="radio" name="flexRadioRaeson"
                            id="flexRadioRaeson1">
                        <label class="form-check-label" for="flexRadioRaeson1">
                            Option 1
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input custom-radio primary-radio" type="radio" name="flexRadioRaeson"
                            id="flexRadioRaeson2" checked>
                        <label class="form-check-label" for="flexRadioRaeson2">
                            Option 2
                        </label>
                    </div>
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn  secondry-button" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary primary-button">Report</button>
                </div>
            </div>
        </div>

    </div>