{% load contentUtilities %}

<div class="d-none d-xl-block  right-column">
    {% if request.user.is_authenticated and not request.uesr.is_anonymous %}
    <div class="cus-card tags-card">
        <div class="cus-card-header">
           <h5>Tags</h5> 
           <a href="{% url 'content:tags-page' %}" class="btn btn-outline-info btn-tag edit-tags-link">
            <i class="fas fa-pen"></i>
            </a>
        </div>
      
        <div class="cus-card-body tags-div">
            {% for tag in request.user.profile.tags.all %}
            {% tagLink tag %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="right-bottom-column">
        
        
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% with lc=LANGUAGE_CODE|slice:':2'|upper %}
{% include 'columnsCards/RT_'|add:lc|add:".html" %}
{% endwith %}
    </div>
</div>