{% load contentUtilities %}

<div class="d-none d-xl-block col-xl-3  right-column">
    {% if request.user.is_authenticated and not request.uesr.is_anonymous %}
    <div class="cus-card tags-card">
        <h5 class="cus-card-header">Tags</h5>
        <div class="cus-card-body tags-div">
            {% for tag in request.user.profile.tags.all %}
            {% tagLink tag %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="right-bottom-column">
        <div class="cus-card ">
            <h5 class="cus-card-header">column title</h5>
            <div class="cus-card-body ">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque maxime dolorum incidunt
                    amet, repudiandae libero harum tempora nisi tempore in ipsam earum eos non sint,
                    aspernatur dolore laudantium corporis provident?</p>
            </div>
        </div>

    </div>
</div>