{% extends 'utilities/_question_base.html' %}
{% load i18n %}
{% load contentUtilities %}
{% block title %}{{question.title}}{% endblock %}
{% block queTop %}
<h1 class="que-title center-title">{{question.title}}</h1>
    
<div class="que-data-div">
        <span class="que-data-title">{% translate 'Asked:' %} </span>
        <span class="que-data">{{question.getDuration}}</span>
        
    </div>
 {% endblock %}
{% block content %} 
<!-- TODO -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/agate.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>

<div class="column-no-border">
    <div class="question-await">
        <div class="question-div">
            <div class="row">

                <div class="col-12">
                    <div class="post-content">
                        {{question.post.text|safe}}
                    </div>
                </div>
                <div class="row">
                    <div class=" col-4 col-sm-6 col-md-8">
                        <div class="que-left-col">
                            <div class="tags-div ">
                                {% for tag in question.tags.all %}
                                {% tagLink tag %}
                                {% endfor %}
                            </div>
                            <div class="que-opts-spans">
                                



                            </div>
                        </div>
                    </div>
                    <div class=" col-8 col-sm-6 col-md-4">

                        <div class="added-by-div-q que-added-by-div">

                                <div class="questtion-add-date">
                                    {% translate 'Added in' %} <time>{{question.formatedDate}}</time>
                                </div>
                                {% authodPostData question.post.author %}
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="question-options-bottom" style="border: none;">
            {% if not question.isAccepted %}
            <button
            class="btn btn-primary primary-button primary-button-sm primary-button-radius await-btn chang-que-st-m-btn no-animate" data-action="A" data-que-id="{{question.id}}" >
            <i class="fas fa-check"></i> {% translate 'Accept' %}</button>
            {% endif %}
            {% if not question.isAccepted and not question.isRejected %}
            <button
                class="btn btn-primary primary-button primary-button-sm primary-button-radius  await-btn ignore-btn chang-que-st-m-btn no-animate" data-action="R" data-que-id="{{question.id}}" ><i
                    class="fas fa-times"></i> {% translate 'Reject' %}</button>
                {% endif %}

        </div>
    </div>
    </div>
    <script>
        document.querySelectorAll('.post-content pre code').forEach((el) => {
            $(el).html($(el).html().trim());
            hljs.highlightElement(el);
          });
          if(document.querySelector('.column-no-border'))
            document.querySelector('.column-no-border').parentElement.style.border='none';
    
        </script>
 
{% endblock %}