
.l-btn img {
    left: unset;
    right: 18px;
}
button.l-btn{
    text-indent: 30px;
}

.select-arrow{
    right: unset;
    left: 5px;
}
.category-li .down-icon{
    right: unset;
    left: 10px;
}
.edit-tags-link{
    float: left;
}
.n-sl-btn{
    padding-right: 15px;
}
.center-title, .title{
    float: right;
}
.suggest-btn{
    float: left;
    margin-left: 8px;
}
.add-post-btn{
    float: left;
}
.btn.tag-star{
    right: unset;
    left: 5px;
}

.question-tags{
    float: right;
}

.points-sp{
    margin-right: 7px;
    margin-top: 6px;
    margin-left: 0;
    float: left;

}
.log-w-email-btn{
    font-size: 11px;
    padding-top: 8px;
}
.log-w-email-btn i{
    left: unset;
    right: 18px;
}
.mod-title,.mod-btns{
    float: right;
}
/* .await-item .question-date{
    right: unset;
    left: 8px;
}

.await-item .added-by-div-2{
    left: -8px;
} */

.added-by-div-2{
    width: auto;
}
.ans-added-by-div{
    float: left;
}

.question-date{
    right: unset;
    left: 15px;
}

.earned-mark{
    right: unset;
    left: 4px;
}

.follower-item .follow-btn{
    float: left;
}
.pers-badges-2 .circular-badge{
    margin-right: 5px;
}
.pers-rep{
    margin: 16px 0px 16px 10px;
}
.que-data{
    padding-right: 0; 
    padding-left: 10px;
}
.has-search .form-control{
    text-indent: 19px;
}
.loading-circle .secondary-circle{
    left: 0;
}

.loading-circle.in-search{
    right: unset;
    left: 0;
}
.right-column{
    padding-left: 0;
    padding-right: 4px;
}
.left-column{ 
    padding-right: 0;
    padding-left: 4px;
}
.copy-lnk{
    right: unset;
    left: 7px;
}

.que-col{
    padding-right: 30px;
}

.fav-ques .fv-f-c:first-child{
    padding-left: 8px;
    padding-right: 0;
}
.circular-badge{
    float: right;
}
.badge-num-span{
    margin-left: 0;
    margin-right: 5px;
}

.misc-title{
    margin-left: 0px;
    margin-right: -2px;
}

.ml-10{
    margin-left: 10px;
    margin-right: 0;
}


.ml-12{
    margin-left: 0;
    margin-right: 12px;
}
.side-link .higtlight-o{
    right: unset;
    left: 0;
}
.nav-drop-down{
    right: 40px;
}

.author-data .points-sp{
    margin: 0;
    margin-left: 6px;
}

.post-content-container.admin-v{
    padding-right: 0;
    padding-left: 40px;
}