{% extends 'utilities/dashboard/_base.html' %}
{% load i18n %}
{% block content %}
      <!-- Main content -->
      <div class="content">
        <div class="container-fluid">
         
          <div class="card" style="width: 100%;">
            <div class="card-header">
              {% translate 'Services' %}
               <a class="btn btn-default add-cate-m-btn" href="{% url 'dashboard:add-service-page' language=lang %}" >+</a>
               
            <div class="btn-group lng-sel">
                <a href="{% url 'dashboard:edit-services-page' language='EN' %}" class="btn btn-default">English</a>
                  <a href="{% url 'dashboard:edit-services-page' language='AR' %}" class="btn btn-default">عربي</a>
              </div>
            </div>
            <ul class="list-group list-group-flush categories-list item-moveable-v-p" id="categories-list-1">
                {% for service in services %}
              <li class="list-group-item   item-moveable-v" data-item-id="{{service.id}}">
                <span class="li-name">{{service.title}} </span>
                <a href="{% url 'dashboard:edit-service-page' serviceID=service.id %}" class="btn btn-app  cus-btn-app btn-app-sm float-right li-option edit-li-btn"  >
                  <i class="fas fa-pen btn-app-icon"></i>{% translate 'Edit' %}

                </a>
                <button class="btn btn-app  cus-btn-app btn-app-sm float-right li-option del-li-btn" data-lvl="2"
                  data-toggle="modal" data-target="#del-cate-modal">
                  <i class="far fa-trash-alt btn-app-icon"></i>{% translate 'Delete' %}
                </button>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

  <!-- Modal -->
<!-- delet category modal -->
<div class="modal fade" id="del-cate-modal" tabindex="-1" role="dialog" aria-labelledby="del-cate-modalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="del-cate-modalLabel">{% translate 'Delete Service' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" id="delete-form" action="{% url 'dashboard:delete-service' language=lang %}">
            {% csrf_token %}
            <p>{% translate 'Do you want delete' %} <span class="del-name" id="del-name"></span> {% translate 'and everything related to it?' %}
          </p>
          <input type="hidden" name="service-id" id="del-id">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% translate 'Close' %}</button>
        <input type="submit" class="btn btn-primary" form="delete-form" value="{% translate 'Delete' %}">
      </div>
    </div>
  </div>
</div>

  </div>

{% endblock %}