
    <div class="tabs-btns profile-tabs">
        <a class="btn tab-btn-a 
        {% if tab == 'profile' %}
        active
        {% endif %}
        " href="{% url 'profiles:profile-page' userID=user.id %}">Profile</a>
        <a class="btn tab-btn-a
        {% if tab == 'badges' %}
        active
        {% endif %}
      
        " href="{% url 'profiles:badges' userID=user.id %}">Badges</a>
        <a class="btn tab-btn-a
        {% if tab == 'followers' %}
        active
        {% endif %}
      
        " href="{% url 'profiles:user-followers' userID=user.id %}">Followres</a>
        <a class="btn tab-btn-a
        {% if tab == 'favorite' %}
        active
        {% endif %}
      
        " href="{% url 'profiles:favorite-questions' userID=user.id %}" >Favorite
            Queestions</a>
        {% if request.user == user %}
        <a class="btn tab-btn-a
        {% if tab == 'settings' %}
        active
        {% endif %}
        " href="{% url 'profiles:user-settings' %}" >Settings</a>
        {% endif %}
   
        {% if not request.user == user %}
       <div class="right-opts">
        <button type="button" class="link-button report-btn primary-link txt-opt" data-report-on="{{user.id}}" data-type="U" data-bs-toggle="modal"
        data-bs-target="#U-reportModal">
        Report
    </button>

        <button class="btn btn-primary primary-button primary-button-radius follow-btn" data-user-id="{{user.id}}">
            {% if request.user in user.profile.followers.all %}
            <i class="fas fa-user-minus"></i> Unfollow
            {% else %}
            <i class="fas fa-user-plus"></i> Follow
            {% endif %}
        </button>
       </div>
        {% endif %}
    </div>