{% extends 'utilities/_base_no_right.html' %}
{% load profileLib %}
{% load questions %}
{% load i18n %}

{% block title %}{{user.username}} | {% translate 'Badges' %}{% endblock %}
{% block content %}
{% include 'profiles/_profileTabs.html' %}
<div class="prof-act-row">
    <div class="prof-act-col-1">
        {% include 'profiles/_sideList.html' %}
    </div>
    <div class="prof-act-col-2">
     
<div class="badget-content">
        <div class="badges-list-header badges-list-header-gold">
            <div class="badges-header-circural"></div>
            <span class="badges-header-title"> {% translate 'Gold' %}</span>
        </div>
        <div class="badges-list badges-list-gold">
            {% for badge in goldBadges %}
                {% badgeItem badge %}
            {% endfor %}
        </div>
        <button class="btn see-more-btn see-more-btn-badges" data-user-id='{{user.id}}' data-level="G" data-page="1">{% translate 'See more' %}</button>
        <div class="loading-circle">
            <div class="primary-circle">
                <div class="secondary-circle"></div>
                <div class="background-circle"></div>
            </div>
    
        </div>
        <div class="badges-list-header badges-list-header-silver">
            <div class="badges-header-circural"></div>
            <span class="badges-header-title"> {% translate 'Silver' %}</span>
        </div>

       
        <div class="badges-list badges-list-silver">

            {% for badge in silverBadges %}
                {% badgeItem badge %}
            {% endfor %}
        
        </div> 

        <button class="btn see-more-btn see-more-btn-badges" data-user-id='{{user.id}}' data-level="S" data-page="1">{% translate 'See more' %}</button>
        <div class="loading-circle">
            <div class="primary-circle">
                <div class="secondary-circle"></div>
                <div class="background-circle"></div>
            </div>
    
        </div>
        <div class="badges-list-header badges-list-header-bronze">
            <div class="badges-header-circural"></div>
            <span class="badges-header-title"> {% translate 'Bronze' %}</span>
        </div>

        <div class="badges-list badges-list-bronze">
        {% for badge in bronzeBadges %}
        {% badgeItem badge %}
        {% endfor %}
            

        </div>

        <button class="btn see-more-btn see-more-btn-badges" data-user-id='{{user.id}}' data-level="B" data-page="1">{% translate 'See more' %}</button>
        <div class="loading-circle">
            <div class="primary-circle">
                <div class="secondary-circle"></div>
                <div class="background-circle"></div>
            </div>
    
        </div>
    </div>
    
    </div>
</div>
{% endblock %}