{% extends 'utilities/_base_no_right.html' %}
{% load i18n %}

{% block title %}{% translate 'My Tags' %}{% endblock %}
{% block content %}
{% include 'profiles/_profileTabs.html' %}
    <div class="settings-content " id="settings-content">
        <div class="row">
            <div class="col-12">

                <div class="tabs-btns">
                    <a class="btn tab-btn-a 
                    {% if 'settings' in request.path %} 
                    active
                    {% endif %}
                     
                     " href="{% url 'profiles:user-settings' %}">{% translate 'Profile' %}</a>
                    <a class="btn tab-btn-a
                    {% if 'my-tags' in request.path %} 
                    active
                    {% endif %}
                     
                    " href="{% url 'profiles:user-tags' %}">{% translate 'Your Tags' %}</a>
        
                </div>
                        </div>
            <div class="col-12">

                <div class="cate-tags-list">
                    {% for tag in tags %}
                    <div class="row tag-list-item">
                        <div class="col-2 tag-column">
                            <button class="btn btn-outline-info btn-tag">{{tag.name}}</button>
                            <button data-tag-id="{{tag.id}}" class="btn tag-star favorited">
                                <i class="fas fa-star"></i>
                            </button>
                        </div>
                        <div class="col">
                            <div class="tag-path">
                                {% for cate in tag.path %}
                                    {{cate.name}}
                                    {% if not forloop.last %}
                                        <i class="fas fa-circle"></i>
                                    {% endif %}
                                {% endfor %}                           
                            </div>
                            <p class="tag-sumr  line-clamp-3">
                                {{tag.description}}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
            
                </div>
            </div>

        </div>
    </div>
{% endblock %}