{% extends 'utilities/_base_no_right.html' %}
{% block title %}Profile Settings{% endblock %}
{% block content %} 

{% include 'profiles/_profileTabs.html' %}
<div class="row">
    
    <div class="col-12">
        <div class="tabs-btns">
            <a class="btn tab-btn-a 
            {% if 'settings' in request.path %} 
            active
            {% endif %}
             
             " href="{% url 'profiles:user-settings' %}">Profile</a>
            <a class="btn tab-btn-a
            {% if 'my-tags' in request.path %} 
            active
            {% endif %}
             
            " href="{% url 'profiles:user-tags' %}">Your Tags</a>

        </div>
</div>
</div>
<div class="row">
                    <div class="col-12 col-sm-9 order-last order-sm-first">

                        <div class="settings-content">
                            <form method="post">
                                {% csrf_token %}
                                <textarea class="form-control custom-input summary" placeholder="About You..." name="about">{{user.profile.about}}</textarea>
                                <input type="url" class="form-control custom-input" placeholder="Website" name="website" value="{{user.profile.website}}">
                                <button class="btn btn-primary primary-button primary-button-radius save-btn">Save
                                    Changes</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-12 col-sm-3 order-first order-sm-last">
                        <div class="avt-container">
                            <img class="avt-img" src="{{user.profile.image.url}}" alt="person name">
                            <button type="button" class="btn btn-primary primary-button edit-avatar-btn"
                                >
                                
                                    <i class="fas fa-pen"></i>
                                </button>
                            </div>

                    </div>
                </div>

    {% include 'profiles/_editAvatarModal.html' %}

{% endblock %}