{% extends 'utilities/_base_no_right.html' %}
{% load profileLib %}
{% load questions %}
{% load i18n %}

{% block title %}{{user.username}} | {% translate 'Followers' %}{% endblock %}
{% block content %}
{% include 'profiles/_profileTabs.html' %}
<div class="prof-act-row">
    <div class="prof-act-col-1">
        {% include 'profiles/_sideList.html' %}
    </div>
    <div class="prof-act-col-2">
     <div class="followers-list">
    {% for person in followers %}
            {% followerItem person request.user %}
    {% endfor %}
    </div>
    {% if pageCount > 1 %}
    <button class="btn see-more-btn see-more-btn-followers" data-user-id="{{user.id}}">{% translate 'See more' %}</button>
    <div class="loading-circle">
        <div class="primary-circle">
            <div class="secondary-circle"></div>
            <div class="background-circle"></div>
        </div>

    </div>
    {% endif %}
  
    </div>
</div>
{% include 'utilities/_loginModal.html' %}
{% endblock %}