{% extends 'utilities/_base_no_right.html' %}
{% load i18n %}
{% load static %}
{% load reportModal %}
{% load profileLib %}
{% block  title %}{{user.username}} {% endblock %}

{% block content %} 
 
<div class="profile-right-opts">
 {% if request.user.is_authenticated and not request.user.is_anonymous and not request.user  == user  %}
         <button type="button" class="link-button report-btn primary-link txt-opt" data-report-on="{{user.id}}" data-type="U" data-bs-toggle="modal"
         data-bs-target="#U-reportModal">
         {% translate 'Report' %}
       </button>

     <button class="btn btn-primary primary-button primary-button-radius follow-btn" data-user-id="{{user.id}}">
         {% if request.user in user.profile.followers.all %}
         <i class="fas fa-user-minus"></i> {% translate 'Unfollow' %}
         {% else %}
         <i class="fas fa-user-plus"></i> {% translate 'Follow' %}
         {% endif %}
     </button>
 {% endif %}
 {% if request.user  == user and request.user.is_authenticated and not request.user.is_anonymous %}
 <a href="{% url 'authusers:logout' %}" class="btn btn-primary primary-button primary-button-radius">
     <i class="fas fa-sign-out-alt"></i> {% translate 'Logout' %}
 </a>

 {% endif %}
 </div>
        <div class="profile-content" id="profile-content">
            <div class="container-fluid">
                
{% include 'profiles/_profileTabs.html' %}
<div class="row">
    <div class="col-3 prof-col-1">
        <h4 class="prof-title">{% translate 'Stats' %}</h4>
        <div class="nums-profile">
        <div class="num-profile-div">
            <span class="num-profile">{{user.profile.answersCount}}</span>
            <span class="num-profile-word">{% translate 'Answers' %}</span>
        </div>
        <div class="num-profile-div">
            <span class="num-profile">{{user.profile.questionsCount}}</span>
            <span class="num-profile-word">{% translate 'Questions' %}</span>
        </div>
        <div class="num-profile-div">
            <span class="num-profile">{{user.profile.rep}}</span>
            <span class="num-profile-word">{% translate 'Reputation' %}</span>
        </div>
    </div>
                 

    </div>
    <div class="col-9 prof-col-2">
        <h4 class="prof-title">{% translate 'About Me' %}</h4>
        <p class="prof-about">
            {{user.profile.about}}
        </p>
        <h4 class="prof-title">{% translate 'Badges' %}</h4>

        <div class="row prof-badges-row">
            <div class="col-12 col-sm-6 col-lg-3">
             
                  <div class="badges-list-p">
                    <div class="badges-list-header">
                        <img class="badge-icon" src="{% static 'img/icons/badge-gold.svg' %}" alt="gold badge">
                        <div class="badges-list-spans">
                            <span class="badge-list-ns">{{user.profile.goldBadgesCount}}</span>
                            <span class="badge-list-ws">{% translate 'Gold Badges' %}</span>
                        </div>
                    </div>
                    <div class="badges-list badges-list-gold">
                        {% for item in user.profile.lastTwoGold %}
                        <div class="badge-row">
                            <div class="badge-grid-item">
                                <div class="badge-item-circural"></div>
                                <span class="badge-item-name">{{item.badge.name}}</span>
                            </div>
                            <time class="bagde-date">{{item.date|formatDate}}</time>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="badges-list-p">
                    <div class="badges-list-header">
                        <img class="badge-icon" src="{% static 'img/icons/badge-silver.svg' %}" alt="gold badge">
                        <div class="badges-list-spans">
                            <span class="badge-list-ns">{{user.profile.silverBadgesCount}}</span>
                            <span class="badge-list-ws">{% translate 'Silver Badges' %}</span>
                        </div>
                    </div>
                    <div class="badges-list badges-list-silver">
                        {% for item in user.profile.lastTwoSilver %}
                        <div class="badge-row">
                            <div class="badge-grid-item">
                                <div class="badge-item-circural"></div>
                                <span class="badge-item-name">{{item.badge.name}}</span>
                            </div>
                            <time class="bagde-date">{{item.date|formatDate}}</time>
                        </div>
                        {% endfor %}
                    
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="badges-list-p">
                    <div class="badges-list-header">
                        <img class="badge-icon" src="{% static 'img/icons/badge-bronze.svg' %}" alt="gold badge">
                        <div class="badges-list-spans">
                            <span class="badge-list-ns">{{user.profile.bronzeBadgesCount}}</span>
                            <span class="badge-list-ws">{% translate 'Bronze Badges' %}</span>
                        </div>
                    </div>
                    <div class="badges-list badges-list-bronze">
                        {% for item in user.profile.lastTwoBronze %}
                        <div class="badge-row">
                            <div class="badge-grid-item">
                                <div class="badge-item-circural"></div>
                                <span class="badge-item-name">{{item.badge.name}}</span>
                            </div>
                            <time class="bagde-date">{{item.date|formatDate}}</time>
                        </div>
                        {% endfor %}
                    
                    </div>
                </div>
            </div>
        </div>
        <!-- <h4 class="title-prof">Top Tags</h4>
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-3">
                <button type="button" class="btn btn-outline-info btn-tag t-btn-tag">Tag</button>
                <div class="t-tag-data-div">
                    <div class="t-tag-data-row">
                        <span class="t-tag-data-w">SCORE</span>
                        <span class="t-tag-data">1252</span>
                    </div>
                    <div class="t-tag-data-row">
                        <span class="t-tag-data-w">POSTS</span>
                        <span class="t-tag-data">2</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <button type="button" class="btn btn-outline-info btn-tag t-btn-tag">Tag</button>
                <div class="t-tag-data-div">
                    <div class="t-tag-data-row">
                        <span class="t-tag-data-w">SCORE</span>
                        <span class="t-tag-data">1252</span>
                    </div>
                    <div class="t-tag-data-row">
                        <span class="t-tag-data-w">POSTS</span>
                        <span class="t-tag-data">2</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <button type="button" class="btn btn-outline-info btn-tag t-btn-tag">Tag</button>
                <div class="t-tag-data-div">
                    <div class="t-tag-data-row">
                        <span class="t-tag-data-w">SCORE</span>
                        <span class="t-tag-data">1252</span>
                    </div>
                    <div class="t-tag-data-row">
                        <span class="t-tag-data-w">POSTS</span>
                        <span class="t-tag-data">2</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <button type="button" class="btn btn-outline-info btn-tag t-btn-tag">Tag</button>
                <div class="t-tag-data-div">
                    <div class="t-tag-data-row">
                        <span class="t-tag-data-w">SCORE</span>
                        <span class="t-tag-data">1252</span>
                    </div>
                    <div class="t-tag-data-row">
                        <span class="t-tag-data-w">POSTS</span>
                        <span class="t-tag-data">2</span>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="tops-toolbar">
            <h4 class="tops-toolbar-title prof-title" id="top-po">{% translate 'Top Posts' %}</h4>
            <div class="toolbar-btn-groups ">
                <div class="my-btn-group filter">
                <div class="btn-group  button-filter " role="group"
                    aria-label="Basic outlined example">
                    <button type="button" data-value="N"
                        class="btn btn-outline-primary btn-group-item
                        {% if order == 'N' %} 
                        active
                        {% endif %}
                         ">{% translate 'Newest' %}</button>
                    <button type="button" data-value="V"
                        class="btn btn-outline-primary btn-group-item
                        {% if order == 'V' %} 
                        active
                        {% endif %}
                        
                        ">{% translate 'Votes' context 'filter' %}</button>
                    </div>
                    <input type="hidden" name="order" value="{{order|default:'N'}}">

                </div>
                <div class="my-btn-group filter">
                <div class="btn-group  button-filter" role="group"
                    aria-label="Basic outlined example">
                    <button type="button" data-value="Al"
                        class="btn btn-outline-primary btn-group-item 
                        {% if ptype == 'Al' %} 
                        active
                        {% endif %}
                    
                        ">{% translate 'All' %}</button>
                    <button type="button" data-value="Q"
                        class="btn btn-outline-primary btn-group-item
                        {% if ptype == 'Q' %} 
                        active
                        {% endif %}
                    
                        ">{% translate 'Questions' %}</button>
                    <button type="button"data-value="A"
                        class="btn btn-outline-primary btn-group-item
                        {% if ptype == 'A' %} 
                        active
                        {% endif %}
                    
                        ">{% translate 'Answers' %}</button>
                    </div>
                    <input type="hidden" name="ptype" value="{{ptype|default:'Al'}}">
                </div>
            </div>


        </div>
        <ul class="tops-list">
            {% for post in topPosts %}
            <li class=" top-item-flex-p top-list-item">
                    <!-- <div class="top-item-flex"> -->
                        <div class="votes-div-p">

                            <div class="votes-div">{{post.getVotes}}</div>

                        </div>
                    <a class="question-title" href="{% url 'content:question-page' questionID=post.getQuestion.id %}{% if post.isAnswer %}#answer-{{post.answer.id}}{% endif %}">
                            {{post.getQuestion.title}}

                    </a>
                    <time class="question-date">{{post.suggestTime.date|date:'Y/j/n'}}</time>
                <!-- </div> -->
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

            </div>
        </div>
        


{% reportModal 'U' %}

{% include 'profiles/_editAvatarModal.html' %}
{% endblock %}