{% extends 'utilities/_base.html' %}
{% load questions %}
{% load i18n %}

{% block title %}{{username}} {% translate 'Answers' %}{% endblock %}

{% block content %}
<div class="column-no-border">
<h2 class="center-title" style="float:none;">{{username}} {% translate 'Answers' %}</h2>
<div class="question-dev-parent">
    <div class="questions-gird-toolbar">
        <div class="row filters-row">
            <div class="col-12 col-sm-4 col-md-12 col-lg-4">
                <div class="form-group has-search search-div-toolbar filter">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" name="search" id="search-inp" class="form-control custom-input search-input-toolbar search-usr-ans" placeholder="{% translate 'Search' %}" value="{{searchVal}}"
                    data-user-id="{{userID}}">
                </div>
            </div>

            <div class="col-12 col-sm-8 u-q-r-f">
                <div class="row mb-to-sm ">

                    <div class="col-4    ">

                        <div class="custom-select filter one-click-filter">
                            <button class="btn btn-primary btn-select">
                                <span class="selected-span">
                                    
                                    {% if votesFilter == 'L' %}
                                    {% translate 'Least Votes' %}
                                    {% else %}
                                    {% translate 'Most Votes' %}
                                    {% endif %}
                                </span>
                                <i class="fas fa-caret-down select-arrow"></i>

                            </button>
                            <ul class="custom-select-list custom-scrollbar">
                                <li data-value="M" class="custom-select-item">
                                    {% translate 'Most Votes' %}
                                </li>
                                <li data-value="L" class="custom-select-item">
                                    {% translate 'Least Votes' %}
                                </li>
                            </ul>
                            <input type="hidden" id="votes-inp" name="votes" value="{% if votesFilter == 'L' %}L{% else %}M{% endif %}">
                        </div>
                    </div>
                    <div class="col-4">

                        <div class="custom-select filter one-click-filter ">
                            <button class="btn btn-primary btn-select">
                                <span class="selected-span">
                                    {% if viewsFilter == 'L' %}
                                    {% translate 'Least Views' %}
                                    {% else %}
                                    {% translate 'Most Views' %}
                                    {% endif %}
            
                                </span>
                                <i class="fas fa-caret-down select-arrow"></i>

                            </button>
                            <ul class="custom-select-list custom-scrollbar">
                                <li data-value="M" class="custom-select-item">
                                    {% translate 'Most Views' %}
                                </li>
                                <li data-value="L" class="custom-select-item">
                                    {% translate 'Least Views' %}
                                </li>
                            </ul>
                            <input type="hidden" name="views" id="views-inp" value="{% if viewsFilter == 'L' %}L{% else %}M{% endif %}">
                        </div>
                    </div>
                  
                </div>
            </div>

        </div>

    </div>
    <div class="questions-list">
        {% for que in questions %}
        {% questionItem que %}
        {% endfor %}
    </div>
    {% if pageCount > 1 %}
    <button class="btn see-more-btn see-more-btn-user-ans" data-user-id="{{userID}}">{% translate 'See more' %}</button>
    {% endif %}
    <div class="loading-circle">
        <div class="primary-circle">
            <div class="secondary-circle"></div>
            <div class="background-circle"></div>
        </div>

    </div>

</div>
</div>
<!-- center column end  -->

{% endblock %}