{% extends 'utilities/auth/_base.html' %}
{% load i18n %}
{% block title %}{% translate 'Email Sent' %}{% endblock %}
{% block content %} 
<div class="form-parent">

  <form id="reg-form" method="POST" autocomplete="on" style="margin: 7% auto;" class=" borderd-form animeted-form">
    {% csrf_token %}
    <h4 class="form-title">{% translate 'Change Your Email' %}</h4>
    <div class="mb-3">
      <div class="inp-div">
        <label class="lbl form-lable" id="lbl1">{% translate 'Email' %}</label>
        <input type="email" class="form-control form-input"  name="email">
        <p class="error-p-s" style="position: static;">
          {% for msg in messages %}
          {{msg}}
          {% endfor %}
        </p>
     
        <input type="submit" class="btn btn-primary primary-button form-btn" value="{% translate 'Resend Email' %}" />

      </div>

  </form>
</div>
{% endblock %}