{% extends 'utilities/auth/_base.html' %}
{% load i18n %}
{% block title %}{% translate 'Email Sent' %}{% endblock %}
{% block content %}
<div class="form-parent">
        
    <form id="reg-form" autocomplete="on"  style="margin: 7% auto;" class="animeted-form" >
          <h4 class="form-title">{% translate 'Confirm Your Email' %}</h4>
          <p class="form-label form-msg">{% translate 'We Send confirm message to' %} <b>{{email}}</b>
            <br>
            <a href="{% url 'authusers:set-email' %}" class="custom-link secondry-link">{% translate 'Change Email' %}</a>

          </p>
          <div class="mb-3">
          
              
              <a class="btn btn-primary primary-button form-btn" href="{% url 'authusers:logout' %}" >{% translate 'Return to sign up' %} </a>
          
              </div>

      </form>
    </div>
{% endblock %}