{% extends 'utilities/auth/_base.html' %}
{% block title %}Email Sent{% endblock %}
{% block content %}
<div class="form-parent">
        
    <form id="reg-form" autocomplete="on"  style="margin: 7% auto;" class="animeted-form" >
          <h4 class="form-title">Reset Your Password</h4>
          <p class="form-label form-msg">Check your email for a link to reset your password. If it doesn’t appear within a few minutes, check your spam folder.

          </p>
          <div class="mb-3">
          
              
              <a class="btn btn-primary primary-button form-btn" href="{% url 'register-page' %}" >Return to sign in </a>
          
              </div>

      </form>
    </div>
{% endblock %}