{% extends 'utilities/auth/_base.html' %}
{% load static %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="row">
    <div class="order-2 order-md-1 offset-md-0 col-12 col-md-8">
        <div class="side-content-p">
            <h2 class="side-conten-title">Welcome to Interviews Questions....</h2>
            <ul class="side-content-list">

                <li class="side-content-item">Lorem ipsum dolor sit amet consectetur </li>
                <li class="side-content-item">adipisicing elit. Dolorem minima, facere numquam nulla quas asperiores
                </li>
                <li class="side-content-item">doloribus quod molestias aspernatur eligendi tempore. </li>
                <li class="side-content-item">Nulla sed atque recusandae porro veniam expedita esse enim. </li>

            </ul>
        </div>
    </div>
    <div class="order-1 order-md-2 col-12 col-md-4">

        <div class="form-parent">
            <form id="reg-form" autocomplete="on" method="POST" class="animeted-form auth-form">
                {% csrf_token %}
                <div class="mb-3">
                    <!-- register by email section start -->
                    <div class="">
                        <div class="inp-div">
                            <label class="lbl form-lable" id="lbl1">Full Name</label>
                            <input type="text" class="form-control form-input" id="fullName-input" name="fullName"
                                maxlength="40">

                                <p class="error-p"  ><i class="fas fa-exclamation"></i>
                                    <span class="error-val"></span>
                                </p>
                            <p class="error-p-s"  >
                                
                                    {% for msg in messages %}
                                    {% if 'full-name' in msg.extra_tags %}
                                    <i class="fas fa-exclamation"></i> {{msg}}
                                    {% endif %}
                                    {% endfor %}
                            </p>
                        </div>
                        <div class="inp-div">
                            <label class="lbl form-lable" id="lbl1">User Name</label>
                            <input type="text" class="form-control form-input" id="userName-input" name="userName"
                                maxlength="20">

                                <P class="error-p"  ><i class="fas fa-exclamation"></i>
                                    <span class="error-val"></span>
                                </P>
                                <p class="error-p-s" >
    
                                        {% for msg in messages %}
                                        {% if 'user-name' in msg.extra_tags %}
                                        <i class="fas fa-exclamation"></i> {{msg}}
                                        {% endif %}
                                        {% endfor %}
                                </p>
                        </div>
                        <div class="inp-div">
                            <label class="lbl form-lable" id="lbl1">Email</label>
                            <input type="email" class="form-control form-input" id="email-input" name="email">
                            
                            <p class="error-p" ><i class="fas fa-exclamation"></i>
                                <span class="error-val"></span>
                            </p>
                            <p class="error-p-s"  >

                                    {% for msg in messages %}
                                    {% if 'email' in msg.extra_tags %}
                                    <i class="fas fa-exclamation"></i> {{msg}}
                                    {% endif %}
                                    {% endfor %}
                            </p>
                        </div>
                        <div class="inp-div">
                            <label class="lbl form-lable" id="lbl1">Password</label>
                            <input type="password" class="form-control form-input" id="password-input" name="password"
                                maxlength="50">
                                <p class="error-p"  ><i class="fas fa-exclamation"></i>
                                    <span class="error-val"></span>
                                </p>
                                     <p class="error-p-s"  >
    
                                        {% for msg in messages %}
                                        {% if 'password' in msg.extra_tags %}
                                        <i class="fas fa-exclamation"></i> {{msg}}
                                        {% endif %}
                                        {% endfor %}
                                    </span>
                                </p>
                           
                        </div>

                        <div class="inp-div">
                            <label class="lbl form-lable" id="lbl1">Confirm Password</label>
                            <input type="password" class="form-control form-input" id="confirmPassword-input"
                                name="confirmPassword" maxlength="50">
                                <p class="error-p"  ><i class="fas fa-exclamation"></i>
                                    <span class="error-val"></span>
                                </p>
                                <p class="error-p-s">
                                
                                        {% for msg in messages %}
                                        {% if 'conf-pass' in msg.extra_tags %}
                                        <i class="fas fa-exclamation"></i> {{msg}}
                                        {% endif %}
                                        {% endfor %}
                                </p>
                       
                        </div>
                        <div class="inp-div">
                            <label class="lbl form-lable" id="lbl1">Website (Optional)</label>
                            <input type="url" class="form-control form-input no-req" id="website-input" name="website"
                                maxlength="50">
                        </div>

                        <p class="form-lable acc">By clicking Register, I agree that I have read and accepted our <a
                                href="#" class="acc-link">Terms of Use and Privacy Policy</a></p>
                        <input type="submit" class="btn btn-primary primary-button form-btn" id="reg-btn"
                            value="Sign Up">
                    </div>
                    <!-- register by email section end -->


                </div>
                <div class="d-block or-div">
                    <hr id="sp-hr">
                    <span class="form-lable" id="or-span-sm">or</span>
                </div>
                <!-- break (or) section end -->

                <!-- media sign up section start -->
                <div class="">

                    <a href="" class="fb l-btn connect">Sign up with Facebook</a>
                    <a href="" class="tw l-btn connect">Sign up with Twitter</a>
                    <a href="" class="gi l-btn connect">Sign up with GitHub</a>
                    <a href="" class="go l-btn connect">Sign up with Google</a>

                </div>
        </div>
    </div>
</div>


{% endblock %}