{% extends 'utilities/auth/_base.html' %}
{% load i18n %}
{% block title %}{% translate 'Reset Your Password' %}{% endblock %}
{% block content %}

  <div class="form-parent">
    <script src="https://www.google.com/recaptcha/api.js"></script>

        <form class="animeted-form  capcha-form" id="reg-form"  autocomplete="on" method="POST" >
            {% csrf_token %}
            <h4 class="form-title">{% translate 'Reset Your Password' %}</h4>
            <p class="form-label form-msg">{% translate "Enter your user account's verified email address and we will send you a password reset link." %}</p>
            {% for msg in messages %} 
                <p class="error-p-s">{{msg}}</p>
            {% endfor %}
            <div class="mb-3">
            
                
                <div class="inp-div">
                    <label class="lbl form-lable" id="lbl1">{% translate 'Email' %}</label>
                    <input type="email" class="form-control" id="email-input" name="email" >
             
                </div>
                <div class="g-recaptcha" data-sitekey="6LeJxbwcAAAAAKD-rIEBH1thMUQcOFHJVW0iVFZP"></div>

            </div>
            <input type="submit" class="btn btn-primary form-btn" id="log-btn" value="{% translate 'Reset Password' %}">

        </form>
      </div>

{% endblock %}