{% extends 'utilities/auth/_base.html' %}
{% load i18n %}
{% block title %}{% translate 'Complete You Register' %}{% endblock %}
{% block content %}
<div class="form-parent">

    <form id="reg-form " method="POST" autocomplete="on" class="animeted-form borderd-form tags-form">
        {% csrf_token %}
        <h4 class="form-title">{% translate 'Complete You Register' %}</h4>
   
        <p class="form-label form-msg">
            {% translate 'Plese select your category' %}
        </p>
             <div class="categoriis-lists">
            
            <div class="custom-select category-select-toolbar" data-cur-val="1">
                <button class="btn btn-primary btn-select">
                    <span class="selected-span">
                        {% if category.getLvl == 1 %}
                        {{category.name}}
                        {% elif category.getLvl > 1 %}
                        {{category.getFirstParent.name}}

                        {% elif not category %}
                        {{categories.first.name}}
                        {% endif %}
                    </span>
                    <i class="fas fa-caret-down select-arrow"></i>

                </button>
                <ul class="custom-select-list custom-scrollbar">
                    {% for cate in categories %}
                    <li class="custom-select-item" data-cate-id="{{cate.id}}" data-sub='{{cate.subs}}'>
                        {{cate.name}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="custom-select category-select-toolbar
            {% if category.getLvl >= 1 %}
                        showed
            {% endif %}
            " 
                >
                <button class="btn btn-primary btn-select">
                    <span class="selected-span">

                        {% if category.getLvl == 2 %}
                        {{category.name}}
                        {% elif category.getLvl > 2 %}
                        {{category.getSecondParent.name}}
                        {% else %}
                        {% translate 'Select Category' %}
                        {% endif %}

                    </span>
                    <i class="fas fa-caret-down select-arrow"></i>

                </button>
                <ul class="custom-select-list custom-scrollbar">
                    {% if category %}
                    {% for subCate in category.getFirstParent.subCategoies %}
                    <li class="custom-select-item" data-cate-id="{{subCate.id}}"
                        data-sub='{{subCate.subs}}'>
                        {{subCate.name}}
                    </li>
                    {% empty %}
                    {% if category.getLvl == 1 %}

                    {% for subCate in category.subCategoies %}
                    <li class="custom-select-item" data-cate-id="{{subCate.id}}"
                        data-sub='{{subCate.subs}}'>
                        {{subCate.name}}
                    </li>
                    {% endfor %}
                    {% endif %}

                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <div class="custom-select category-select-toolbar
            {% if category.getLvl >= 2 %}
            showed
            {% endif %}
            " data-cur-val="1" >
                <button class="btn btn-primary btn-select">
                    <span class="selected-span">

                        {% if category.getLvl == 3 %}
                        {{category.name}}
                        {% elif category.getLvl > 3 %}
                        {{category.getThirdParent.name}}
                        {% else %}
                        {% translate 'Select Category' %}
                        {% endif %}

                    </span>
                    <i class="fas fa-caret-down select-arrow"></i>

                </button>
                <ul class="custom-select-list custom-scrollbar">
                    {% if category %}
                    {% for subCate in category.getSecondParent.subCategoies %}
                    <li class="custom-select-item" data-cate-id="{{subCate.id}}"
                        data-sub='{{subCate.subs}}'>
                        {{subCate.name}}
                    </li>
                    {% empty %}
                    {% if category.getLvl == 2 %}

                    {% for subCate in category.subCategoies %}
                    <li class="custom-select-item" data-cate-id="{{subCate.id}}"
                        data-sub='{{subCate.subs}}'>
                        {{subCate.name}}
                    </li>
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                    {% endif %}

                </ul>
            </div>
            <div class="custom-select category-select-toolbar
            {% if category.getLvl >= 3 %}
                        showed
                {% endif %}
            " data-cur-val="1" >
                <button class="btn btn-primary btn-select">
                    <span class="selected-span">

                        {% if category.getLvl == 4 %}
                        {{category.name}}
                        {% else %}
                        {% translate 'Select Category' %}
                        {% endif %}

                    </span>
                    <i class="fas fa-caret-down select-arrow"></i>

                </button>
                <ul class="custom-select-list custom-scrollbar">
                    {% if category %}
                    {% for subCate in category.getThirdParent.subCategoies %}
                    <li class="custom-select-item" data-cate-id="{{subCate.id}}"
                        data-sub='{{subCate.sub}}'>
                        {{subCate.name}}
                    </li>
                    {% empty %}
                    {% if category.getLvl == 3 %}
                    {% for subCate in category.subCategoies %}
                    <li class="custom-select-item" data-cate-id="{{subCate.id}}"
                        data-sub='{{subCate.subs}}'>
                        {{subCate.name}}
                    </li>
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                    {% endif %}

                </ul>
            </div>
            <input type="hidden" class="add-que-h-inp" name="category-id" id="category-id" value="{% if not category %}{{categories.first.id}}{% else %}{{category.id}}{% endif %}">

        </div>
        <p class="form-label form-msg">
            {% translate 'Plese select the things that interest you' %}
        </p>
        <p class="error-p-s" style="position: static;">
            {% for msg in messages %}
            {{msg}}
            {% endfor %}
          </p>
       

        <div class="mb-3">
            <div class="add-tag-to-que-div">
                <input id="que-tags-input" data-tags-div="#tags-div-ol" type="text"
                    class="form-control que-input que-tags-input" autocomplete="off" placeholder="Add Tags">
                <ul class="tags-list custom-scrollbar" data-tags-div="#tags-div-ol">
                    {% for tag in tags %}
                    <li class="tags-list-item" data-tag-id="{{tag.id}}">{{tag.name}} </li>
                    {% endfor %}
                </ul>


                <div class="cus-card tags-card add-tags-q">
                    <h5 class="cus-card-header">{% translate 'Tags' %}</h5>
                    <div class="cus-card-body tags-div " id="tags-div-ol">


                    </div>
                    <input type="hidden" name="tags" id="tags-input" value="[]">

                </div>
                <input type="submit" value="{% translate 'Save' %}" class="btn btn-primary primary-button save-tags-btn">
            </div>



        </div>

    </form>
</div>
{% endblock %}