{% extends 'utilities/dashboard/_base.html' %}
{% load i18n %}

{% block title %}Add Poll{% endblock %}
{% block content %} 
<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Poll</h3>
            </div>
            <div class="card-body">
              <form id="poll-form" method="post">
                  {% csrf_token %}
                <input type="text" class="form-control" name="title" placeholder="{% translate 'Titile...' %}" value="{{poll.title}}">
              <textarea id="summernote" name="text">{{poll.text}}</textarea>
            </form>
            <div class="row targets-row" id="targets-row">
                <div class="col-6 targets-col">

                  <div class="add-tag-to-que-div">
                    <input id="que-tags-input" data-tags-div="#tags-div-ol" type="text"
                      class="form-control que-input que-tags-input" placeholder="{% translate 'Add Tags' %}">
                    <ul class="tags-list custom-scrollbar">
                        {% for tag in tags %}
                        <li class="tags-list-item" data-tag-id="{{tag.id}}">{{tag.name}}</li>
                        {% endfor %}
                    </ul>


                    <div class="card add-tags-q">
                      <h5 class="card-header">{% translate 'Tags' %}</h5>
                      <div class="card-body tags-div" id="tags-div-ol">
                        {% for tag in poll.tags.all %}
                        <button type="button" class="btn btn-outline-info btn-tag btn-tag-removeable">
                          {{tag.name}}
                          <div class="btn remove-tag-btn">
                            <i class="fas fa-times"></i>
                          </div>
                        </button>
                      {% endfor %}
                      </div>
                      <input type="hidden" name="tags" form="poll-form" id="tags-input" value="[{% for tag in poll.tags.all %}{{tag.id}}{% if not forloop.last %},{% endif %}{% endfor %}]">

                    </div>



                  </div>
                </div>
                <div class="col-6 targets-col">

                  <div class="row cate-selectes">
                    <div class="col-2 cate-sel-col">
                      <div class="form-group">
                        <label>{% translate 'Category lvl 1' %}</label>
                        <select class="form-control cate-select">
                          <option value="0">All</option>
                            {% for cate in categories%}
                              <option value="{{cate.id}}" data-sub='{{cate.subs}}'>{{cate.name}}</option>
                            {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="col-2 cate-sel-col">
                      <div class="form-group">
                        <label>{% translate 'Category lvl 2' %}</label>
                        <select class="form-control cate-select">

                        </select>
                      </div>
                    </div>
                    <div class="col-2 cate-sel-col">
                      <div class="form-group">
                        <label>{% translate 'Category lvl 3' %}</label>
                        <select class="form-control cate-select" value="5">
                        </select>
                      </div>
                    </div>
                    <div class="col-2 cate-sel-col">
                      <div class="form-group">
                        <label>{% translate 'Category lvl 4' %}</label>
                        <select class="form-control cate-select">
                        </select>
                      </div>
                    </div>
                    <div class="col-2">
                      <button class="btn btn-app add-cate-btn ">
                        <i class="fas fa-plus"></i>{% translate 'Add' %}
                      </button>
                    </div>
                  </div>
                  <div class="card add-tags-q">
                    <h5 class="card-header">{% translate 'Categiries' %}</h5>
                    <div class="card-body tags-div" id="cate-div-ol">
                      {% if not isNew %}
                      {% for cate in poll.categories.all %}
                      <button type="button" class="btn btn-light cate-grid-item cate-item-removeable">
                        {{cate.name}}
                        <div class="btn remove-cate-btn">
                          <i class="fas fa-times"></i>
                        </div>
                      </button>
                      {% empty %}
                      <button type="button" class="btn btn-light cate-grid-item cate-item-removeable">
                        All
                        <div class="btn remove-cate-btn">
                          <i class="fas fa-times"></i>
                        </div>
                      </button>
                      {% endfor %}
                      {% endif %}
                    </div>
                    <input type="hidden" name="categories" form="poll-form" id="cates-input" value="[{% for cate in poll.categories.all %}{{cate.id}}{% if not forloop.last %},{% endif %}{% endfor %}]">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">{% translate 'Poll Items' %}</h3>
                    </div>
                    <div class="card-body ">
                      <div class="polls-items " id="polls-items">
                       {% if isNew %}
                        <div class="poll-item  " >
                          <button class="btn mov-poll-item">
                            <i class="fas fa-arrows-alt"></i>
                            </button>
                          <button class="btn del-poll-item">
                            <i class="far fa-times-circle"></i>
                          </button>
                          <h6 class="float-right poll-item-title " >{% translate 'CheckBox List' %}</h6>
                    
                          <input type="hidden" class="item-type" name="item-type" value="C">
                          <textarea class="form-control polls-que" placeholder="{% translate 'question text...' %}"></textarea>
                          <ul class="poll-choesies">
                            <li class="poll-choies">
                              <input type="text" class="form-control choies-inp" placeholder="{% translate 'Option...' %}">
                              <button class="btn btn-app btn-app-xs del-cho-btn">
                                <i class="far fa-trash-alt btn-app-icon"></i>
                              </button>
                            </li>
                            <li class="poll-choies">
                              <input type="text" class="form-control choies-inp" placeholder="{% translate 'Option...' %}">
                              <button class="btn btn-app btn-app-xs del-cho-btn">
                                <i class="far fa-trash-alt btn-app-icon"></i>
                              </button>
                            </li>
                            <li class="poll-choies">
                              <input type="text" class="form-control choies-inp" placeholder="{% translate 'Option...' %}">
                              <button class="btn btn-app btn-app-xs del-cho-btn">
                                <i class="far fa-trash-alt btn-app-icon"></i>
                              </button>
                            </li>
                            <li class="poll-choies">
                              <input type="text" class="form-control choies-inp" placeholder="{% translate 'Option...' %}">
                              <button class="btn btn-app btn-app-xs del-cho-btn">
                                <i class="far fa-trash-alt btn-app-icon"></i>
                              </button>
                            </li>
                          </ul>
                          <button class="btn btn-outline-primary float-right add-cho-btn">{% translate 'Add Choice' %}</button>
                        </div>
                        <div class="poll-item ">
                          <button class="btn mov-poll-item">
                            <i class="fas fa-arrows-alt"></i>
                            </button>
                          <button class="btn del-poll-item">
                            <i class="far fa-times-circle"></i>
                          </button>
                          <h6 class="float-right poll-item-title">{% translate 'Radio List' %}</h6>
                          <input type="hidden" class="item-type" name="item-type" value="R">
                          <textarea class="form-control polls-que" placeholder="{% translate 'question text...' %}"></textarea>
                          <ul class="poll-choesies">
                            <li class="poll-choies">
                              <input type="text" class="form-control choies-inp" placeholder="{% translate 'Option...' %}">
                              <button class="btn btn-app btn-app-xs del-cho-btn">
                                <i class="far fa-trash-alt btn-app-icon"></i>
                              </button>
                            </li>
                            <li class="poll-choies">
                              <input type="text" class="form-control choies-inp" placeholder="{% translate 'Option...' %}">
                              <button class="btn btn-app btn-app-xs del-cho-btn">
                                <i class="far fa-trash-alt btn-app-icon del-cho-btn"></i>
                              </button>
                            </li>
                            <li class="poll-choies">
                              <input type="text" class="form-control choies-inp" placeholder="{% translate 'Option...' %}">
                              <button class="btn btn-app btn-app-xs del-cho-btn">
                                <i class="far fa-trash-alt btn-app-icon"></i>
                              </button>
                            </li>
                            <li class="poll-choies">
                              <input type="text" class="form-control choies-inp" placeholder="{% translate 'Option...' %}">
                              <button class="btn btn-app btn-app-xs del-cho-btn">
                                <i class="far fa-trash-alt btn-app-icon"></i>
                              </button>
                            </li>
                          </ul>
                          <button class="btn btn-outline-primary float-right add-cho-btn">{% translate 'Add Choice' %}</button>
                        </div>
                        <div class="poll-item ">
                          <button class="btn mov-poll-item">
                            <i class="fas fa-arrows-alt"></i>
                            </button>
                          <button class="btn del-poll-item">
                            <i class="far fa-times-circle"></i>
                          </button>
                          <h6 class="float-right poll-item-title">{% translate 'Radio List' %}</h6>
                          <input type="hidden" class="item-type" name="item-type" value="R">
                          <textarea class="form-control polls-que" placeholder="question text..."></textarea>
                          <ul class="poll-choesies">
                            <li class="poll-choies">
                              <input type="text" class="form-control choies-inp" placeholder="{% translate 'Option...' %}">
                              <button class="btn btn-app btn-app-xs del-cho-btn">
                                <i class="far fa-trash-alt btn-app-icon"></i>
                              </button>
                            </li>
                            <li class="poll-choies">
                              <input type="text" class="form-control choies-inp" placeholder="{% translate 'Option...' %}">
                              <button class="btn btn-app btn-app-xs del-cho-btn">
                                <i class="far fa-trash-alt btn-app-icon del-cho-btn"></i>
                              </button>
                            </li>
                            <li class="poll-choies">
                              <input type="text" class="form-control choies-inp" placeholder="{% translate 'Option...' %}">
                              <button class="btn btn-app btn-app-xs del-cho-btn">
                                <i class="far fa-trash-alt btn-app-icon"></i>
                              </button>
                            </li>
                            <li class="poll-choies">
                              <input type="text" class="form-control choies-inp" placeholder="{% translate 'Option...' %}">
                              <button class="btn btn-app btn-app-xs del-cho-btn">
                                <i class="far fa-trash-alt btn-app-icon"></i>
                              </button>
                            </li>
                          </ul>
                          <button class="btn btn-outline-primary float-right add-cho-btn">{% translate 'Add Choice' %}</button>
                        </div>
                      {% else %}
                        {% for item in poll.items.all %}
                            <div class="poll-item ">
                              {% if not poll.isPublished %}
                             
                          <button class="btn mov-poll-item">
                            <i class="fas fa-arrows-alt"></i>
                            </button>
                          <button class="btn del-poll-item">
                            <i class="far fa-times-circle"></i>
                          </button>
                              {% endif %}
                          <h6 class="float-right poll-item-title">{{item.get_type_display}}</h6>
                          <input  type="hidden" class="item-type" name="item-type" value="{{item.type}}">
                          <textarea class="form-control polls-que" placeholder="question text..." {% if poll.isPublished %} readonly {% endif %}>{{item.text}}</textarea>
                          <ul class="poll-choesies">
                            {% for opt in item.getOptions %}
                            <li class="poll-choies">
                              <input type="text" class="form-control choies-inp" placeholder="Option..." value="{{opt}}"
                               {% if poll.isPublished %} readonly {% endif %}>
                            {% if not poll.isPublished %}
                            <button class="btn btn-app btn-app-xs del-cho-btn">
                              <i class="far fa-trash-alt btn-app-icon"></i>
                            </button>
                            {% endif %}
                            </li>
                          {% endfor %}
                          </ul>

                          {% if not poll.isPublished %}
                          <button class="btn btn-outline-primary float-right add-cho-btn">{% translate 'Add Choice' %}</button>
                          {% endif %}
                        </div>
                  
                        {% endfor %}
                      {% endif %}                      
               
                      </div>
                      {% if isNew %}
                      <button class="btn btn-outline-primary float-right " id="add-CL-btn">{% translate 'Add CheckBox List' %}</button>
                      <button class="btn btn-outline-primary float-right " id="add-RL-btn">{% translate 'Add Radio List' %}</button>
                      {% elif not isNew and not poll.isPublished %}
                      <button class="btn btn-outline-primary float-right " id="add-CL-btn">{% translate 'Add CheckBox List' %}</button>
                      <button class="btn btn-outline-primary float-right " id="add-RL-btn">{% translate 'Add Radio List' %}</button>
                      {% endif %}

                    </div>
                  </div>
                  <input type="hidden" form="poll-form" name="poll-items" id="poll-items">
                  {% if not poll.isPublished %}
                   <input type="hidden" form="poll-form" id="pub-poll-inp" name="published">
                  {% endif %}
                  <button class="btn btn-primary float-right save-poll-btn" >{% translate 'Save' %}</button>
                  {% if not poll.isPublished %}
                  <button class="btn btn-primary float-right pub-poll-btn" style="margin: 0 10px;">{% translate 'Publish' %}</button>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>

{% endblock %}