{% extends 'utilities/dashboard/_base.html' %}
{% load i18n %}
{% block title %}{% translate 'Badges Management' %}{% endblock %}

{% block content %}
{% include 'utilities/_messages.html' %}
<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">

          <div class="card">
            <div class="card-header">
              <h3 class="card-title">{% translate 'Badges Management' %}</h3>
            <form id='serach-form' action="{% url 'dashboard:badges-page' page=1 %}">
              <div class="input-group float-right badge-filter" style="width: 750px;">
                <input type="search" class="form-control form-control-md "
                    id="search-badges" name="search" placeholder="{% translate 'search name' %}" value="{{search}}">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-md btn-default">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
                <select class="form-control badge-filter" name="lvl" id="">
                  <option value="0">{% translate 'Select Level' %}</option>
                  <option value="G"{% if badge.level == 'G'%} selected {% endif %} >{% translate 'Gold' %}</option>
                  <option value="S"{% if badge.level == 'S'%} selected {% endif %}>{% translate 'Silver' %}</option>
                  <option value="B"{% if badge.level == 'B'%} selected {% endif %}>{% translate 'Bronze' %}</option>
                  </select>
                <select class="form-control badge-filter" name="reason" id="">
                  <option value="0">{% translate 'Select Reason' %}</option>
                  <option value="Q"{% if badge.reason == 'Q'%} selected {% endif %}>{% translate 'Quetions' %}</option>
                  <option value="A"{% if badge.reason == 'A'%} selected {% endif %}>{% translate 'Answers' %}</option>
                  <option value="C"{% if badge.reason == 'C'%} selected {% endif %}>{% translate 'Comments' %}</option>
                  <option value="SA" {% if badge.reason == 'SA'%} selected {% endif %}>{% translate 'Self Answer' %}</option>
                  <option value="SC"{% if badge.reason == 'SC'%} selected {% endif %}> {% translate 'Self Commnet' %}</option>
                  <option value="V" {% if badge.reason == 'V'%} selected {% endif %}>{% translate 'Views' %}</option>
             
                  <option value="PV"{% if badge.reason == 'PV' %} selected {% endif %}>{% translate 'Post Votes' %}</option>
                  <option value="QV"{% if badge.reason == 'QV' %} selected {% endif %}>{% translate 'Question Votes' %}</option>
                  <option value="AV"{% if badge.reason == 'AV' %} selected {% endif %}>{% translate 'Answer Votes' %}</option>
                  <option value="E"{% if badge.reason == 'E' %} selected {% endif %}>{% translate 'Edits' %}</option>   
                  
                  <option value="P"{% if badge.reason == 'P' %} selected {% endif %}>{% translate 'Polls' %}</option>   
                  <option value="L"{% if badge.reason == 'L' %} selected {% endif %}>{% translate 'Log in times' %}</option>   

                </select>
                <select class="form-control badge-filter" name="target" id="">
                  <option value="0">{% translate 'Select Target' %}</option>
                  <option value="G" {% if targetStr == 'G' %} selected {% endif %} >{% translate 'General' %}</option>
                  <optgroup label="Categories">
                    {% for cate in categories %} 
                    <option value="C{{cate.id}}"{% if targetStr|slice:':1' == 'C' and targetStr|slice:'1:' == cate.id|stringformat:'i' %} selected {% endif %}>{{cate.name}}</option>
                    {% endfor %}

                  </optgroup>
                  <optgroup label="Tags">
                    {% for tag in tags %}
                    <option value="T{{tag.id}}"{% if targetStr|slice:':1' == 'T' and targetStr|slice:'1:' == tag.id|stringformat:'i'  %} selected {% endif %}>{{tag.name}}</option>
                    {% endfor %}
                  </optgroup>
                </select>
                <a class="btn btn-default float-right add-cate-m-btn" href="{% url 'dashboard:add-badge' %}"  >+</a>
                
            </div>
           </form>
           <script>

             $('#serach-form select').change(_=>$('#serach-form').submit())
           </script>
            </div>
            <div class="card-body">
              <table class="table table-bordered table-striped">
                <thead>
                  <th style="width: 10%;">{% translate 'Name' %}</th>
                  <th style="width: 40%;">{% translate 'Description' %}</th>
                  <th style="width: 10%;">{% translate 'Level' %}</th>
                  <th style="width: 10%;">{% translate 'Reason' %}</th>
                  <th style="width: 10%;">{% translate 'target' %}</th>
                  <th style="width: 5%;">{% translate 'Users Earned' %}</th>
                  <th style="width: 15%;">{% translate 'Action' %}</th>
                </thead>
                <tbody >
                  {% for badge in badges %}
                  <tr>
                    <td>{{badge.name}}</td>
                  <td>{{badge.description}}</td>
                  <td>{{badge.get_level_display}}</td>
                  <td>{{badge.get_reason_display}}</td>
                  <td>
                  {% if not badge.targetType == 'G' %}
                    {{badge.target.name}}
                  {% else %} 
                  {% translate 'General' %}
                  {% endif %}
                  </td>
                  <td>

                    {{badge.userEarned}}
                  </td>
                  <td>
                    <a class="btn btn-app cus-btn-app" href="{% url 'dashboard:edit-badge' badgeID=badge.id %}">
                      <i class="fas fa-edit btn-app-icon"></i>{% translate 'Edit' %}
                    </a>
                    <button class="btn btn-app cus-btn-app del-table-item" data-lvl="2"
                    data-toggle="modal" data-target="#del-modal" data-tid="{{badge.id}}">
                      <i class="far fa-trash-alt btn-app-icon"></i>{% translate 'Delete' %}
                    </button>
            
                  </td>
                  </tr>
                  {% endfor %}
               
                </tbody>
              </table>
          
          
              <div class="dataTables_paginate paging_simple_numbers table-indcator" id="example2_paginate">
                <ul class="pagination">
                    {% for pg in pages %}
                  <li class="paginate_button page-item 
                  {% if pg == currentPage %}
                  active
                  {%  endif %}
                  ">
                    <a href="{% url 'dashboard:badges-page' page=pg %}" aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link">
                      {{pg}}
                    </a>
                  </li>
                 {% endfor %}
                </ul>
              </div>
              <script>
                [...$('.page-link')].forEach(el=>$(el).attr('href',$(el).attr('href')+location.search));
              </script>
          
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>

  
  <div class="modal fade" id="del-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="del-modalLabel">{% translate 'Delete Badge' %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" id="delete-form" action="{% url 'dashboard:delete-badge' %}" >
              {% csrf_token %}
            <p>{% translate 'Do you want Delete the Badge with ID' %} <span class="del-id-span" id="del-id-span"></span>
            </p>

            <input type="hidden" name="del-id" id="del-id-inp">
            <input type="hidden" name="page" value="{{currentPage}}">
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{% translate 'Close' %}</button>
          <button type="submit" form="delete-form" class="btn btn-primary" >{% translate 'Delete' %}</button>
        </div>
      </div>
    </div>
  </div>



{% endblock %}