{% extends 'utilities/dashboard/_base.html' %}
{% block  title %}Flaged Users{% endblock %}
{% block content %} 
<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Flaged Users</h3>
            <div class="btn-group lng-sel">
              <a href="{% url 'dashboard:flag-reasons' type='U' %}" class="btn btn-default">Report Reasons</a>
          </div>      
                  </div>
          <div class="card-body">
            <table class="table table-bordered table-striped">
              <thead>
                <th style="width: 10%;">User name</th>
                <th style="width: 10%;">Full name</th>
                <th style="width: 8%;">ID</th>
                <th style="width: 20%;">Email</th>
                <th style="width: 10%;">Report Count</th>
                <th style="width: 10%;">Reason</th>
                <th style="width: 32%;">Action</th>
              </thead>
              <tbody>
              {% for user in users %}
              {% for report in user.profile.getReports %}
                <tr>
                  <td>
                    {{user.username}}
                </td>
                  <td>{{user.first_name}}</td>
                  <td>{{user.id}}</td>
                  <td>{{user.email}}</td>
                  <td>{{report.count}}</td>
                  <td>
                      {{report.name}}
                  </td>
                  <td>
                   
                    <div class="actions-btns" data-item-id="{{user.id}}" data-user-name="{{user.userName}}">

                        <a class="btn btn-app cus-btn-app" href="{% url 'profiles:profile-page' userID=user.id %}">
                          <i class="fas fa-user btn-app-icon"></i>Profile
                        </a>
                        <a class="btn btn-app cus-btn-app app-btn-70" href="{% url 'profiles:user-questions' userID=user.id %}">
                          <i class="fas fa-external-link-alt btn-app-icon"></i>Questions
                        </a>
                        <a class="btn btn-app cus-btn-app app-btn-70" href="{% url 'profiles:user-answers' userID=user.id %}">
                          <i class="fas fa-angle-right btn-app-icon"></i>Answers
                        </a>
                        <a class="btn btn-app cus-btn-app app-btn-70" href="{% url 'dashboard:templates' language=user.profile.language %}?to={{user.email}}">
                          <i class="far fa-envelope btn-app-icon"></i>Email
                        </a>
                        {% if not user.profile.isBaned %}
                        <button class="btn btn-app cus-btn-app ban-user-btn"
                        data-toggle="modal" data-lvl="2" data-target="#ban-modal"
                       >
                          <i class="fas fa-user-slash btn-app-icon"></i>Ban
                        </button>
                        {% else %}
                        
                        <button class="btn btn-app cus-btn-app unban-user-btn"
                        data-toggle="modal" data-lvl="2" data-target="#unban-modal"
                       >
                          <i class="fas fa-user btn-app-icon"></i>unban
                        </button>
                        {% endif %}
                        <button class="btn btn-app cus-btn-app app-btn-70 prune-btn"
                        data-toggle="modal" data-lvl="2" data-target="#prune-modal"
                        >   
                        <i class="far fas fa-user-minus btn-app-icon"></i>Prune
                        
                      </button>


                      <button data-report-on="{{user.id}}" data-reason-id="{{report.id}}" data-type="U"  class="btn btn-app cus-btn-app app-btn-70 remove-report-btn">
                        <i class="fas fa-times btn-app-icon"></i>Remove 
                      </button>
                    </div>
                  </td>
                </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
            </table>
         

                   
            <div class="dataTables_paginate paging_simple_numbers table-indcator" id="example2_paginate">
                <ul class="pagination">
                    {% for pg in pages %}
                  <li class="paginate_button page-item 
                  {% if pg == currentPage %}
                  active
                  {%  endif %}
                  ">
                    <a href="{% url 'dashboard:flaged-uesrs' page=pg %}" aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link">
                      {{pg}}
                    </a>
                  </li>
                 {% endfor %}
                </ul>
              </div>

        </div>
        </div>
        </div>
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>

  <div class="modal fade" id="ban-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ban-modalLabel">Ban User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" id="ban-form" action="{% url 'dashboard:toggle-ban-user' %}">
            {% csrf_token %}
            <p>Do you want Ban <span class="f-bold" id="ban-user-name"></span>?
            </p>
            <input type="hidden" name="user-id" id="ban-user-id">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" form="ban-form" class="btn btn-primary">Ban</button>
        </div>
      </div>
    </div>
  </div>


  <!-- prune modal -->
<div class="modal fade" id="prune-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="permissions-modalLabel">User Premissions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" id="prune-form" action="{% url 'dashboard:prune-user' %}">
            {% csrf_token %}
          <input type="hidden" name="user-id" id="prune-user-id">
          <input type="checkbox" name="questions" id="qu-ch" > <label for="qu-ch">unpublish all user questions</label>
          <br>
          <input type="checkbox" name="answers" id="an-ch"> <label for="an-ch">unpublish all user answers</label>
          <br>
     
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" form="prune-form"  value="Prune">
      </div>
    </div>
  </div>
</div>


  <!-- ban modal -->
  <div class="modal fade" id="unban-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="unban-modalLabel">UnBan User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" id="unban-form" action="{% url 'dashboard:toggle-ban-user' %}">
            {% csrf_token %}
            <p>Do you want unban <span class="f-bold" id="unban-user-name"></span>?
            </p>
            <input type="hidden" name="user-id" id="unban-user-id">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" form="unban-form" class="btn btn-primary">unban</button>
        </div>
      </div>
    </div>
  </div>


{% endblock %}