{% extends 'utilities/dashboard/_base.html' %}
{% load i18n %}
{% load dashboardLib %}
{% block title %}{% translate 'Flaged Answers' %}{% endblock %}
{% block content %} 
<div class="content">
    <div class="container-fluid">
      <div class="row">

        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">{% translate 'Answers' %}</h3>
              <div class="btn-group lng-sel">
                <a href="{% url 'dashboard:flag-reasons' type='A' %}" class="btn btn-default">{% translate 'Report Reasons' %}</a>
            </div>      
                </div>
            <!-- /.card-header -->
            <div class="card-body">
            
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th style="width: 37%;">{% translate 'Text' %}</th>
                    <th style="width: 11%;">{% translate 'Aouthr' %}</th>
                    <th style="width: 7%;">{% translate 'Id' %}</th>
                    <th style="width: 7%;">{% translate 'Report Count' %}</th>
                    <th style="width: 9%;">{% translate 'Reason' %}</th>
                    <th style="width: 29%;">{% translate 'Action' %}</th>
                  </tr>
                </thead>
                <tbody>
                    {% for ans in answers %}
                    
                    {% for report in ans.getReports %}
                    <tr>
                      
                    <td>
                      <p class="que-table-con">
                        {{ans.post.text|html2text}}
                    </p>
                    </td>
                    <td><!--Authre -->
                      <a href="{% url 'profiles:profile-page' userID=ans.post.author.id %}">
                        {{ans.post.author.username}}
                      </a>
                    </td>
                    <td>{{ans.id}}</td>
                    <td>{{report.count}}</td>
                    
                    <td>
                        {{report.name}}
                    </td>
                    <td>
                     
                      <a href="{% url 'dashboard:edit-answer-page' answerID=ans.id %}" class="btn btn-app cus-btn-app">
                        <i class="fas fa-edit btn-app-icon"></i>{% translate 'Edit' %}
                      </a>
                      <a href="{% url 'content:question-page' questionID=ans.question.id %}#answer-{{ans.id}}" class="btn btn-app cus-btn-app" >
                        <i class="fas fa-external-link-alt btn-app-icon"></i>{% translate 'Show' %}
                      </a>
                      <button class="btn btn-app cus-btn-app del-table-item" data-lvl="2"
                      data-toggle="modal" data-target="#del-modal" data-tid="{{ans.id}}">
                        <i class="far fa-trash-alt btn-app-icon"></i>{% translate 'Delete' %}
                      </button>
                      
                      {% if ans.post.isPublished %}
                      <button  data-post-id="{{ans.post.id}}" class="btn btn-app cus-btn-app app-btn-70 toggle-post-pub-btn">
                        <i class="fas fa-eye-slash btn-app-icon"></i>{% translate 'Unpublish' %}
                      </button>
                      {% else %}
                      
                      <button data-post-id="{{ans.post.id}}"  class="btn btn-app cus-btn-app app-btn-70 toggle-post-pub-btn">
                        <i class="fas fa-eye btn-app-icon"></i>{% translate 'Publish' %} 
                      </button>
                      {% endif %}
                      
                      <button data-report-on="{{ans.post.id}}" data-reason-id="{{report.id}}" data-type="A"  class="btn btn-app cus-btn-app app-btn-70 remove-report-btn">
                        <i class="fas fa-times btn-app-icon"></i>{% translate 'Remove' %} 
                      </button>
                      <a href="{% url 'dashboard:post-comments' postID=ans.post.id page=1 %}" class="btn btn-app cus-btn-app app-btn-70">
                        <i class="far fa-comment-alt"></i>{% translate 'Comments' %}
                      </a>
                      
                      <a href="{% url 'dashboard:post-logs' postID=ans.post.id  %}" class="btn btn-app cus-btn-app app-btn-70">
                        <i class="fas fa-clipboard-list"></i>{% translate 'Logs' %}
                      </a>
              
                    </td>
                </tr>
                    {% endfor %}
                    {% endfor %}                
                </tbody>

              </table>
         
              
              <div class="dataTables_paginate paging_simple_numbers table-indcator" id="example2_paginate">
                <ul class="pagination">
                    {% for pg in pages %}
                  <li class="paginate_button page-item 
                  {% if pg == currentPage %}
                  active
                  {%  endif %}
                  ">
                    <a href="{% url 'dashboard:flaged-answers' page=pg %}" aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link">
                      {{pg}}
                    </a>
                  </li>
                 {% endfor %}
                </ul>
              </div>

            </div>
            <!-- /.card-body -->
          </div>
        </div>

      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>

  
 
  
  
  <div class="modal fade" id="del-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="del-modalLabel">{% translate 'Delete Answer' %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" id="delete-form" action="{% url 'dashboard:delete-answer' %}" >
              {% csrf_token %}
            <p>{% translate 'Do you want Delete the Answer with ID' %} <span class="del-id-span" id="del-id-span"></span>
            </p>

            <input type="hidden" name="del-id" id="del-id-inp">
            <input type="hidden" name="page" value="{{currentPage}}">
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{% translate 'Close' %}</button>
          <button type="submit" form="delete-form" class="btn btn-primary" >{% translate 'Delete' %}</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}