{% extends 'utilities/dashboard/_base.html' %}
{% load i18n %}
{% block title %} | {% translate 'Options' %}{% endblock %}

{% block content %}
<div class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title"></h2>
        <button class="btn btn-danger float-right" data-toggle="modal" data-lvl="2" data-target="#restart-modal">{% translate 'Restart Server' %}</button>
      </div>
      <div class="card-body options-card">
        <form action="" method="POST">
          {% csrf_token %}
          <div class="options-group">
            <h4 class="options-title">{% translate 'Options' %} </h4>
            <div class="options-g-body">
               
                
              <div class="switch-p">
                <label class="switch-label">{% translate 'Arabic' %}</label>
                <label class="switch">
                  <input type="checkbox" id="togBtn" name="arabic-pub"
                  {% if araOpt %} 
                  checked
                  {% endif %}
                  >
                  <div class="slider round"></div>
                </label>
              </div>
            </div>
          </div>
          <input type="submit" class="btn btn-primary save-opt-btn" value="{% translate 'Save' %}">
        </form>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</div>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->




<!-- restart -->

<div class="modal fade" id="restart-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{% translate 'Restart Server' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <input type="text" class="form-control" id="restart-input" placeholder="write yes to restart...">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% translate 'Close' %}</button>
        <a href="{% url 'dashboard:restart-server' %}" class="btn btn-secondary"  id="restart-btn">{% translate 'Restart' %}</a>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}