{% extends 'utilities/dashboard/_base.html' %}
{% block title %}{% endblock %}

{% block content %}
{% include 'utilities/_messages.html' %}
<div class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Comments</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 52%;">Text</th>
                                    <th style="width: 11%;">Aouthr</th>
                                    <th style="width: 11%;">Date</th>
                                    <th style="width: 10%;">Id</th>
                                    <th style="width: 15%;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for comment in comments %}
                                <tr>
                                    <td>

                                        <p class="comm-table-con">
                                            {{comment.text}}
                                        </p>
                                    </td>
                                    <td>
                                        <a href="{% url 'profiles:profile-page' userID=comment.author.id %}">
                                            {{comment.author.username}}
                                        </a>
                                    </td>
                                    <td>{{comment.getFormatedDate}}</td>
                                    <td>{{comment.id}}</td>
                                    <td>
                                        <a href="{% url 'dashboard:edit-comment' commentID=comment.id %}" class="btn btn-app cus-btn-app">
                                            <i class="fas fa-edit btn-app-icon"></i>Edit
                                        </a>
                                        <a href="{% url 'content:question-page' questionID=comment.post.getQuestion.id %}{% if comment.post.isAnswer %}#answer-{{comment.post.answer.id}}{% endif %}" class="btn btn-app cus-btn-app">
                                            <i class="fas fa-external-link-alt btn-app-icon"></i>Show
                                        </a>
                                        <button class="btn btn-app cus-btn-app del-table-item" data-lvl="2"
                                            data-toggle="modal" data-target="#del-modal" data-tid="{{comment.id}}">
                                            <i class="far fa-trash-alt btn-app-icon"></i>Delete
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>

                        </table>
                        <div class="dataTables_paginate paging_simple_numbers table-indcator" id="example2_paginate">
                            <ul class="pagination">
                                {% for pg in pages %}
                                <li class="paginate_button page-item 
                                    {% if pg == currentPage %}
                                    active
                                    {%  endif %}
                                    ">
                                    <a href="{% url 'dashboard:post-comments' postID=PID page=pg %}{% if search and order == 'date' %}?search={{search}}&order={{order}}{% elif search and order == 'answers' %}?search={{search}}&order={{order}}{% elif search %}?search={{search}}{% elif order == 'answers' or order == 'date' %}?order={{order}}{% endif %}
                    " aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link">
                                        {{pg}}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

   
<div class="modal fade" id="del-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="del-modalLabel">Ban User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" id="delete-form" action="{% url 'dashboard:delete-comment' %}" >
              {% csrf_token %}
            <p>Do you want Delete the Comment with ID <span class="del-id-span" id="del-id-span"></span>
            </p>

            <input type="hidden" name="del-id" id="del-id-inp">
            <input type="hidden" name="page" value="{{currentPage}}">
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" form="delete-form" class="btn btn-primary" >Delete</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}