{% extends 'utilities/dashboard/_base.html' %}
{% load dashboardLib %}
{% block title %}Questions{% endblock %}

{% block content %} 
{% include 'utilities/_messages.html' %}
    <div class="container-fluid">
      <div class="row">

        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Questions</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="row toolbar-tag-table">
                <div class="col-3">
                  <form id="search-form">
                    <div class="input-group">
                    
                        <input type="search" name="search" class="form-control form-control-md search-inp-t"
                        placeholder="Search by title or id">
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-md btn-default">
                          <i class="fa fa-search"></i>
                        </button>
                    
                 </div>
                    </div>

                </div>
                <div class="col-4">
                  <div class="sort-by-sea">  
                    <span class="sortby-wrd">
                    Sort By:
                    </span>
                
                    <input type="radio" form="search-form" value="date" name="order" id="sortby-date">
                    <label for="sortby-date">Date</label>
                    <input type="radio" form="search-form" value="answers" name="order" id="sortby-answers">
                    <label for="sortby-answers">Answers</label>
                  </div>
                  </form>
                </div>
              </div>
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th style="width:13%">Title</th>
                    <th style="width: 30%;">Text</th>
                    <th style="width: 11%;">Aouthr</th>
                    <th style="width: 8%;">Date</th>
                    <th style="width: 8%;">Answers</th>
                    <th style="width: 8%;">Id</th>
                    <th style="width: 22%;">Action</th>
                  </tr>
                </thead>
                <tbody>
                    {% for que in questions %}
                  <tr>
                    <td>
                        {{que.title}}
                    </td>
                    <td>
                      <p class="que-table-con">
                        {{que.post.text|html2text}}
                    </p>
                    </td>
                    <td>
                      <a href="{% url 'profiles:profile-page' userID=que.post.author.id %}">
                        {{que.post.author.username}}
                      </a>
                    </td>
                    <td>{{que.formatedDate}}</td>
                    <td>{{que.getAcceptedAnswers.count}}</td>
                    <td>{{que.id}}</td>
                    <td>
                      <a class="btn btn-app cus-btn-app" href="{% url 'dashboard:edit-question-page' questionID=que.id %}">
                        <i class="fas fa-edit btn-app-icon"></i>Edit
                      </a>
                      <a href="{% url 'content:question-page' questionID=que.id %}" target="_blank" class="btn btn-app cus-btn-app">
                        <i class="fas fa-external-link-alt btn-app-icon"></i>Show
                      </a>
                      <button class="btn btn-app cus-btn-app del-table-item" data-lvl="2"
                      data-toggle="modal" data-target="#del-modal" data-tid="{{que.id}}">
                        <i class="far fa-trash-alt btn-app-icon"></i>Delete
                      </button>
                      <a href="{% url 'dashboard:question-answers-page' questionID=que.id page=1 %}"  class="btn btn-app cus-btn-app app-btn-70">
                        <i class="fas fa-angle-right btn-app-icon"></i>Answers
                      </a>
                      {% if que.post.isPublished %}
                      <button  data-post-id="{{que.post.id}}" class="btn btn-app cus-btn-app app-btn-70 toggle-post-pub-btn">
                        <i class="fas fa-eye-slash btn-app-icon"></i>Unpublish
                      </button>
                      {% else %}
                      
                      <button data-post-id="{{que.post.id}}"  class="btn btn-app cus-btn-app app-btn-70 toggle-post-pub-btn">
                        <i class="fas fa-eye btn-app-icon"></i>Publish 
                      </button>
                      {% endif %}
                      <a href="{% url 'dashboard:post-comments' postID=que.post.id page=1 %}" class="btn btn-app cus-btn-app app-btn-70">
                        <i class="far fa-comment-alt"></i>Comments
                      </a>
                      <a href="{% url 'dashboard:post-logs' postID=que.post.id  %}" class="btn btn-app cus-btn-app app-btn-70">
                        <i class="fas fa-clipboard-list"></i>Logs
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>

              </table>
              <div class="dataTables_paginate paging_simple_numbers table-indcator" id="example2_paginate">
                <ul class="pagination">
                    {% for pg in pages %}
                  <li class="paginate_button page-item 
                  {% if pg == currentPage %}
                  active
                  {%  endif %}
                  ">
                    <a href="{% url 'dashboard:questions' page=pg %}{% if search and order == 'date' %}?search={{search}}&order={{order}}{% elif search and order == 'answers' %}?search={{search}}&order={{order}}{% elif search %}?search={{search}}{% elif order == 'answers' or order == 'date' %}?order={{order}}{% endif %}
                    " aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link">
                      {{pg}}
                    </a>
                  </li>
                 {% endfor %}
                </ul>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
        </div>

      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->

    <div class="modal fade" id="del-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="del-modalLabel">Delete Badge</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form method="POST" id="delete-form" action="{% url 'dashboard:delete-questison' %}" >
                  {% csrf_token %}
                <p>Do you want Delete the Question with ID <span class="del-id-span" id="del-id-span"></span>
                </p>

                <input type="hidden" name="del-id" id="del-id-inp">
                <input type="hidden" name="page" value="{{currentPage}}">
            </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" form="delete-form" class="btn btn-primary" >Delete</button>
            </div>
          </div>
        </div>
      </div>
{% endblock %}