{% extends 'utilities/dashboard/_base.html' %}
{% load i18n %}

{% block title %}{% translate 'Suggested Tags' %}{% endblock %}

{% block content %}
{% include 'utilities/_messages.html' %}
<div class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{% translate 'Suggested Tags' %}</h3>
                 
                <div class="btn-group float-right ">
                    <a href="{% url 'dashboard:suggested-tags' page=1 language='en' %}" class="btn btn-default">English</a>
                    <a href="{% url 'dashboard:suggested-tags' page=1 language='ar' %}" class="btn btn-default">عربي</a>
                </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 11%;">{% translate 'Name' %}</th>
                                    <th style="width: 42%;">{% translate 'Description' %}</th>
                                    <th style="width: 10%;">{% translate 'Category' %}</th>
                                    <th style="width: 11%;">{% translate 'Aouthr' %}</th>
                                    <th style="width: 11%;">{% translate 'Date' %}</th>
                                    <th style="width: 15%;">{% translate 'Action' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for tag in tags %}
                                <tr>
                                    <td>

                                            {{tag.name}}
                                    </td>
                                    <td>
                                        {{tag.description}}
                                    </td>
                                    <td>
                                        {{tag.category.name}}
                                    </td>
                                    <td>{{tag.getFormatedDate}}</td>
                                    
                                    <td>
                                        <a href="{% url 'profiles:profile-page' userID=tag.suggester.id %}">
                                            {{tag.suggester.username}}
                                        </a>
                                    </td>

                                    <td data-item-id="{{tag.id}}" data-desc="{{tag.description}}" data-name="{{tag.name}}">
                                        <button href="" class="btn btn-app cus-btn-app edit-sug-item-btn"
                                        data-toggle="modal" data-target="#approval-modal" >
                                            <i class="fas fa-edit btn-app-icon"></i>{% translate 'Edit' %}
                                        </button>
                                        <a href="{% url 'dashboard:accept-suggested-tag' page=currentPage itemID=tag.id %}" class="btn btn-app cus-btn-app">
                                            <i class="fas fa-check btn-app-icon"></i>{% translate 'Accept' %}
                                        </a>
                                        <button class="btn btn-app cus-btn-app del-table-item" data-lvl="2"
                                            data-toggle="modal" data-target="#del-modal" data-tid="{{tag.id}}">
                                            <i class="far fa-trash-alt btn-app-icon"></i>{% translate 'Delete' %}
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>

                        </table>
                        <div class="dataTables_paginate paging_simple_numbers table-indcator" id="example2_paginate">
                            <ul class="pagination">
                                {% for pg in pages %}
                                <li class="paginate_button page-item 
                                    {% if pg == currentPage %}
                                    active
                                    {%  endif %}
                                    ">
                                    <a href="{% url 'dashboard:suggested-categories' language=lang page=pg %}" aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link">
                                        {{pg}}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

   
<div class="modal fade" id="del-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="del-modalLabel">{% translate 'Delete Item' %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" id="delete-form" action="{% url 'dashboard:delete-suggested-tag' %}" >
              {% csrf_token %}
            <p>{% translate 'Do you want Delete the Item with ID' %} <span class="del-id-span" id="del-id-span"></span>
            </p>

            <input type="hidden" name="del-id" id="del-id-inp">
            <input type="hidden" name="page" value="{{currentPage}}">
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{% translate 'Close' %}</button>
          <button type="submit" form="delete-form" class="btn btn-primary" >{% translate 'Delete' %}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="approval-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="del-modalLabel">{% translate 'Approval' %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST" id="approval-form" action="{% url 'dashboard:accept-suggested-tag-approval' %}" >
                {% csrf_token %}
          
                <input type="text" class="form-control" name="item-name" placeholder="{% translate 'Name' %}" id="cate-name">
                <textarea name="item-desc" class="form-control" placeholder="{% translate 'Description' %}" id="cate-desc"
                style="margin-top: 10px; min-height:250px;"
                ></textarea>
                <input type="hidden" name="item-id" id="item-id">
                <input type="hidden" name="page" value="{{currentPage}}">
          </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% translate 'Close' %}</button>
            <button type="submit" form="approval-form" class="btn btn-primary" >{% translate 'Accept' %}</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}