{% extends 'utilities/dashboard/_base.html' %}

{% block title %}Tags{% endblock %}

{% block content %} 
{% include 'utilities/_messages.html' %}
<script>
    var jsonTagsUrl="{% url 'dashboard:category-tags' %}";
    var jsonTagsSearchUrl="{% url 'dashboard:search-tags' %}";
</script>

<div class="container-fluid">
        <div class="row">

            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Tags</h3>
                        <div class="btn-group float-right page-options">
                            <a href="{% url 'dashboard:tags' language='en' %}" class="btn btn-default">English</a>
                            <a href="{% url 'dashboard:tags' language='ar' %}" class="btn btn-default">عربي</a>
                        </div>
                                </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row toolbar-tag-table">
                            <div class="col-3">
                                <div class="input-group">
                                    <input type="search" class="form-control form-control-md search-inp-t"
                                        id="search-tags" placeholder="Type your keywords here">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-md btn-default">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="row">
                                    <div class="col-2">
                                        <label>Category lvl 1</label>
                                        <select class="form-control category-select">
                                            {% for cate in categories %}
                                            <option data-sub='{{cate.subs}}' value="{{cate.id}}">{{cate.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-2" style="visibility: hidden;">
                                        <label>Category lvl 2</label>
                                        <select class="form-control category-select">
                                        </select>
                                    </div>
                                    <div class="col-2" style="visibility: hidden;">
                                        <label>Category lvl 3</label>
                                        <select class="form-control category-select">
                                        </select>
                                    </div>
                                    <div class="col-2" style="visibility: hidden;">
                                        <label>Category lvl 4</label>
                                        <select class="form-control category-select">
                                        </select>
                                      </div>
                                    <div class="col-4">
                                        <button class="btn btn-default float-right add-btn" data-lvl="1" data-toggle="modal"
                                            data-target="#add-tag-modal">+</button></div>
                                </div>
                            </div>
                        </div>
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="width:10%">Tag Name</th>
                                    <th>Summary</th>
                                    <th style="width: 6%;">Action</th>
                                </tr>
                            </thead>
                            <tbody id="tags-table">
                               

                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <!-- /.row -->
        
    </div><!-- /.container-fluid -->
       <!-- Modal -->
       <div class="modal fade" id="add-tag-modal" tabindex="-1" role="dialog" aria-labelledby="add-tag-modalLabel"
       aria-hidden="true">
       <div class="modal-dialog" role="document">
           <div class="modal-content">
               <div class="modal-header">
                   <h5 class="modal-title" id="add-tag-modalLabel">Add Tag</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                   </button>
               </div>
               <div class="modal-body">
                   <form method="POST" action="{% url 'dashboard:add-tag' %}" id="add-form">
                    {% csrf_token %}
                    <input type="hidden" name="cate-id"  id="add-cate-id">
                       <input type="text" class="form-control" name="tag-name"  placeholder="Tag Name">
                       <textarea  class="form-control" placeholder="Description" name="tag-desc" style="margin-top: 20px; height:150px;"></textarea>
                   </form>
               </div>
               <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                   <input type="submit" class="btn btn-primary" form="add-form" value="Add" />
               </div>
           </div>
       </div>
   </div>
   <!-- add modal end -->

   <!-- delet category modal -->
   <div class="modal fade" id="del-tag-modal" tabindex="-1" role="dialog" 
       aria-hidden="true">
       <div class="modal-dialog" role="document">
           <div class="modal-content">
               <div class="modal-header">
                   <h5 class="modal-title" id="del-tag-modalLabel">Delete Tag</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                   </button>
               </div>
               <div class="modal-body">
                   <form method="POST"  action="{% url 'dashboard:delete-tag' %}" id="delete-form">
                    {% csrf_token %}
                    <p>Do you want delete <span class="f-bold" id="del-tag-name"></span> Tag?
                       </p>
                       <input type="hidden" name="tag-id" id="del-tag-id">
                   </form>
               </div>
               <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                   <input type="submit" class="btn btn-primary" form="delete-form" value="Delete"/>
               </div>
           </div>
       </div>
   </div>
   <!-- edit modal  -->
   <div class="modal fade" id="edit-tag-modal" tabindex="-1" role="dialog" 
   aria-hidden="true">
   <div class="modal-dialog" role="document">
       <div class="modal-content">
           <div class="modal-header">
               <h5 class="modal-title" id="edit-tag-modalLabel">Edit Tag</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
               </button>
           </div>
           <div class="modal-body">
               <form method="POST" action="{% url 'dashboard:edit-tag' %}" id="edit-form">
                    {% csrf_token %}
                    <input type="hidden" name="tag-id" id="edit-tag-id">
                   <input type="text" class="form-control" name="tag-name" id="edit-tag-name" placeholder="Tag Name">
                   <textarea  class="form-control" placeholder="Description" name="tag-desc" id="edit-tag-desc" style="margin-top: 20px; height:150px;"></textarea>
                             
               </form>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <input type="submit" class="btn btn-primary" form="edit-form" value="Save"/>
           </div>
       </div>
   </div>
</div>

    {% endblock %}