{% extends 'utilities/dashboard/_base.html' %}
{% load i18n %}

{% block title %}{% translate 'Users Management' %}{% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">

          <div class="card">
            <div class="card-header">
              <div class="input-group float-right" style="width: 270px;">
                <input type="search" class="form-control form-control-md "
                    id="search-users" placeholder="{% translate 'search by usernam or id...' %}">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-md btn-default">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
                <script>
                    var searchUserLink="{% url 'dashboard:search-users' %}";
                </script>
            </div>
            </div>
            <div class="card-body">
              <table class="table table-bordered table-striped">
                <thead>
                  <th style="width: 10%;">{% translate 'User name' %}</th>
                  <th style="width: 10%;">{% translate 'Full name' %}</th>
                  <th style="width: 8%;">{% translate 'ID' %}</th>
                  <th style="width: 20%;">{% translate 'Email' %}</th>
                  <th style="width: 20%;">{% translate 'Permissions' %}</th>
                  <th style="width: 32%;">{% translate 'Action' %}</th>
                </thead>
                <tbody  id="users">
               
               
               
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>

  <!-- ban modal -->
  <div class="modal fade" id="ban-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ban-modalLabel">{% translate 'Ban User' %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" id="ban-form" action="{% url 'dashboard:toggle-ban-user' %}">
            {% csrf_token %}
            <p>{% translate 'Do you want Ban' %} <span class="f-bold" id="ban-user-name"></span>?
            </p>
            <input type="hidden" name="user-id" id="ban-user-id">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{% translate 'Close' %}</button>
          <button type="submit" form="ban-form" class="btn btn-primary">{% translate 'Ban' %}</button>
        </div>
      </div>
    </div>
  </div>
  <!-- ban modal -->
  <div class="modal fade" id="unban-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="unban-modalLabel">{% translate 'Unban User' %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" id="unban-form" action="{% url 'dashboard:toggle-ban-user' %}">
            {% csrf_token %}
            <p>{% translate 'Do you want unban' %} <span class="f-bold" id="unban-user-name"></span>?
            </p>
            <input type="hidden" name="user-id" id="unban-user-id">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{% translate 'Close' %}</button>
          <button type="submit" form="unban-form" class="btn btn-primary">{% translate 'unban' %}</button>
        </div>
      </div>
    </div>
  </div>
 <!-- permissions modal -->
 <div class="modal fade" id="permissions-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="permissions-modalLabel">{% translate 'User Premissions' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" id="perm-form" action="{% url 'dashboard:set-user-perm' %}">
            {% csrf_token %}
          <input type="hidden" name="user-id" id="prem-user-id">
          <input type="radio" name="perm" id="su-admin" value="SA"> <label for="su-admin">{% translate 'Super Admin' %}</label>
          <br>
          <input type="radio" name="perm" id="admin" value="A"> <label for="admin">{% translate 'Admin' %}</label>
          <br>
          <input type="radio" name="perm" id="moderator" value="M"> <label for="moderator">{% translate 'Moderator' %}</label>
          <br>
          <input type="radio" name="perm" id="basic-user" value="U"> <label for="basic-user">{% translate 'User' %}</label>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% translate 'Close' %}</button>
        <input type="submit" class="btn btn-primary" form="perm-form"  value="{% translate 'Set' %}">
      </div>
    </div>
  </div>
</div>
<!-- prune modal -->
<div class="modal fade" id="prune-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="permissions-modalLabel">{% translate 'User Premissions' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" id="prune-form" action="{% url 'dashboard:prune-user' %}">
            {% csrf_token %}
          <input type="hidden" name="user-id" id="prune-user-id">
          <input type="checkbox" name="questions" id="qu-ch" > <label for="qu-ch">{% translate 'unpublish all user questions' %}</label>
          <br>
          <input type="checkbox" name="answers" id="an-ch"> <label for="an-ch">{% translate 'unpublish all user answers' %}</label>
          <br>
     
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% translate 'Close' %}</button>
        <input type="submit" class="btn btn-primary" form="prune-form"  value="{% translate 'Prune' %}">
      </div>
    </div>
  </div>
</div>



{% endblock %}