<div class="cards">
 <div class="card" id="IVUETHSMMRDFJAJHONIVQ">
  <div class="card-header">
   <h5 class="card-title">
    Hosted by Digital Ocean
   </h5>
  </div>
  <div class="card-body">
   <center>
    <a href="https://www.digitalocean.com/?refcode=ab7421afdf7c&amp;utm_campaign=Referral_Invite&amp;utm_medium=Referral_Program&amp;utm_source=badge">
     <img alt="DigitalOcean Referral Badge" src="https://web-platforms.sfo2.digitaloceanspaces.com/WWW/Badge%203.svg"/>
    </a>
   </center>
  </div>
 </div>
</div>
