{% extends 'utilities/_base.html' %}
{% load i18n %}
{% block title %}{% translate 'Suggest Tag' %} {% endblock %}
{% block content %}
<div class="column-no-border col-5-pd">
    {% for msg in messages %}
    <p class="success-p-s">
        {{msg}}
    </p>
    {% endfor %}
    <h2 class="center-title" style="float:none;">{% translate 'Suggest Tag' %}</h2>
    <div class="categoriis-lists" style="margin-bottom: 10px;">

        <div class="custom-select category-select-toolbar" data-cur-val="1">
            <button class="btn btn-primary btn-select">
                <span class="selected-span">{{categories.first.name}}</span>
                <i class="fas fa-caret-down select-arrow"></i>

            </button>
            <ul class="custom-select-list custom-scrollbar">
                {% for cate in categories %}
                <li class="custom-select-item" data-cate-id="{{cate.id}}" data-sub='{{cate.subs}}'>
                    {{cate.name}}
                </li>
                {% endfor %}

            </ul>
        </div>
        <div class="custom-select category-select-toolbar showed">
            <button class="btn btn-primary btn-select">
                <span class="selected-span">{% translate 'Select Category' %}</span>
                <i class="fas fa-caret-down select-arrow"></i>
                                
            </button>
            <ul class="custom-select-list custom-scrollbar">
                
                {% for cate in categories.first.subCategoies %}
                <li class="custom-select-item" data-cate-id="{{cate.id}}" data-sub='{{cate.subs}}'>
                    {{cate.name}}
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="custom-select category-select-toolbar" data-cur-val="1">
            <button class="btn btn-primary btn-select">
                <span class="selected-span">{% translate 'Select Category' %}</span>
                <i class="fas fa-caret-down select-arrow"></i>

            </button>
            <ul class="custom-select-list custom-scrollbar">

            </ul>
        </div>
        <div class="custom-select category-select-toolbar" data-cur-val="1">
            <button class="btn btn-primary btn-select">
                <span class="selected-span">{% translate 'Select Category' %}</span>
                <i class="fas fa-caret-down select-arrow"></i>

            </button>
            <ul class="custom-select-list custom-scrollbar">
            </ul>
        </div>
        <input form="sug-form" type="hidden" class="add-que-h-inp" name="category-id" id="category-id" value="{% if not category %}{{categories.first.id}}{% else %}{{category.id}}{% endif %}">

    </div>

    <form method="POST" id="sug-form">
    {% csrf_token %}
    <input type="text" class="form-control custom-input" placeholder="{% translate 'Tag name...' %}" name="tag-name">
    <textarea type="text" name="tag-desc" class="form-control custom-input suggest-msg-inp custom-scrollbar"
        placeholder="{% translate 'Tag Description' %}"></textarea>

    <button type="submit" class="btn btn-primary btn-sm primary-button add-que-button">
        {% translate 'Suggest' %}
    </button>
</form>

</div>
{% endblock %}